<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="fisio-web">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <dependent-module archiveName="fisio-core-1.0-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/fisio-core/fisio-core">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="fisio-infra-1.0-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/fisio-infra/fisio-infra">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="fisio-model-1.0-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/fisio-model/fisio-model">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="fisio-rest-1.0-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/fisio-rest/fisio-rest">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="java-output-path" value="/fisio-web/target/classes"/>
        <property name="context-root" value="fisio-web"/>
    </wb-module>
</project-modules>
