
.emp1 .fc-event-inner {
    background: #49d086;
}

a.emp1 {
   background: #49d086!important;
   border-color: #49d086!important;
}

.emp2 .fc-event-inner {
    background: #4682B4;
}

a.emp2 {
   background: #4682B4!important;
   border-color: #4682B4!important;
}

.emp3 .fc-event-inner {
    background: #5F9EA0;
}

a.emp3 {
   background: #5F9EA0!important;
   border-color: #5F9EA0!important;
}

.emp4 .fc-event-inner {
    background: #B8860B;
}

a.emp4 {
   background: #B8860B!important;
   border-color: #B8860B!important;
}

.emp5 .fc-event-inner {
    background: #6C7B8B;
}

a.emp5 {
   background: #6C7B8B!important;
   border-color: #6C7B8B!important;
}

.emp6 .fc-event-inner {
    background: #EE7942;
}

a.emp6 {
   background: #EE7942!important;
   border-color: #EE7942!important;
}

.emp7 .fc-event-inner {
    background: #ac9caf;
}

a.emp7 {
   background: #ac9caf!important;
   border-color: #ac9caf!important;
}

.emp8 .fc-event-inner {
    background: #9b9676;
}

a.emp8 {
   background: #9b9676!important;
   border-color: #9b9676!important;
}

.falta .fc-event-inner {
    background: #EE0000;
}

a.falta {
   background: #EE0000!important;
   border-color: #EE0000!important;
}

.defautl .fc-event-inner {
    background: #c1595f;
}

a.defautl {
   background: #c1595f!important;
   border-color: #c1595f!important;
}