<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>PrimeFaces Spark</title>
        <h:outputScript name="js/layout.js" library="spark-layout" />
        
        <h:outputText value="&lt;!--[if gte IE 9]&gt;" escape="false" />
            <style type="text/css">
                /* styles for IE 9 */
            </style>
        <h:outputText value="&lt;![endif]--&gt;" escape="false" />

        <ui:insert name="head" />
    </h:head>

    <h:body>
        
        <div id="layout-portlets-cover">
            <div class="other-pages-box Container40 Responsive50 MarAuto Fnone TexAlCenter ShadowGray MarTop10"
                 style="margin-top:5%; background-image:url(/spark/resources/spark-layout/images/loginpageillust.svg); background-repeat:no-repeat; background-position:center; background-size:cover;">
                <div class="Container90 Fnone MarAuto TexAlCenter">
                    <div class="EmptyBox50"></div>
                    <h:graphicImage name="images/access-denied.svg" library="spark-layout" styleClass="MarAuto MarTop20 Wid30"/>
                    <span class="Fs40 Wid100 DispBlock red">#{msg['Acesso_Negado']}</span>
                    <span class="Wid100 DispBlock Fs30 red">#{msg['Por_favor_check_sua_permissao']}!</span><br/>
                    <span class="Wid100 DispBlock Fs18 red">#{msg['Desculpa']}, #{msg['Mas_voce_nao_tem_acesso_a_esta_pagina']}.<br/>
                    </span>
                    <div class="EmptyBox30"></div>
                    <p:button  value="#{msg['Voltar_ao_Sitema']}" styleClass="Fs16 RedButton" href="index.xhtml"></p:button>
                    <div class="EmptyBox50"></div>
                </div>
            </div>
        </div>
        
        <h:outputStylesheet name="css/core-layout.css" library="spark-layout" />
        <h:outputStylesheet name="css/font-awesome.css" library="spark-layout" />
        <h:outputStylesheet name="css/animate.css" library="spark-layout" />
        <h:outputStylesheet name="css/spark-layout.css" library="spark-layout" />
    </h:body>

</html>