<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

	<f:view contentType="text/html">
		<h:head>
	        <f:facet name="first">
	        	<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
				<title>fisio</title>
	        </f:facet>
	        <style type="text/css">
	            .ui-layout-north {
	                z-index:20 !important;
	                overflow:visible !important;;
	            }
	            .ui-layout-north .ui-layout-unit-content {
	                overflow:visible !important;
	            }
	            .ui-dialog{
	            	position: absolute !important;
				}
	        </style>
	        <script type="text/javascript" src="#{request.contextPath}/js/locale-primefaces.js" />
	        <script type="text/javascript" src="#{request.contextPath}/js/script.js" />
	        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/piloto.css" />
	        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/sist_sesau.css" />
	        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/alinhamento.css" />
	        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/prime-customizado.css" />
	    </h:head>
		
		<h:body>
			<div id="cinta">
			    <div id="topo">
			        <div id="topo_bg2">
			            <div id="logo_sesau">
			            </div>
			        </div>
			    </div>
			    
			    <div id="titulo">
					<div id="nome_sist" style="font-size: 24px; font-weight: bold; color: #357bae;">fisio-Code</div>
			    </div>
			    <div id="baixo">
			    	<div id="baixo2">
			        	<div id="baixo3">
					        <h:form id="formularioMensagens">
								<p:growl id="mensagem" showDetail="true" life="10000" />
							</h:form>
							<p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();" />  
							<p:dialog modal="true" widgetVar="statusDialog" draggable="false" closable="false" style="width:60px; height:60px;">
							    <p:graphicImage value="/imagens/ajaxloading.gif" style="width:60px; height:60px;" />
							</p:dialog>
					        <div id="conteudo">
								<div id="mensagens">
						        	<ui:insert name="mensagens" />
						    	</div>
				        		<ui:insert name="dialogos" />
					        	<ui:insert name="pagina" />
					        	<ui:insert name="area_personalizada" />
					        </div>
						</div>
					</div>
				</div>
			</div>
		</h:body>
	</f:view>
	
</html>