<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ps="http://primefaces.org/spark"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:form id="formularioLayout">
		<ps:menu>
			<p:submenu label="Colors" icon="fa fa-paint-brush" styleClass="DispNone">
				<p:menuitem value="Green" icon="fa fa-paint-brush"
					actionListener="#{themeView.change('green')}" ajax="false" />
				<p:menuitem value="Blue" icon="fa fa-paint-brush"
					actionListener="#{themeView.change('blue')}" ajax="false" />
				<p:menuitem value="Orange" icon="fa fa-paint-brush"
					actionListener="#{themeView.change('orange')}" ajax="false" />
				<p:menuitem value="Red" icon="fa fa-paint-brush"
					actionListener="#{themeView.change('red')}" ajax="false" />
			</p:submenu>

			<p:menuitem value="#{msg['Dashboard']}" icon="fa fa-laptop" url="/paginas/index.xhtml"/>
			
			<p:separator />

			<p:submenu label="#{msg['Cadastro']}" icon="fa fa-rocket">
				<p:menuitem id="menuItemPessoa" value="#{msg['Paciente']}"
					url="/paginas/pessoa.xhtml"
					rendered="#{usuarioBean.possuiPermissao('ROLE_PESSOA_CONSULTAR')}" />
				<p:menuitem id="menuItemUsuario" value="#{msg['Usuario']}"
					url="/paginas/usuario.xhtml" 
					rendered="#{usuarioBean.possuiPermissao('ROLE_USUARIO_CONSULTAR')}"/>
				<p:menuitem id="menuItemEspecialidade" value="#{msg['Especialidade']}"
					url="/paginas/especialidade.xhtml"/>
				<p:menuitem id="menuItemMedicos" value="#{msg['Medicos']}"
					url="/paginas/medicos.xhtml"
					rendered="#{usuarioBean.possuiPermissao('ROLE_ESPECIALIDADE_CONSULTAR')}" />
				<p:menuitem id="menuItemEmpresa" value="#{msg['Empresa']}"
					url="/paginas/empresa.xhtml"
					rendered="#{usuarioBean.possuiPermissao('ROLE_EMPRESA_CONSULTAR')}"/>
				<p:menuitem id="menuItemBanco" value="#{msg['Banco']}"
					url="/paginas/banco.xhtml" 
					rendered="#{usuarioBean.possuiPermissao('ROLE_BANCO_CONSULTAR')}"/>
				<p:menuitem id="menuItemCategoria" value="#{msg['Categoria']}"
					url="/paginas/categoria.xhtml"
					rendered="#{usuarioBean.possuiPermissao('ROLE_CATEGORIA_CONSULTAR')}"/>
				<p:menuitem id="menuItemProfissao" value="#{msg['Profissao']}"
					url="/paginas/profissao.xhtml" 
					rendered="#{usuarioBean.possuiPermissao('ROLE_PROFISSAO_CONSULTAR')}"/>
				<p:menuitem id="menuItemFormaPagamento" value="#{msg['Forma_de_Pagamento']}"
					url="/paginas/formaPagamento.xhtml"
					rendered="#{usuarioBean.possuiPermissao('ROLE_FORMA_DE_PAGAMENTO_CONSULTAR')}"/>
				<p:menuitem id="menuHorario" value="#{msg['Horario']}"
					url="/paginas/horario.xhtml"/>
			</p:submenu>

			<p:separator />
			
			<p:menuitem id="menuItemAgenda" value="#{msg['Calendario']}" icon="fa fa-calendar"
					url="/paginas/agenda.xhtml"
					rendered="#{usuarioBean.possuiPermissao('ROLE_AGENDA_CONSULTAR')}"/>
			
			<p:separator />
			
			<p:submenu id="menuItemAvaliacao" label="#{msg['Avaliacao']}" icon="fa fa-file-text">
					<p:menuitem value="#{msg['Biomecanica']}" styleClass="fa fa-chain"
						url="/paginas/biomecanica.xhtml" 
						rendered="#{usuarioBean.possuiPermissao('ROLE_BIOMECANICA_CONSULTAR')}"/>
					<p:menuitem value="#{msg['Fisioterapia']}" styleClass="fa fa-chain"
						url="/paginas/fisioterapia.xhtml"
						rendered="#{usuarioBean.possuiPermissao('ROLE_FISIOTERAPIA_CONSULTAR')}" />
				</p:submenu>

			<p:separator />
			
			<p:menuitem id="menuItemAcompanhamento" value="#{msg['Evolucao']}" icon="fa fa-file-text-o"
					url="/paginas/acompanhamento.xhtml"
					rendered="#{usuarioBean.possuiPermissao('ROLE_ACOMPANHAMENTO_CONSULTAR')}"/>
					
			<p:separator />
			
			<p:submenu label="#{msg['Financeiro']}" icon="fa fa-bar-chart">
				<p:menuitem id="menuItemFluxoCaixa" value="#{msg['Fluxo_de_Caixa']}"
					url="/paginas/fluxoCaixa.xhtml" 
					rendered="#{usuarioBean.possuiPermissao('ROLE_FLUXO_DE_CAIXA_CONSULTAR')}"/>
				<p:menuitem id="menuItemFluxoBancario" value="#{msg['Fluxo_Bancario']}"
					url="/paginas/fluxoBancario.xhtml" 
					rendered="#{usuarioBean.possuiPermissao('ROLE_FLUXO_BANCARIO_CONSULTAR')}"/>
				<p:menuitem id="menuItemContasPagar" value="#{msg['Contas_a_Pagar']}"
					url="/paginas/contasPagar.xhtml" 
					rendered="#{usuarioBean.possuiPermissao('ROLE_CONTAS_A_PAGAR_CONSULTAR')}"/>
			</p:submenu>

			<p:separator  />
			
			<p:submenu label="#{msg['Relatorio']}" icon="fa fa-file-pdf-o" rendered="#{usuarioBean.possuiPermissao('ROLE_RELATORIO_CONSULTAR')}">
				<p:menuitem id="menuItemPessoaRelatorio" value="#{msg['Paciente']}"
						url="/paginas/pessoaRelatorio.xhtml"  rendered="#{usuarioBean.possuiPermissao('ROLE_PESSOA_RELATORIO_CONSULTAR')}"/>
				<p:menuitem id="menuItemAtendimentoRelatorio" value="#{msg['Atendimentos']}"
						url="/paginas/atendimentoRelatorio.xhtml"  rendered="#{usuarioBean.possuiPermissao('ROLE_FLUXO_DE_CAIXA_RELATORIO_CONSULTAR')}"/>
				<p:menuitem id="menuItemFluxoCaixaRelatorio" value="#{msg['Fluxo_de_Caixa']}"
						url="/paginas/fluxoCaixaRelatorio.xhtml"  rendered="#{usuarioBean.possuiPermissao('ROLE_FLUXO_DE_CAIXA_RELATORIO_CONSULTAR')}"/>
				<p:menuitem id="menuItemFaltasRelatorio" value="#{msg['Faltas']}"
						url="/paginas/faltasRelatorio.xhtml"  rendered="#{usuarioBean.possuiPermissao('ROLE_PESSOA_RELATORIO_CONSULTAR')}"/>
			</p:submenu>
			
			<p:separator  />
			
			<p:submenu label="#{msg['Controle_de_Acesso']}" icon="fa fa-group">
				<p:menuitem id="menuItemPerfil" value="Perfis"
					url="/paginas/perfil.xhtml" 
					rendered="#{usuarioBean.possuiPermissao('ROLE_PERFIL_CONSULTAR')}"/> 
				<p:menuitem id="menuItemPermissao" value="Permissões" 
					url="/paginas/permissao.xhtml"
					rendered="#{usuarioBean.possuiPermissao('ROLE_PERMISSAO_CONSULTAR')}"/> 

				<p:menuitem id="menuItemAcao" value="Ações"
					url="/paginas/acao.xhtml"
					rendered="#{usuarioBean.possuiPermissao('ROLE_ACAO_CONSULTAR')}"/> 
				<p:menuitem id="menuItemObjeto" value="Objetos"
					url="/paginas/objeto.xhtml"
					rendered="#{usuarioBean.possuiPermissao('ROLE_OBJETO_CONSULTAR')}"/> 
			</p:submenu>

		</ps:menu>
	</h:form>

</ui:composition>
