<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

	<f:view contentType="text/html">
	<h:head>
		<f:facet name="first">
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<meta name="viewport"
				content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
			<meta name="apple-mobile-web-app-capable" content="yes" />
		</f:facet>
		<title>Cinemática Esportiva - Maceió, Alagoas.</title>
		<h:outputScript name="js/layout.js" library="spark-layout" />

		<h:outputText value="&lt;!--[if gte IE 9]&gt;" escape="false" />
		<style type="text/css">
		/* styles for IE 9 */
		</style>
		<h:outputText value="&lt;![endif]--&gt;" escape="false" />

		<ui:insert name="head" />
	</h:head>

		<h:body>
			 <div id="layout-portlets-cover">
            <div class="other-pages-box Container40 Responsive50 MarAuto Fnone TexAlCenter ShadowGray MarTop10"
                 style="margin-top:5%; background-image:url(/spark/resources/spark-layout/images/loginpageillust.svg); background-repeat:no-repeat; background-position:center; background-size:cover;">
                <div class="Container90 Fnone MarAuto TexAlCenter">
                    <div class="EmptyBox50"></div>
                    <!-- <h:graphicImage name="images/LOGO.png" library="spark-layout" styleClass="MarAuto MarTop20 MarBot10"
									style="max-width: 350px; /* Máximo da largura da imagem */
										   width: 100%;
										   max-height: 200px; /* Máximo da altura da imagem */
										   min-height: auto; /* Mínimo da altura, por padrão “auto” */
										   background-size: 100%;
										   background-repeat: no-repeat;"/> -->
					<table width="100%" border="0" cellspacing="0" cellpadding="0"
						style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse !important;">
						<tbody>
							<tr>
								<td align="center"
									style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
									<img
									src="https://d335luupugsy2.cloudfront.net/cms/files/60984/1551374800/$dz124gvmuzw"
									alt="" width="300" border="0"
									style="-ms-interpolation-mode: bicubic; border: 0; line-height: 100%; outline: none; display: block; max-width: 400px; height: auto;"
									class="img-max" />
								</td>
							</tr>
						</tbody>
					</table>
					<div class="EmptyBox20"></div>
                    		<h:form id="formularioMensagens">
								<p:messages id="mensagem" showDetail="true" life="200" closable="true" />
							</h:form>
					        <div id="conteudo">
								<div id="mensagens">
						        	<ui:insert name="mensagens" />
						    	</div>
				        		<ui:insert name="dialogos" />
					        	<ui:insert name="content" />
					        	<ui:insert name="area_personalizada" />
					        </div>
						</div>
					</div>
				</div>
        <h:outputStylesheet name="css/core-layout.css" library="spark-layout" />
        <h:outputStylesheet name="css/font-awesome.css" library="spark-layout" />
        <h:outputStylesheet name="css/animate.css" library="spark-layout" />
        <h:outputStylesheet name="css/spark-layout#{themeView.color}.css" library="spark-layout" />
    </h:body>
	</f:view>
	
</html>