<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<f:view contentType="text/html">
    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>Cinemática Esportiva - Maceió, Alagoas.</title>
       	 <h:outputScript name="js/layout.js" library="spark-layout" />
		 <h:outputScript name="js/locale-primefaces.js" library="spark-layout" />
        <ui:insert name="head" />
		<link type="text/css" rel="stylesheet"
			href="#{request.contextPath}/css/agenda.css" />
	</h:head>

    <h:body>    
        <div id="menu-mask"></div>

        <ui:include src="topbar.xhtml" />

        <ui:include src="layout_menu.xhtml" />

        <div id="layout-portlets-cover">
			<h:form id="formularioMensagens">
				 <p:messages id="mensagem" showDetail="true" life="200" closable="true" /> 
			</h:form>
		<div id="conteudo">
			<div id="mensagens">
				<ui:insert name="mensagens" />
			</div>
			<ui:insert name="dialogos" />
			<ui:insert name="content" />
			<ui:insert name="area_personalizada" />
		</div>

		<div class="layout-portlets-box TexAlCenter">
                <span class="Fs14 gray FontRalewayRegular">Cinemática Esportiva Inc  |   All rights reserved.</span>
        </div>
        </div>

        <p:ajaxStatus style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
            <f:facet name="start">
                <p:graphicImage name="images/preloader.gif" library="spark-layout"/>
            </f:facet>

            <f:facet name="complete">
                <h:outputText value="" />
            </f:facet>
        </p:ajaxStatus>

		<h:outputStylesheet name="css/core-layout.css" library="spark-layout" />
        <h:outputStylesheet name="css/font-awesome.css" library="spark-layout" />
        <h:outputStylesheet name="css/animate.css" library="spark-layout" />
        <h:outputStylesheet name="css/spark-layout#{themeView.color}.css" library="spark-layout" />
    </h:body>
</f:view>
</html>