<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    <ui:param name="bean" value="#{usuarioBean}" />
    <div id="layout-topbar" class="ShadowGray">
    	<ui:define name="content" />
    	<div id="layout-topbar-indent">
        	<!--  <a href="index.xhtml"><h:graphicImage name="images/LOGO.png" styleClass="Fleft" library="spark-layout" id="logo" class="Fleft" 
        	   style=" max-width: 100px; /* Máximo da largura da imagem */
					   width: 100%;
					   margin-top: 12px;
					   max-height: 80px; /* Máximo da altura da imagem */
					   min-height: auto; /* Mínimo da altura, por padrão “auto” */
					   background-size: 100%;
					   background-repeat: no-repeat;"/></a> -->
            <a href="#" id="mobile-menu-button" class="BordRad3 white ShowOnMobile"><i class="fa fa-bars"></i> Menu</a>
            <a href="#" id="mobile-menu-button-gray" class="BordRad3 white ShowOnMobile"><i class="fa fa-caret-down"></i> Top Menu</a>
            
		<h:form id="formularioMenuPrincipal">
            <ul id="layout-topbar-menu">
            	<li>
                	<h:commandLink sclass="Animated05" action="#{loginBean.logout()}"><i class="fa fa-sign-out"></i>#{msg['Sair']}</h:commandLink>
                </li>
                <li class="fa fa-ellipsis-v menu-separator"></li>
                <li>
                	<a href="configuracoes.xhtml" class="Animated05" tabindex="-1"><i class="fa fa-gear fa-spin"></i> Configuração</a>
                </li>
                 <li class="fa fa-ellipsis-v menu-separator"></li>
                 <li>
                 	<a href="#" class="Animated05"  onclick="PF('dlg1').show();"><i class="fa fa-exchange"></i> #{msg['Trocar_a_Senha']}</a>
                 </li>
				<p:dialog header="#{msg['Trocar_a_Senha']}" widgetVar="dlg1" modal="true" height="150">
						<h:panelGrid columns="1">
							<h:outputLabel value="#{msg['Digite_a_nova_senha']}: "/>
							<p:password id="password" value="#{loginBean.novaSenha}"/>
							<p:commandButton value="#{msg['Salvar']}" styleClass="TexAlCenter"
								icon="ui-icon-disk fa fa-save Fs14 white"
								oncomplete="PF('dlg1').hide();"
								actionListener="#{loginBean.alterarSenha}"
								update="#{p:component('formularioMensagens')}"/>
						</h:panelGrid>
				</p:dialog>
                <li class="fa fa-ellipsis-v menu-separator"></li>
             	<li> 
                	<a class="Animated05 CursPointer"><i class="fa fa-user"></i><h:outputLabel value=" #{loginBean.userName}"/>, #{msg['Bem_Vindo']} <i class="fa fa-chevron-down Fs14 Fright ShowOnMobile"></i></a>
                </li>
            </ul>
           </h:form>
        </div>
    </div>
    
</ui:composition>
