<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ps="http://primefaces.org/spark"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/paginas/template/template.xhtml">

	<ui:param name="bean" value="#{agendaBean}" />

	<ui:define name="content">
		<h:panelGroup id="panelGroupPersistir">
			<p:fieldset id="fieldSetEntidadePersistir"
				styleClass="layout-portlets-box" legend="#{msg['Agenda']}"
				toggleable="true" toggleSpeed="500" collapsed="false"
				widgetVar="fieldsetPersistir"
				rendered="#{usuarioBean.possuiPermissao('ROLE_AGENDA_CONSULTAR')}">
				<p:toolbar>
					<f:facet name="right">
						<h:form id="formBuscar">
							<h:panelGrid columns="3"
								styleClass="DispTableCell{ display:table-cell; vertical-align:middle;}"
								rendered="#{usuarioBean.possuiPermissao('ROLE_AGENDA_TODOS')}">
								<h:outputText value="#{msg['Buscar']}" />
								<p:selectOneMenu value="#{agendaBean.entidade.funcionario}"
									effect="fade" filter="true" id="Funcionario"
									style="width: 8em;" converter="#{agendaBean.pessoaConversor}">
									<f:selectItem itemLabel="#{msg['Selecione']}"
										itemValue="#{null}" />
									<f:selectItems value="#{bean.listaFuncionarioBuscar}"
										var="item" itemLabel="#{item.labelCampo}"
										itemValue="#{item.objetoCampo}" />
								</p:selectOneMenu>
								<p:commandButton update=":panelGroupPersistir"
									actionListener="#{bean.pesquisarPorFuncionario()}"
									icon="fa fa-search white" />
							</h:panelGrid>
						</h:form>
					</f:facet>
				</p:toolbar>
				<h:form id="formularioEntidadePersistir" prependId="false"
					enctype="multipart/form-data">
					<div
						class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
						<h:panelGrid columns="3" style="margin-top:14px;"
							styleClass="DispTableCell{ display:table-cell; vertical-align:middle;}"
							rendered="#{agendaBean.idEmpresa == 1}">
							<th
								style="background-color: #4682B4; color: #feffff; font-weight: bold; width: 3%">
							</th>
							<th style="width: 10%">Jeymison Morais</th>
							<th
								style="background-color: #49d086; color: #feffff; font-weight: bold; width: 3%">
							</th>
							<th style="width: 10%">Guilherme Lyra</th>
							<th
								style="background-color: #5F9EA0; color: #feffff; font-weight: bold; width: 3%">
							</th>
							<th style="width: 10%">Sarah Luna</th>
							<th
								style="background-color: #B8860B; color: #feffff; font-weight: bold; width: 3%">
							</th>
							<th style="width: 10%">Bergson</th>
							<th
								style="background-color: #EE7942; color: #feffff; font-weight: bold; width: 3%">
							</th>
							<th style="width: 10%">Bruno Lucena</th>
							<th
								style="background-color: #6C7B8B; color: #feffff; font-weight: bold; width: 3%">
							</th>
							<th style="width: 10%">Estagiário</th>
							<th
								style="background-color: #9b9676; color: #feffff; font-weight: bold; width: 3%">
							</th>
							<th style="width: 10%">Fellipe Albuquerque</th>
							<th
								style="background-color: #EE0000; color: #feffff; font-weight: bold; width: 3%">
							</th>
							<th style="width: 10%">Faltou</th>
						</h:panelGrid>
						<h:panelGrid columns="3" style="margin-top:14px;"
							styleClass="DispTableCell{ display:table-cell; vertical-align:middle;}"
							rendered="#{agendaBean.idEmpresa == 2}">
							<th
								style="background-color: #D8BFD8; color: #feffff; font-weight: bold; width: 3%">
							</th>
							<th style="width: 10%">Jackeline Barros</th>
							<th
								style="background-color: #EE0000; color: #feffff; font-weight: bold; width: 3%">
							</th>
							<th style="width: 2%">Faltou</th>
						</h:panelGrid>
						<h:panelGrid columnClasses="value">
							<div>.</div>
							<p:schedule id="schedule" value="#{bean.eventModel}"
								view="basicDay" widgetVar="myschedule" locale="pt"
								timeZone="GMT-3">
								<p:ajax event="dateSelect" listener="#{agendaBean.onDateSelect}"
									oncomplete="PF('eventDialog').show();" update="eventDetails" />
								<p:ajax event="eventSelect"
									listener="#{agendaBean.onEventSelect}"
									oncomplete="PF('eventDialog').show();" update="eventDetails" />
								<p:ajax event="eventMove" listener="#{agendaBean.onEventMove}"
									update="schedule" />
								<p:ajax event="eventResize"
									listener="#{agendaBean.onEventResize}" update="schedule" />

							</p:schedule>
						</h:panelGrid>
						<p:dialog widgetVar="eventDialog" header="" showEffect="clip"
							hideEffect="clip"
							rendered="#{usuarioBean.possuiPermissao('ROLE_AGENDA_INSERIR')}">
							<h:panelGrid id="eventDetails" columns="2">
								<h:outputLabel value="#{msg['Paciente']}: " />
								<p:selectOneMenu value="#{agendaBean.entidade.pessoa}"
									effect="fade" id="Pessoa"
									converter="#{agendaBean.pessoaConversor}" filter="true"
									style="width: 9em;">
									<f:selectItem itemLabel="#{msg['Selecione']}"
										itemValue="#{null}" />
									<f:selectItems value="#{bean.listaPessoas}" var="item"
										itemLabel="#{item.labelCampo}" itemValue="#{item.objetoCampo}" />
								</p:selectOneMenu>

								<h:outputLabel value="#{msg['Especialidade']}:" />
								<p:selectOneMenu value="#{agendaBean.entidade.especialidade}"
									filter="true" effect="fade" id="Especialidade"
									converter="#{agendaBean.especialidadeConversor}"
									filterMatchMode="startsWith">
									<f:selectItem itemLabel="#{msg['Selecione']}"
										itemValue="#{null}" />
									<f:selectItems value="#{bean.listaEspecialidade}" var="item"
										itemLabel="#{item.labelCampo}" itemValue="#{item.objetoCampo}" />
								</p:selectOneMenu>

								<h:outputLabel value="#{msg['Funcionario']}: " />
								<p:selectOneMenu value="#{agendaBean.entidade.funcionario}"
									effect="fade" filter="true" id="Funcionario"
									converter="#{agendaBean.pessoaConversor}">
									<f:selectItem itemLabel="#{msg['Selecione']}"
										itemValue="#{null}" />
									<f:selectItems value="#{bean.listaFuncionario}" var="item"
										itemLabel="#{item.labelCampo}" itemValue="#{item.objetoCampo}" />
									<p:ajax listener="#{agendaBean.onHorarioChange}"
										update="Horario" />
								</p:selectOneMenu>

								<p:outputLabel value="#{msg['Inicio']}:" />
								<p:calendar value="#{agendaBean.entidade.dataInicio}"
									pattern="dd/MM/yyyy" size="17" locale="pt">
									<p:ajax event="dateSelect"
										listener="#{agendaBean.onHorarioChange}" update="Horario" />
								</p:calendar>

								<h:outputLabel value="#{msg['Horario']}: " />
								<p:selectOneMenu value="#{agendaBean.entidade.horario}"
									filter="true" effect="fade" id="Horario"
									converter="#{agendaBean.horarioConversor}"
									filterMatchMode="startsWith">
									<f:selectItem itemLabel="#{msg['Selecione']}"
										itemValue="#{null}" />
									<f:selectItems value="#{bean.listaHorario}" var="item"
										itemLabel="#{item.labelCampo}" itemValue="#{item.objetoCampo}" />
								</p:selectOneMenu>

								<p:outputLabel value="#{msg['Faltou?']}" />
								<p:selectBooleanCheckbox value="#{agendaBean.entidade.falta}" />

								<p:outputLabel value="#{msg['Dia_Todo']}" />
								<p:selectBooleanCheckbox value="#{agendaBean.entidade.diaTodo}" />

							</h:panelGrid>
							<h:panelGrid columns="6">
								<p:commandButton id="addButton"
									actionListener="#{agendaBean.addEvent}"
									icon="ui-icon-disk fa fa-save Fs14 white"
									update=":#{p:component('formularioMensagens')},:panelGroupPersistir"
									oncomplete="PF('myschedule').update();PF('eventDialog').hide();" />

								<p:commandButton id="btnEvolucao"
									actionListener="#{bean.evolucao(bean.entidade)}"
									update=":#{p:component('formularioMensagens')}, :panelGroupPersistir"
									styleClass="BlueButton" disabled="#{agendaBean.btnRedirect}"
									icon="fa fa-street-view Fs14 white" />

								<p:commandButton id="btnCopiar" icon="fa fa-copy Fs14 white"
									styleClass="BrownButton" onclick="PF('dlgCopy').show();" />

								<p:commandButton id="btnFluxoCaixa"
									actionListener="#{bean.fluxoCaixa(bean.entidade)}"
									update=":#{p:component('formularioMensagens')}, :panelGroupPersistir"
									styleClass="OrangeButton" disabled="#{agendaBean.btnRedirect}"
									icon="fa fa-dollar Fs14 white" />

								<p:commandButton id="btnExcluir"
									actionListener="#{bean.excluir(bean.entidade)}"
									update=":#{p:component('formularioMensagens')}, :panelGroupPersistir"
									styleClass="RedButton" icon="fa fa-trash Fs14 white" />
							</h:panelGrid>
						</p:dialog>
						<p:dialog header="" widgetVar="dlgCopy" minHeight="40"
							modal="false">
							<h:panelGrid id="idCopy" columns="4">
								<p:outputLabel value="#{msg['Data']}:" />
								<p:calendar value="#{agendaBean.dataInicioCopia}"
									pattern="dd/MM/yyyy" locale="pt">
									<p:ajax event="dateSelect"
										listener="#{agendaBean.onHorarioChange}" update="HorarioCopy" />
								</p:calendar>

								<p:selectOneMenu value="#{agendaBean.idHorario}" filter="true"
									effect="fade" id="HorarioCopy" filterMatchMode="startsWith">
									<f:selectItem itemLabel="#{msg['Selecione']}"
										itemValue="#{null}" />
									<f:selectItems value="#{bean.listaHorario}" var="item"
										itemLabel="#{item.labelCampo}"
										itemValue="#{item.objetoCampo.id}" />
								</p:selectOneMenu>
								<p:commandButton id="btnSaveCopy"
									actionListener="#{bean.copiar(bean.entidade)}"
									icon="fa fa-check Fs14 white"
									update=":#{p:component('formularioMensagens')}, :panelGroupPersistir" />
							</h:panelGrid>
						</p:dialog>
					</div>
				</h:form>
			</p:fieldset>
			<p:spacer height="20" />
		</h:panelGroup>
	</ui:define>
</ui:composition>
