<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ps="http://primefaces.org/spark"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/paginas/template/template.xhtml">

	<ui:param name="bean" value="#{biomecanicaBean}" />

	<ui:define name="content">
		<div id="tituloPagina">
			<div class="layout-portlets-box">
				<p:outputLabel value="#{msg['Avaliacao']} / #{msg['Biomecanica']}" />
			</div>
			<br />
		</div>
		<div class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
			<p:fieldset id="fieldSetConsulta" styleClass="layout-portlets-box"
				legend="#{msg['Consultar']}" toggleable="true" toggleSpeed="500"
				widgetVar="consulta" rendered="#{usuarioBean.possuiPermissao('ROLE_BIOMECANICA_CONSULTAR')}">
				<p:toolbar>
					<f:facet name="left">
						<h:panelGrid columns="2"
							styleClass="DispTableCell{ display:table-cell; vertical-align:middle;}">
							<h:panelGroup>
								<p:commandButton actionListener="#{bean.novo()}"
									update=":panelGroupPersistir" value="#{msg['Novo']}" 
									rendered="#{usuarioBean.possuiPermissao('ROLE_BIOMECANICA_INSERIR')}"/>
							</h:panelGroup>
						</h:panelGrid>
					</f:facet>
					<f:facet name="right">
						<h:form id="formBuscar">
							<h:panelGrid columns="2"
								styleClass="DispTableCell{ display:table-cell; vertical-align:middle;}">
								<h:outputText value="#{msg['Buscar']}" />
								<p:inputText id="filter" value="#{bean.filtro}" size="10"
									styleClass="TexAllRight" placeholder="#{msg['Paciente']}">
									<p:ajax event="keyup" listener="#{bean.filtro()}"
										update="entidadeTabela" />
								</p:inputText>
							</h:panelGrid>
						</h:form>
					</f:facet>
				</p:toolbar>
				<br />

				<p:dataTable id="entidadeTabela" title="entidadeTabela"
					name="consultaLazy" var="entidade" value="#{bean.listFiltrado}"
					paginator="true" rows="5"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					rowsPerPageTemplate="5,10,15,50,100" lazy="true"
					paginatorAlwaysVisible="true"
					emptyMessage="Nenhum registro encontrado"
					rowStyleClass="#{empty linha or linha mod 2 ne 0 ? 'even-row' : 'odd-row'}"
					rowIndexVar="linha" styleClass="Fs10" reflow="true">

					<p:column headerText="#{msg['Nome']}:">
						<h:outputText value="#{entidade.pessoa.nome}" />
					</p:column>


					<p:column styleClass="Wid10 TexAlCenter"
						style="background-color:#F0F0F0;">
						<p:commandButton id="btnDetalhe"
							actionListener="#{bean.setSelecionar(entidade)}"
							update=":#{p:component('formularioMensagens')}, :panelGroupDetalhe"
							icon="fa fa-file-text-o Fs14 white" />
					</p:column>
					<p:column styleClass="Wid10 TexAlCenter"
						style="background-color:#F0F0F0;">
						<p:commandButton id="btnAlterar"
							actionListener="#{bean.setSelecionarAlterar(entidade)}"
							update=":#{p:component('formularioMensagens')}, :panelGroupPersistir"
							styleClass="BlueButton" icon="fa fa-edit Fs14 white"
							rendered="#{usuarioBean.possuiPermissao('ROLE_BIOMECANICA_ALTERAR')}" />
					</p:column>
					<p:column styleClass="Wid10 TexAlCenter"
						style="background-color:#F0F0F0;">
						<p:commandButton id="btnExcluir"
							actionListener="#{bean.excluir(entidade)}"
							update=":#{p:component('formularioMensagens')}, :fieldSetConsulta"
							styleClass="RedButton" icon="fa fa-trash Fs14 white" 
							rendered="#{usuarioBean.possuiPermissao('ROLE_BIOMECANICA_EXCLUIR')}"/>
					</p:column>
				</p:dataTable>
			</p:fieldset>
		</div>

		<br />

		<h:panelGroup id="panelGroupPersistir">
			<p:fieldset id="fieldSetEntidadePersistir"
				styleClass="layout-portlets-box"
				legend="#{msg['Cadastro']} / #{msg['Alterar']}" toggleable="true"
				toggleSpeed="500" collapsed="false" widgetVar="fieldsetPersistir"
				rendered="#{bean.cadastrarVisivel}">
				<h:form id="formularioEntidadePersistir" prependId="false"
					enctype="multipart/form-data">
					<div
						class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
						<p:panelGrid id="panelGridGeradorCamposPersistir" columns="4"
							cellpadding="0" cellspacing="10" layout="grid">

							<h:outputLabel value="#{msg['Paciente']}: " />
							<p:selectOneMenu value="#{bean.entidade.pessoa}" effect="fade"
								id="Pessoa" converter="#{bean.pessoaConversor}" filter="true"
								style="width: 9em;">
								<f:selectItem itemLabel="#{msg['Selecione']}"
									itemValue="#{null}" />
								<f:selectItems value="#{bean.listaPessoas}" var="item"
									itemLabel="#{item.labelCampo}" itemValue="#{item.objetoCampo}" />
								<p:ajax event="change" update="formularioEntidadePersistir"
									listener="#{bean.setDadosPessoas()}" />
							</p:selectOneMenu>

							<h:outputLabel value="#{msg['Nascimento']}: " />
							<p:inputText value="#{bean.entidade.pessoa.dataNascimento}"
								disabled="true">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</p:inputText>

							<h:outputLabel value="#{msg['Celular']}: " />
							<p:inputText value="#{bean.entidade.pessoa.telefoneCelular}"
								disabled="true" />

							<h:outputLabel value="#{msg['Profissao']}: " />
							<p:inputText value="#{bean.entidade.pessoa.profissao.descricao}"
								disabled="true" />

							<h:outputLabel value="#{msg['Numero_Calcado']}: " />
							<p:inputText value="#{bean.entidade.pessoa.numeroCalcado}"
								disabled="true" />

							<h:outputLabel value="#{msg['Tenis_que_corre']}: " />
							<p:inputText a:autoFocus="#{bean.focus}" value="#{bean.entidade.tenisQueCorre}" />

							<h:outputLabel value="#{msg['Indicacao']}: " />
							<p:inputText value="#{bean.entidade.indicacao}" />

							<h:outputLabel value="#{msg['Diagnostico_Medico']}: " />
							<p:inputTextarea value="#{bean.entidade.diagnosticoMedico}" />

							<h:outputLabel
								value="#{msg['Objetivo']} / #{msg['Atividades']}: " />
							<p:inputTextarea value="#{bean.entidade.objetivo}" />

							<h:outputLabel value="#{msg['QP']}: " />
							<p:inputTextarea value="#{bean.entidade.queixaPrincipal}" />

							<h:outputLabel value="#{msg['HDA']}: " />
							<p:inputTextarea value="#{bean.entidade.historiaDoencaAtual}" />

							<h:outputLabel value="#{msg['HPP']}: " />
							<p:inputTextarea
								value="#{bean.entidade.historiaPatologiaPregresa}" />

						</p:panelGrid>
					</div>
					<div class="EmptyBox30" />
					<div
						class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
						<p:panelGrid id="panelGridGeradorTesteClinicos" columns="2"
							cellpadding="0" cellspacing="10" layout="grid">
							<h:outputLabel value="#{msg['Testes_clinicos_e_funcionais']}"
								styleClass="FontRalewayBold FontRalewayBold black" />
							<div class="EmptyBox30" />

							<h:outputLabel value="#{msg['DD']}:"
								styleClass="FontRalewayBold black" />
							<p:inputText styleClass="DispNone" />
							<h:outputLabel value="#{msg['Teste_assimetria_membro']}: " />
							<p:selectOneRadio id="tipoMedida"
								value="#{bean.entidade.assimetriaMembro}">
								<f:selectItems value="#{bean.listaTipoMedida}" var="item"
									itemValue="#{item}" itemLabel="#{item}" />
							</p:selectOneRadio>

							<h:outputLabel value="#{msg['Teste_tensao_tibial_anterior']}: " />
							<p:selectOneRadio value="#{bean.entidade.tensaoTibialAnterior}">
								<f:selectItems value="#{bean.listaTipoMedidaNormalAlterada}"
									var="item" itemValue="#{item}" itemLabel="#{item}" />
							</p:selectOneRadio>

							<h:outputLabel value="#{msg['Teste_de_dorsiflexao_ativa']}: " />
							<p:selectOneRadio value="#{bean.entidade.dorsiflexaoAtiva}">
								<f:selectItems value="#{bean.listaTipoMedidaNormalAlterada}"
									var="item" itemValue="#{item}" itemLabel="#{item}" />
							</p:selectOneRadio>

							<h:outputLabel value="#{msg['DL']}:"
								styleClass="FontRalewayBold black" />
							<p:inputText styleClass="DispNone" />

							<h:outputLabel value="#{msg['Teste_do_gluteo_medio']}: " />
							<p:selectOneRadio value="#{bean.entidade.gluteoMedio}">
								<f:selectItems value="#{bean.listaTipoMedidaNormalAlterada}"
									var="item" itemValue="#{item}" itemLabel="#{item}" />
							</p:selectOneRadio>

							<h:outputLabel value="#{msg['Teste_do_rotadores_externos']}: " />
							<p:selectOneRadio value="#{bean.entidade.rotadoresExternos}">
								<f:selectItems value="#{bean.listaTipoMedidaNormalAlterada}"
									var="item" itemValue="#{item}" itemLabel="#{item}" />
							</p:selectOneRadio>

							<h:outputLabel value="#{msg['DV']}:"
								styleClass="FontRalewayBold black" />
							<p:inputText styleClass="DispNone" />

							<h:outputLabel
								value="#{msg['Teste_do_gluteo_maximo_encurtada']}: " />
							<p:selectOneRadio value="#{bean.entidade.gluteoMaximoEncurtada}">
								<f:selectItems value="#{bean.listaTipoMedidaNormalAlterada}"
									var="item" itemValue="#{item}" itemLabel="#{item}" />
							</p:selectOneRadio>

							<h:outputLabel value="#{msg['Em_pe']}:"
								styleClass="FontRalewayBold black" />
							<div class="EmptyBox30" />

							<h:outputLabel value="#{msg['Lounge_test']}: " />
							<p:selectOneRadio value="#{bean.entidade.loungeTeste}">
								<f:selectItems value="#{bean.listaLado}" var="item"
									itemValue="#{item}" itemLabel="#{item}" />
							</p:selectOneRadio>

							<h:outputLabel value="#{msg['Agachamento_unipodal']}: " />
							<p:inputTextarea value="#{bean.entidade.agachamentoUnipol}" />

							<h:outputLabel value="#{msg['Agachamento_bipodal']}: " />
							<p:inputTextarea value="#{bean.entidade.agachamentoBipodal}" />

							<h:outputLabel value="#{msg['Step_down']}: " />
							<p:inputTextarea value="#{bean.entidade.stepDown}" />

							<h:outputLabel value="#{msg['Sentado']}:"
								styleClass="FontRalewayBold black" />
							<div class="EmptyBox30" />

							<h:outputLabel value="#{msg['Banco_de_wells']}: " />
							<p:inputTextarea value="#{bean.entidade.bancoWells}" />

							<h:outputLabel value="#{msg['Testes_especiais']}:"
								styleClass="FontRalewayBold black" />
							<div class="EmptyBox30" />

							<h:outputLabel value="#{msg['Ober_test']}: " />
							<p:selectOneRadio value="#{bean.entidade.oberTeste}">
								<f:selectItems value="#{bean.listaResultado}" var="item"
									itemValue="#{item}" itemLabel="#{item}" />
							</p:selectOneRadio>

							<h:outputLabel value="#{msg['Observacao']}: " />
							<p:inputTextarea value="#{bean.entidade.oberTesteObs}" />

							<h:outputLabel value="#{msg['Thomas_test']}: " />
							<p:selectOneRadio value="#{bean.entidade.thomasTeste}">
								<f:selectItems value="#{bean.listaResultado}" var="item"
									itemValue="#{item}" itemLabel="#{item}" />
							</p:selectOneRadio>

							<h:outputLabel value="#{msg['Observacao']}: " />
							<p:inputTextarea value="#{bean.entidade.thomasTesteObs}" />

						</p:panelGrid>

						<div class="EmptyBox30" />
						<div
							class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
							<p:panelGrid id="panelGridGeradorResultadoBiomecanica"
								columns="2" cellpadding="0" cellspacing="10" layout="grid">

								<h:outputLabel
									value="#{msg['Resultado_da_biomecanica_da_marcha']}:"
									styleClass="FontRalewayBold black" />
								<div class="EmptyBox30" />

								<h:outputLabel value="#{msg['pe_direito']}: " />
								<p:inputTextarea value="#{bean.entidade.tipoPisadaDireita}"
									placeholder="#{msg['Ao_realizar_a_pisada_na_caminhada_o_cliente_realiza_uma_pisada']}" />

								<h:outputLabel value="#{msg['pe_esquerdo']}: " />
								<p:inputTextarea value="#{bean.entidade.tipoPisadaEsquerdo}"
									placeholder="#{msg['Ao_realizar_a_pisada_na_caminhada_o_cliente_realiza_uma_pisada']}" />

								<h:outputLabel value="#{msg['Observacao']}: " />
								<p:inputTextarea value="#{bean.entidade.obsTipoPisada}" />

								<div class="EmptyBox30" />
							</p:panelGrid>
						</div>

						<div class="EmptyBox30" />
						<div
							class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
							<p:panelGrid id="panelGridGeradorTenisApropiado" columns="2"
								cellpadding="0" cellspacing="10" layout="grid">

								<h:outputLabel value="#{msg['Tenis_mais_apropriado']}:"
									styleClass="FontRalewayBold black" />
								<div class="EmptyBox30" />

								<h:outputLabel value="#{msg['Marca']}: " />
								<p:inputTextarea value="#{bean.entidade.marcaTenis}" />

								<h:outputLabel value="#{msg['Modelo']}: " />
								<p:inputTextarea value="#{bean.entidade.modeloTenis}" />

								<p:row>
									<p:column>#{msg['Indicação_individualizada_e_associada_aos_procedimentos_realizados']}</p:column>
								</p:row>
							</p:panelGrid>
						</div>

						<div class="EmptyBox30" />
						<div
							class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
							<p:panelGrid id="panelGridGeradorProcedimentoNescessario"
								columns="2" cellpadding="0" cellspacing="10" layout="grid">

								<h:outputLabel value="#{msg['Procedimentos_necessarios']}:" />
								<p:inputTextarea
									value="#{bean.entidade.procedimentoNescessario}"
									autoResize="true" />

							</p:panelGrid>
						</div>

						<div class="EmptyBox30" />
						<div
							class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
							<p:panelGrid id="panelGridGeradorPalmilha" columns="4"
								cellpadding="0" cellspacing="10" layout="grid">

								<h:outputLabel value="#{msg['Palmilha']}:"
									styleClass="FontRalewayBold black" />
								<div class="EmptyBox30" />
								<p:inputText styleClass="DispNone" />
								<p:inputText styleClass="DispNone" />

								<h:outputLabel value="#{msg['Lado']}: " />
								<p:selectOneMenu value="#{bean.palmilha.lado}"
									style="width: 9em;">
									<f:selectItems value="#{bean.listaLado}" var="item"
										itemValue="#{item}" itemLabel="#{item}" />
								</p:selectOneMenu>
								
								<p:inputText styleClass="DispNone" />
								<p:commandButton value="#{msg['Alterar']}"
									rendered="#{bean.entidade.id != null}"
									action="#{bean.alterarPalmilha(bean.palmilha)}"
									icon="ui-icon-edit fa fa-edit Fs14 white"
									styleClass="BlueButton" />
								<p:commandButton value="#{msg['Salvar']}"
									icon="ui-icon-disk fa fa-save Fs14 white"
									rendered="#{bean.entidade.id == null}"
									action="#{bean.salvarPalmilha()}">
									<p:confirm
										message="#{msg['obs_palmilha_so_sera_solicitada_pedido_apos_o_pagamento_de_50_do_valor']}"
										styleClass="FontRalewayBold FontRalewayBold black" />
								<p:confirmDialog global="true" showEffect="fade"
									hideEffect="fade">
									<p:commandButton value="#{msg['Ok']}" type="button"
										styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
								</p:confirmDialog>
								</p:commandButton>

								<h:outputLabel value="#{msg['Numeracao']}:" />
								<p:inputText value="#{bean.palmilha.numeracao}" />

								<h:outputLabel value="#{msg['Cobertura']}:" />
								<p:inputText value="#{bean.palmilha.cobertura}" />

								<h:outputLabel value="#{msg['Borda']}:" />
								<p:inputText value="#{bean.palmilha.borda}" />

								<h:outputLabel value="#{msg['Retrope']}:" />
								<p:inputText value="#{bean.palmilha.retrope}" />

								<h:outputLabel value="#{msg['Antepe']}:" />
								<p:inputText value="#{bean.palmilha.antepe}" />

								<h:outputLabel value="#{msg['Altura']}:" />
								<p:inputText value="#{bean.palmilha.altura}" />

								<h:outputLabel value="#{msg['Arco']}:" />
								<p:inputText value="#{bean.palmilha.arco}" />

								<h:outputLabel value="#{msg['Suporte']}:" />
								<p:inputText value="#{bean.palmilha.suporte}" />

								<h:outputLabel value="#{msg['Absorcao']}:" />
								<p:inputText value="#{bean.palmilha.absorcao}" />

								<h:outputLabel value="#{msg['PAD']}:" />
								<p:inputText value="#{bean.palmilha.pad}" />

							</p:panelGrid>
						</div>
					</div>

					<div class="EmptyBox30" />
					<div
						class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
						<p:commandButton id="btn_fechar_persistir_cadastrar"
							value="#{msg['Cadastrar']}"
							icon="ui-icon-disk fa fa-save Fs14 white"
							action="#{bean.cadastrar(bean.entidade)}"
							update=":#{p:component('formularioMensagens')}, :panelGroupDetalhe, :panelGroupPersistir, :fieldSetConsulta"
							rendered="#{bean.entidade.id == null}" ajax="false" />
						<p:commandButton id="btn_fechar_persistir_alterar"
							value="#{msg['Alterar']}"
							icon="ui-icon-edit fa fa-edit Fs14 white"
							action="#{bean.alterar(bean.entidade)}" styleClass="BlueButton"
							update=":#{p:component('formularioMensagens')}, :panelGroupDetalhe, :panelGroupPersistir, :fieldSetConsulta"
							rendered="#{bean.entidade.id != null}" ajax="false" />
						<p:commandButton id="btn_fechar_persistir"
							value="#{msg['Fechar']}"
							icon="fa fa-close Fs14 white"
							action="#{bean.fecharCadastro()}"  styleClass="RedButton"
							update=":#{p:component('formularioMensagens')}, :panelGroupPersistir, :fieldSetConsulta"
							ajax="false" />
					</div>
				</h:form>
			</p:fieldset>
			<p:spacer height="20" />
		</h:panelGroup>

		<h:panelGroup id="panelGroupDetalhe">
			<div class="Container100 Responsive100">
				<p:fieldset id="fieldSetEntidadeDetalhe" legend="#{msg['Detalhar']}"
					styleClass="layout-portlets-box" toggleable="true"
					toggleSpeed="500" collapsed="false" widgetVar="fieldsetDetalhar"
					rendered="#{bean.detalharVisivel}">
					<h:form id="formularioEntidadeDetalheDetalhar" prependId="false">
						<p:panelGrid id="panelGridGeradorCamposDetalhe" columns="2"
							cellpadding="0" cellspacing="10" layout="grid">
								<h:outputLabel value="#{msg['Paciente']}: " />
								<h:outputLabel value="#{bean.entidade.pessoa.nome}" styleClass="black" />
	
								<h:outputLabel value="#{msg['Nascimento']}: " />
								<h:outputLabel value="#{bean.entidade.pessoa.dataNascimento}" styleClass="black" >
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputLabel>
								
								<h:outputLabel value="#{msg['Celular']}: " />
								<h:outputLabel value="#{bean.entidade.pessoa.telefoneCelular}" styleClass="black" />
								
								<h:outputLabel value="#{msg['Profissao']}: " />
								<h:outputLabel value="#{bean.entidade.pessoa.profissao.descricao}" styleClass="black" />
								
								<h:outputLabel value="#{msg['Numero_Calcado']}: " />
								<h:outputLabel value="#{bean.entidade.pessoa.numeroCalcado}" styleClass="black" />
	
								<h:outputLabel value="#{msg['Tenis_que_corre']}: " />
								<h:outputLabel value="#{bean.entidade.tenisQueCorre}" styleClass="black"/>
								
								<h:outputLabel value="#{msg['Indicacao']}: " />
								<h:outputLabel value="#{bean.entidade.indicacao}" styleClass="black" />
	
								<h:outputLabel value="#{msg['Diagnostico_Medico']}: " />
								<h:outputLabel value="#{bean.entidade.diagnosticoMedico}" styleClass="black" />
								<h:outputLabel
									value="#{msg['Objetivo']} / #{msg['Atividades']}: " />
								<h:outputLabel value="#{bean.entidade.objetivo}" styleClass="black" />
	
								<h:outputLabel value="#{msg['QP']}: " />
								<h:outputLabel value="#{bean.entidade.queixaPrincipal}" styleClass="black" />
	
								<h:outputLabel value="#{msg['HDA']}: " />
								<h:outputLabel value="#{bean.entidade.historiaDoencaAtual}" styleClass="black" />
								
								<h:outputLabel value="#{msg['HPP']}: " />
								<h:outputLabel value="#{bean.entidade.historiaPatologiaPregresa}" styleClass="black" />
							</p:panelGrid>
							
							<div class="EmptyBox20" />							
							<p:panelGrid id="panelGridDetalhesGeradorDD" columns="2"	cellpadding="0" cellspacing="10" layout="grid">
								<h:outputLabel value="#{msg['Teste_assimetria_membro']}: " />
								<h:outputLabel value="#{bean.entidade.assimetriaMembro}" styleClass="black" />
	
								<h:outputLabel value="#{msg['Teste_tensao_tibial_anterior']}: " />
								<h:outputLabel value="#{bean.entidade.tensaoTibialAnterior}" styleClass="black"/>
	
								<h:outputLabel value="#{msg['Teste_de_dorsiflexao_ativa']}: " />
								<h:outputLabel value="#{bean.entidade.dorsiflexaoAtiva}" styleClass="black"/>
							</p:panelGrid>
							
							<div class="EmptyBox20" />
							<p:panelGrid id="panelGridDetalhesGeradorDL" columns="2"	cellpadding="0" cellspacing="10" layout="grid">
								<h:outputLabel value="#{msg['Teste_do_gluteo_medio']}: " />
								<h:outputLabel value="#{bean.entidade.gluteoMedio}" styleClass="black"/>
	
								<h:outputLabel value="#{msg['Teste_do_rotadores_externos']}: " />
								<h:outputLabel value="#{bean.entidade.rotadoresExternos}" styleClass="black"/>
							</p:panelGrid>
							
							<div class="EmptyBox20" />
							<p:panelGrid id="panelGridDetalhesGeradorDV" columns="2"	cellpadding="0" cellspacing="10" layout="grid">
								<h:outputLabel value="#{msg['Teste_do_gluteo_maximo_encurtada']}: " />
								<h:outputLabel value="#{bean.entidade.rotadoresExternos}"/>
							</p:panelGrid>
							
							<div class="EmptyBox20" />
							<p:panelGrid id="panelGridDetalhesGeradorEmPe" columns="2"	cellpadding="0" cellspacing="10" layout="grid">
								<h:outputLabel value="#{msg['Lounge_test']}: " />
								<h:outputLabel value="#{bean.entidade.loungeTeste}" styleClass="black"/>
	
								<h:outputLabel value="#{msg['Agachamento_unipodal']}: " />
								<h:outputLabel value="#{bean.entidade.agachamentoUnipol}" styleClass="black"/>
	
								<h:outputLabel value="#{msg['Agachamento_bipodal']}: " />
								<h:outputLabel value="#{bean.entidade.agachamentoBipodal}" styleClass="black"/>
	
								<h:outputLabel value="#{msg['Step_down']}: " />
								<h:outputLabel value="#{bean.entidade.stepDown}" styleClass="black"/>
							</p:panelGrid>
							
							<div class="EmptyBox20" />
							<p:panelGrid id="panelGridDetalhesGeradorSentado" columns="2"	cellpadding="0" cellspacing="10" layout="grid">
								<h:outputLabel value="#{msg['Banco_de_wells']}: " />
								<h:outputLabel value="#{bean.entidade.bancoWells}" styleClass="black"/>
							</p:panelGrid>
							
							<div class="EmptyBox20" />
							<p:panelGrid id="panelGridDetalhesGeradorEspeciais" columns="2"	cellpadding="0" cellspacing="10" layout="grid">
								<h:outputLabel value="#{msg['Ober_test']}: " />
								<h:outputLabel value="#{bean.entidade.oberTeste}" styleClass="black"/>
	
								<h:outputLabel value="#{msg['Observacao']}: " />
								<h:outputLabel value="#{bean.entidade.oberTesteObs}" styleClass="black"/>
	
								<h:outputLabel value="#{msg['Thomas_test']}: " />
								<h:outputLabel value="#{bean.entidade.thomasTeste}" styleClass="black"/>
	
								<h:outputLabel value="#{msg['Observacao']}: " />
								<h:outputLabel value="#{bean.entidade.thomasTesteObs}" styleClass="black"/>
							</p:panelGrid>
							
							<div class="EmptyBox20" />
							<p:panelGrid id="panelGridDetalhesTipoPisada" columns="2" cellpadding="0" cellspacing="10" layout="grid">
								<h:outputLabel value="#{msg['pe_direito']}: " />
								<h:outputLabel value="#{bean.entidade.tipoPisadaDireita}" styleClass="black"/>

								<h:outputLabel value="#{msg['pe_esquerdo']}: " />
								<h:outputLabel value="#{bean.entidade.tipoPisadaEsquerdo}" styleClass="black"/>

								<h:outputLabel value="#{msg['Observacao']}: " />
								<h:outputLabel value="#{bean.entidade.obsTipoPisada}" styleClass="black"/>
							</p:panelGrid>
							
							<div class="EmptyBox20" />
							<p:panelGrid id="panelGridDetalheTenisApropiado" columns="2"
								cellpadding="0" cellspacing="10" layout="grid">

								<h:outputLabel value="#{msg['Marca']}: " />
								<h:outputLabel value="#{bean.entidade.marcaTenis}" styleClass="black"/>

								<h:outputLabel value="#{msg['Modelo']}: " />
								<h:outputLabel value="#{bean.entidade.modeloTenis}" styleClass="black"/>

							</p:panelGrid>
							
							<div class="EmptyBox20" />
							<p:panelGrid id="panelGridDetalheProcedimentoNescessario"
								columns="2" cellpadding="0" cellspacing="10" layout="grid">

								<h:outputLabel value="#{msg['Procedimentos_necessarios']}:" />
								<h:outputLabel value="#{bean.entidade.procedimentoNescessario}"/>

							</p:panelGrid>
					</h:form>
					<div class="EmptyBox30" />
					<div
						class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
						<p:commandButton id="btn_fechar_detalhe"
							icon="ui-icon-close fa fa-close Fs14 white"
							value="#{msg['Fechar']}" actionListener="#{bean.fecharDetalhe()}"
							styleClass="RedButton"
							update=":panelGroupDetalhe, :fieldSetConsulta" />
					</div>
				</p:fieldset>
			</div>
			<p:spacer height="20" />
		</h:panelGroup>
	</ui:define>
</ui:composition>
