<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ps="http://primefaces.org/spark"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/paginas/template/template.xhtml">

	<ui:param name="bean" value="#{configuracaoBean}" />

	<ui:define name="content">
		<div id="tituloPagina">
			<div class="layout-portlets-box">
				<p:tabView>
					<p:tab id="configAgenda" title="#{msg['Agenda']}">
						<div class="layout-portlets-box">
							<p:outputLabel
								value="Dias em que o funcionário realiza atendimento ?" styleClass="FontBold" />
						</div>
						<div class="EmptyBox20" />
						<h:form id="agendaForm" prependId="false"
							enctype="multipart/form-data">
							<div
								class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
								<h:panelGroup id="panelGroupPersistir">
									<p:panelGrid columns="1" layout="grid">
										<h:outputLabel value="#{msg['Usuario']}: " />
										<p:selectOneMenu value="#{bean.entidade.pessoa}" effect="fade"
											id="Pessoa" converter="#{bean.pessoaConversor}" filter="true"
											style="width: 12em;">
											<f:selectItem itemLabel="#{msg['Selecione']}"
												itemValue="#{null}" />
											<f:selectItems value="#{bean.listaPessoas}" var="item"
												itemLabel="#{item.labelCampo}"
												itemValue="#{item.objetoCampo}" />
											<p:ajax listener="#{configuracaoBean.consultarUsuario}"
												update="panelGroupPersistir" />
										</p:selectOneMenu>
									</p:panelGrid>
									<div class="EmptyBox30" />
									<p:panelGrid id="idSemana" columns="4" layout="grid">
										<h:outputText value="Domingo: " />
										<p:selectBooleanCheckbox value="#{bean.entidade.domingo}" />
										<h:outputText value="Segunda: " />
										<p:selectBooleanCheckbox value="#{bean.entidade.segunda}" />
										<h:outputText value="Terça: " />
										<p:selectBooleanCheckbox value="#{bean.entidade.terca}" />
										<h:outputText value="Quarta: " />
										<p:selectBooleanCheckbox value="#{bean.entidade.quarta}" />
										<h:outputText value="Quinta: " />
										<p:selectBooleanCheckbox value="#{bean.entidade.quinta}" />
										<h:outputText value="Sexta: " />
										<p:selectBooleanCheckbox value="#{bean.entidade.sexta}" />
										<h:outputText value="Sábado: " />
										<p:selectBooleanCheckbox value="#{bean.entidade.sabado}" />
									</p:panelGrid>
									<div class="EmptyBox30" />
									<div class="layout-portlets-box">
										<p:outputLabel
											value="Data/Horário em que o funcionário não realiza atendimento ?" styleClass="FontBold"/>
									</div>
									
									<div class="EmptyBox20" />
									
									<p:panelGrid columns="10" layout="grid">
										<h:outputLabel value="#{msg['Data']}: " />
										<p:calendar id="idData" value="#{bean.dataFalta}"
											disabled="#{bean.dataAtivo}" locale="pt"/>
										<p:commandButton id="btn_incluir_data" value="incluir"
											action="#{bean.incluirData(bean.entidade)}"
											update="pojoPickList1" ajax="false"
											disabled="#{bean.dataAtivo}"/>
									</p:panelGrid>
									
									<div class="EmptyBox30" />
									
									<p:panelGrid columns="1" cellpadding="0" cellspacing="0"
										layout="grid">
										<p:pickList id="pojoPickList"
											value="#{bean.listaDataFaltaSalvas}" var="dataFalta"
											effect="bounce" itemValue="#{dataFalta}"
											itemLabel="#{dataFalta.dataFalta}" responsive="true"
											converter="#{bean.dataFaltaConversor}"
											showSourceControls="true" showTargetControls="false"
											showSourceFilter="true" showTargetFilter="true"
											filterMatchMode="contains">

											<f:facet name="sourceCaption">#{msg['Disponiveis']}</f:facet>
											<f:facet name="targetCaption">#{msg['Selecionado']}</f:facet>

											<p:column width="100">
												<h:outputText value="#{dataFalta.dataFalta}">
													<f:convertDateTime pattern="dd/MM/yyyy" />
												</h:outputText>
											</p:column>
										</p:pickList>

										<p:pickList id="pojoPickListHorario"
											value="#{bean.listaHorario}" var="horario" effect="bounce"
											itemValue="#{horario}" itemLabel="#{horario.horarioInicio}"
											responsive="true" converter="#{bean.horarioConversor}"
											showSourceControls="true" showTargetControls="false"
											showSourceFilter="false" showTargetFilter="false"
											filterMatchMode="contains">

											<f:facet name="sourceCaption">#{msg['Disponiveis']}</f:facet>
											<f:facet name="targetCaption">#{msg['Selecionado']}</f:facet>

											<p:column width="100">
													#{horario.horarioInicio} - #{horario.horarioFim}
												</p:column>
										</p:pickList>
									</p:panelGrid>
									<div class="EmptyBox30" />
									<p:treeTable value="#{bean.listaDataFaltaConfiguracao}"
										id="idTree" var="document" paginator="true" rows="5"
										selectionMode="checkbox" selection="#{bean.selectTreeNode}">
										<p:column headerText="Datas/Horário" priority="1">
											<h:outputText value="#{document}">
												<f:convertDateTime pattern="dd/MM/yyyy" />
											</h:outputText>
										</p:column>
									</p:treeTable>
								</h:panelGroup>
							</div>
							<div class="EmptyBox30" />
							<div
								class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">

								<p:commandButton id="btn_fechar_persistir_cadastrar"
									icon="ui-icon-disk fa fa-save Fs14 white"
									action="#{bean.cadastrar(bean.entidade)}"
									update=":#{p:component('formularioMensagens')}, :panelGroupPersistir"
									ajax="false" />
								<p:commandButton
									update=":#{p:component('formularioMensagens')}, :panelGroupPersistir, :idTree"
									styleClass="RedButton" icon="fa fa-trash Fs14 white"
									actionListener="#{bean.excluirTreeNode(bean.selectTreeNode)}"
									ajax="false" />
							</div>
						</h:form>
					</p:tab>
				</p:tabView>
			</div>
			<br />
		</div>
	</ui:define>
</ui:composition>
