<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ps="http://primefaces.org/spark"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/paginas/template/template.xhtml">

	<ui:param name="bean" value="#{contasPagarBean}" />

	<ui:define name="content">
		<div id="tituloPagina">
			<div class="layout-portlets-box">
				<p:outputLabel value="#{msg['Financeiro']} / #{msg['Contas_a_Pagar']}" />
			</div>
			<br />
		</div>
		<div class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
			<p:fieldset id="fieldSetConsulta" styleClass="layout-portlets-box"
				legend="#{msg['Consultar']}" toggleable="true" toggleSpeed="500"
				widgetVar="consulta" rendered="#{usuarioBean.possuiPermissao('ROLE_CONTAS_A_PAGAR_CONSULTAR')}">
				<p:toolbar>
					<f:facet name="left">
						<h:panelGrid columns="2" styleClass="DispTableCell{ display:table-cell; vertical-align:middle;}">
							<h:panelGroup>
								<p:commandButton actionListener="#{bean.novo()}"
									rendered="#{usuarioBean.possuiPermissao('ROLE_CONTAS_A_PAGAR_INSERIR')}"
									update=":panelGroupPersistir" value="#{msg['Novo']}" />
							</h:panelGroup>
						</h:panelGrid>
					</f:facet>
					<f:facet name="right">
						<h:form id="formBuscar">
							<h:panelGrid columns="2"
								styleClass="DispTableCell{ display:table-cell; vertical-align:middle;}">
								<h:outputText value="#{msg['Buscar']}"/>
								<p:inputMask id="filter" value="#{bean.filtro}" size="10"
									styleClass="TexAllRight" placeholder="#{msg['Descricao']}">
									<p:ajax event="keyup" listener="#{bean.filtro()}"
										update=":formEdit" />
								</p:inputMask>
							</h:panelGrid>
						</h:form>
					</f:facet>
				</p:toolbar>
				<br />
				<h:form id="formEdit">
					<p:dataTable id="entidadeTabela" var="entidade" value="#{bean.listFiltrado}"
						paginator="true" rows="5"
						paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
						rowsPerPageTemplate="5,10,15,50,100" lazy="true"
						paginatorAlwaysVisible="true"
						emptyMessage="Nenhum registro encontrado"
						editable="true" editMode="cell" widgetVar="cellCars">
	
						<p:ajax event="cellEdit" listener="#{contasPagarBean.onCellEdit}" process=":formEdit" />
	
						<p:column headerText="#{msg['Descricao']}:">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{entidade.descricao}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText id="modelInputDescricao" value="#{entidade.descricao}"/>
								</f:facet>
							</p:cellEditor>
						</p:column>
						
						<p:column headerText="#{msg['Vencimento']}:">
							<h:outputText value="#{entidade.vencimento}">
										<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
					<!-- 	<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{entidade.vencimento}">
										<f:convertDateTime pattern="dd/MM/yyyy" />
									</h:outputText>
								</f:facet>
								<f:facet name="input">
									<p:inputText id="modelInputVencimento" value="#{entidade.vencimento}"/>
								</f:facet>
							</p:cellEditor>   -->
						</p:column>
						
						<p:column headerText="#{msg['Parcelas']}:">
							<h:outputText value="#{entidade.parcelas}" />
						<!-- <p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{entidade.parcelas}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText id="modelInputParcelas" value="#{entidade.parcelas}"/>
								</f:facet>
							</p:cellEditor>  -->
						</p:column>
						
						<p:column headerText="#{msg['Valor']}:">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{msg['Sifrao']} #{entidade.valor}">
										<f:convertNumber pattern="#,##0.00" />
									</h:outputText>
								</f:facet>
								<f:facet name="input">
									<p:inputText id="modelInputValores" value="#{entidade.valor}"/>
								</f:facet>
							</p:cellEditor>
						</p:column>
						
					<!-- <p:column headerText="#{msg['Categoria']}:">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{entidade.categoria.descricao}"/>
								</f:facet>
								<f:facet name="input">
									<p:inputText id="modelInputCategoria" value="#{entidade.categoria.descricao}"/>
								</f:facet>
							</p:cellEditor>
						</p:column>  -->
						
						<p:column headerText="#{msg['Pago']}:">
		       				 	<p:selectBooleanCheckbox value="#{entidade.pago}">
		       				 		<p:ajax update="fieldSetConsulta, fieldSetConsultaPago" 
		       				   		   listener="#{bean.setSelecionarPaga(entidade)}" />
		       				   	</p:selectBooleanCheckbox>
		       			</p:column>
		       			
		       			<p:column styleClass="Wid10 TexAlCenter"
							style="background-color:#F0F0F0;">
							<p:commandButton id="btnExcluir" rendered="#{usuarioBean.possuiPermissao('ROLE_CONTAS_A_PAGAR_EXCLUIR')}"
								actionListener="#{bean.excluir(entidade)}"
								update=":#{p:component('formularioMensagens')}, :fieldSetConsulta"
								styleClass="RedButton" icon="fa fa-trash Fs14 white" />
						</p:column>
					</p:dataTable>
				</h:form>
			</p:fieldset>
			
			<p:fieldset id="fieldSetConsultaPago" styleClass="layout-portlets-box"
				legend="#{msg['Contas_Paga']}" toggleable="true" toggleSpeed="500"
				widgetVar="consultaPago">
				<p:toolbar>
					<f:facet name="right">
						<h:form id="formBuscarPaga">
							<h:panelGrid columns="6"
								styleClass="DispTableCell{ display:table-cell; vertical-align:middle;}">
								<h:outputText value="#{msg['Buscar']}"/>
								<p:calendar id="filter" value="#{bean.primeiraData}" size="5" mask="99/99/9999" 
									styleClass="TexAllRight" pattern="dd/MM/yyyy" locale="pt" navigator="true"/>
								<h:outputText value="#{msg['Ate']}"/>
								<p:calendar id="filterSegundo" value="#{bean.segundaData}" size="5" mask="99/99/9999" 
									styleClass="TexAllRight" pattern="dd/MM/yyyy" locale="pt" navigator="true"/>
								<p:commandButton update="entidadeTabelaPaga" actionListener="#{bean.filtroContasPaga()}" icon="fa fa-search white"/>
							</h:panelGrid>
						</h:form>
					</f:facet>
				</p:toolbar>
				<br />
	
				<p:dataTable id="entidadeTabelaPaga" title="entidadeTabelaPaga"
					name="consultaLazy" var="entidade" value="#{bean.listFiltradoPago}"
					paginator="true" rows="5"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					rowsPerPageTemplate="5,10,15,50,100" lazy="true"
					paginatorAlwaysVisible="true"
					emptyMessage="Nenhum registro encontrado"
					rowStyleClass="#{empty linha or linha mod 2 ne 0 ? 'even-row' : 'odd-row'}"
					rowIndexVar="linha" styleClass="Fs10" reflow="true">
					
					<p:column headerText="#{msg['Descricao']}:">
						<h:outputText value="#{entidade.descricao}"/>
					</p:column>
					
					<p:column headerText="#{msg['Vencimento']}:">
						<h:outputText value="#{entidade.vencimento}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
					</p:column>
					
					<p:column headerText="#{msg['Parcelas']}:">
						<h:outputText value="#{entidade.parcelas}"/>
					</p:column>
					
					<p:column headerText="#{msg['Valor']}:">
						<h:outputText value="#{msg['Sifrao']} #{entidade.valor}">
							<f:convertNumber pattern="#,##0.00" />
						</h:outputText>
					</p:column>
					
				<!-- 	<p:column headerText="#{msg['Categoria']}:">
						<h:outputText value="#{entidade.categoria.descricao}"/>
					</p:column>   -->
					
					<p:column headerText="#{msg['Responsavel']}:">
						<h:outputText value="#{entidade.usuario.pessoa.nome}"/>
					</p:column>
					
					
					<p:columnGroup type="footer">
						<p:row>
							<p:column colspan="4" styleClass="TexAlRight"
								footerText="#{msg['Total']}:"/>
							<p:column footerText="#{msg['Sifrao']} #{bean.valorTotal}"/>
						</p:row>
					</p:columnGroup>
					
					<p:column styleClass="Wid10 TexAlCenter"
						style="background-color:#F0F0F0;">
						<p:commandButton id="btnExcluir"
						   rendered="#{usuarioBean.possuiPermissao('ROLE_CONTAS_A_PAGAR_EXCLUIR')}"
							actionListener="#{bean.excluirContasPaga(entidade)}"
							update="fieldSetConsultaPago, :fieldSetConsulta"
							styleClass="RedButton" icon="fa fa-trash Fs14 white" />
					</p:column>
				</p:dataTable>
			</p:fieldset>
		</div>
		
		<br />

		<h:panelGroup id="panelGroupPersistir">
				<p:fieldset id="fieldSetEntidadePersistir"
					styleClass="layout-portlets-box"
					legend="#{msg['Cadastro']}" toggleable="true"
					toggleSpeed="500" collapsed="false" widgetVar="fieldsetPersistir"
					rendered="#{bean.cadastrarVisivel}">
					<h:form id="formularioEntidadePersistir" prependId="false"
						enctype="multipart/form-data">
					<div
						class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
						<p:panelGrid id="panelGridGeradorCamposPersistir" columns="2"
							cellpadding="0" cellspacing="10" layout="grid">
							
							<h:outputLabel value="#{msg['Conta_Fixa']}: " />
							<p:selectBooleanCheckbox value="#{bean.entidade.contaFixa}">
								<p:ajax listener="#{bean.bloquear()}"  update="idParcelas,idVencimento"/>
       				   		 </p:selectBooleanCheckbox>
       				   		 
							<h:outputLabel value="#{msg['Descricao']}: " />
							<p:inputText value="#{bean.entidade.descricao}" a:autoFocus="#{bean.focus}"/>

							<h:outputLabel value="#{msg['Vencimento']}: " />
							<p:calendar id="idVencimento" value="#{bean.entidade.vencimento}" disabled="#{bean.bloquear}" 
										locale="pt" navigator="true" pattern="dd/MM/yyyy">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</p:calendar>
							
							<h:outputLabel value="#{msg['Parcelas']}: " />
							<p:inputText id="idParcelas" value="#{bean.entidade.parcelas}" disabled="#{bean.bloquear}" />
							
							<h:outputLabel value="#{msg['Valor']}: " />
							<p:spinner value="#{bean.entidade.valor}" size="20"
								stepFactor="0.25" min="1" prefix="#{msg['Sifrao']}" />
								
						</p:panelGrid>
					</div>
					<div class="EmptyBox30" />
					<div
						class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
						<p:commandButton id="btn_fechar_persistir_cadastrar"
							value="#{msg['Cadastrar']}"
							icon="ui-icon-disk fa fa-save Fs14 white"
							action="#{bean.cadastrar(bean.entidade)}"
							update=":#{p:component('formularioMensagens')}, :panelGroupPersistir, :fieldSetConsulta"
							rendered="#{bean.entidade.id == null}" ajax="false" />
						<p:commandButton id="btn_fechar_persistir_alterar"
							value="#{msg['Alterar']}"
							icon="ui-icon-edit fa fa-edit Fs14 white"
							action="#{bean.alterar(bean.entidade)}" styleClass="BlueButton"
							update=":#{p:component('formularioMensagens')}, :panelGroupDetalhe, :panelGroupPersistir, :fieldSetConsulta"
							rendered="#{bean.entidade.id != null}" ajax="false" />
						<p:commandButton id="btn_fechar_persistir"
							value="#{msg['Fechar']}"
							icon="fa fa-close Fs14 white"
							action="#{bean.fecharCadastro()}"  styleClass="RedButton"
							update=":#{p:component('formularioMensagens')}, :panelGroupPersistir, :fieldSetConsulta"
							ajax="false" />
					</div>
				</h:form>
				</p:fieldset>
			<p:spacer height="20" />
		</h:panelGroup>
	</ui:define>
</ui:composition>	
