<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ps="http://primefaces.org/spark"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/paginas/template/template.xhtml">

	<ui:param name="bean" value="#{empresaBean}" />

	<ui:define name="content">
		<div id="tituloPagina">
			<div class="layout-portlets-box">
				<p:outputLabel value="#{msg['Cadastro']} / #{msg['Empresa']}" />
			</div>
			<br />
		</div>
		<div class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
			<p:fieldset id="fieldSetConsulta" styleClass="layout-portlets-box"
				legend="#{msg['Consultar']}" toggleable="true" toggleSpeed="500"
				widgetVar="consulta">
				<h:form id="formBuscar">
					<p:toolbar>
						<f:facet name="left">
							<h:panelGrid columns="2"
								styleClass="DispTableCell{ display:table-cell; vertical-align:middle;}">
								<h:panelGroup>
									<p:commandButton actionListener="#{bean.novo()}"
										update=":panelGroupPersistir" value="#{msg['Novo']}" />
								</h:panelGroup>
							</h:panelGrid>
						</f:facet>
						<f:facet name="right">
							<h:panelGrid columns="2"
								styleClass="DispTableCell{ display:table-cell; vertical-align:middle;}">
								<h:outputText value="#{msg['Buscar']}" />
								<p:inputText id="filter" value="#{bean.filtro}" size="10"
									styleClass="TexAllRight" placeholder="#{msg['Nome']}">
									<p:ajax event="keyup" listener="#{bean.filtro()}"
										update="entidadeTabela" />
								</p:inputText>
							</h:panelGrid>
						</f:facet>
					</p:toolbar>
					<br />

					<p:dataTable id="entidadeTabela" title="entidadeTabela"
						name="consultaLazy" var="entidade" value="#{bean.listFiltrado}"
						paginator="true" rows="5"
						paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
						rowsPerPageTemplate="5,10,15,50,100" lazy="true"
						paginatorAlwaysVisible="true"
						emptyMessage="Nenhum registro encontrado"
						rowStyleClass="#{empty linha or linha mod 2 ne 0 ? 'even-row' : 'odd-row'}"
						rowIndexVar="linha" styleClass="Fs10" reflow="true">

					<!-- 	<f:facet name="header">
							<p:commandLink actionListener="#{bean.gerarRelatorio('PDF')}"
								target="_new" ajax="false">
								<p:graphicImage value="/imagens/pdf.ico" width="30" height="30" />
							</p:commandLink>
							<p:commandLink actionListener="#{bean.gerarRelatorio('EXCEL')}"
								target="_new" ajax="false">
								<p:graphicImage value="/imagens/xls.ico" width="30" height="30" />
							</p:commandLink>
							<p:commandLink actionListener="#{bean.gerarRelatorio('CSV')}"
								target="_new" ajax="false">
								<p:graphicImage value="/imagens/cvs.png" width="30" height="30" />
							</p:commandLink>
						</f:facet>   -->

						<p:column headerText="#{msg['Nome']}: ">
							<h:outputText value="#{entidade.nomeFantasia}" />
						</p:column>

						<p:column headerText="#{msg['Razao_Social']}">
							<h:outputText value="#{entidade.razaoSocial}" />
						</p:column>

						<p:column headerText="#{msg['CNPJ']}">
							<h:outputText value="#{entidade.cnpj}">
							</h:outputText>
						</p:column>

						<p:column headerText="#{msg['Telefone']}">
							<h:outputText value="#{entidade.telefone}" />
						</p:column>

						<p:column headerText="#{msg['Data_da_Contratacao']}">
							<h:outputText value="#{entidade.dataContratacao}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column styleClass="Wid10 TexAlCenter"
							style="background-color:#F0F0F0;">
							<p:commandButton id="btnDetalhe"
								actionListener="#{bean.setSelecionar(entidade)}"
								update=":#{p:component('formularioMensagens')}, :panelGroupDetalhe"
								icon="fa fa-file-text-o Fs14 white" />
						</p:column>
						<p:column styleClass="Wid10 TexAlCenter"
							style="background-color:#F0F0F0;">
							<p:commandButton id="btnAlterar"
								actionListener="#{bean.setSelecionarAlterar(entidade)}"
								update=":#{p:component('formularioMensagens')}, :panelGroupPersistir"
								styleClass="BlueButton" icon="fa fa-edit Fs14 white" />
						</p:column>
						<p:column styleClass="Wid10 TexAlCenter"
							style="background-color:#F0F0F0;">
							<p:commandButton id="btnExcluir"
								actionListener="#{bean.excluir(entidade)}"
								update=":#{p:component('formularioMensagens')}, :fieldSetConsulta"
								styleClass="RedButton" icon="fa fa-trash Fs14 white" />
						</p:column>
					</p:dataTable>
				</h:form>
			</p:fieldset>
		</div>

		<br />

		<h:panelGroup id="panelGroupPersistir">
			<p:fieldset id="fieldSetEntidadePersistir"
				styleClass="layout-portlets-box"
				legend="#{msg['Cadastro']} / #{msg['Alterar']}" toggleable="true"
				toggleSpeed="500" collapsed="false" widgetVar="fieldsetPersistir"
				rendered="#{bean.cadastrarVisivel}">
				<h:form id="formularioEntidadePersistir" prependId="false"
					enctype="multipart/form-data">
					<div
						class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
						<p:panelGrid id="panelGridGeradorCamposPersistir" columns="2"
							cellpadding="0" cellspacing="10" layout="grid">
							
							<h:outputLabel value="#{msg['Nome_Fantasia']}: " />
							<p:inputText value="#{bean.entidade.nomeFantasia}" />

							<h:outputLabel value="#{msg['Razao_Social']}: " />
							<p:inputText value="#{bean.entidade.razaoSocial}" />
							
							<h:outputLabel value="#{msg['Data_da_Contratacao']}: " />
							<p:calendar value="#{bean.entidade.dataContratacao}" mode="popup"
								pattern="dd/MM/yyyy" />

							<h:outputLabel value="#{msg['CNPJ']}: " />
							<p:inputMask value="#{bean.entidade.cnpj}"
								mask="99.999.999/9999-99" />

							<h:outputLabel value="#{msg['Telefone']}: " />
							<p:inputText value="#{bean.entidade.telefone}" />

							<h:outputLabel value="#{msg['Fax']}: " />
							<p:inputText value="#{bean.entidade.fax}"/>
							
							<h:outputLabel value="#{msg['Email']}: " />
							<p:inputText value="#{bean.entidade.email}" />

							<h:outputLabel value="#{msg['Inscricao_Estadual']}: " />
							<p:inputText value="#{bean.entidade.inscricaoEstadual}"/>

							<h:outputLabel value="#{msg['Inscricao_Municipal']}: " />
							<p:inputText value="#{bean.entidade.inscricaoMunicipal}"/>

							<h:outputLabel value="#{msg['Web_site']}: " />
							<p:inputText value="#{bean.entidade.website}"/>

						</p:panelGrid>
					</div>
					<div  class="EmptyBox20"/>
						<div class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
							<p:panelGrid id="panelGridGeradorCamposEndereco" columns="2"
								cellpadding="0" layout="grid">

							<h:outputLabel value="#{msg['CEP']}: " />
							<p:inputMask value="#{bean.entidade.endereco.cep}"
								mask="99999-999">
								<p:ajax listener="#{bean.buscarEnderecoPorCEP}" update="panelGridGeradorCamposEndereco"/>  
							</p:inputMask>
								
							<h:outputLabel value="#{msg['Endereco']}: " />
							<p:inputText value="#{bean.entidade.endereco.endereco}" />

							<h:outputLabel value="#{msg['Numero']}: " />
							<p:inputText value="#{bean.entidade.endereco.numero}" />

							<h:outputLabel value="#{msg['Complemento']}: " />
							<p:inputText value="#{bean.entidade.endereco.complemento}" />

							<h:outputLabel value="#{msg['Bairro']}: " />
							<p:inputText value="#{bean.entidade.endereco.bairro}" />

							<h:outputLabel value="#{msg['Cidade']}: " />
							<p:inputText value="#{bean.entidade.endereco.cidade}" />
							
							<h:outputLabel value="#{msg['Estado']}: " />
							<p:selectOneMenu value="#{bean.entidade.endereco.estado}"
								styleClass="Wid30 - Responsive30" filter="true">
								<f:selectItems value="#{bean.listaEstados}" />
							</p:selectOneMenu>
							

						</p:panelGrid>
						</div>
					<div class="EmptyBox30" />
					<div
						class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
						<p:commandButton id="btn_fechar_persistir_cadastrar"
							value="#{msg['Cadastrar']}"
							icon="ui-icon-disk fa fa-save Fs14 white"
							action="#{bean.cadastrar(bean.entidade)}"
							update=":#{p:component('formularioMensagens')}, :panelGroupDetalhe, :panelGroupPersistir, :fieldSetConsulta"
							rendered="#{bean.entidade.id == null}" ajax="false" />
						<p:commandButton id="btn_fechar_persistir_alterar"
							value="#{msg['Alterar']}"
							icon="ui-icon-edit fa fa-edit Fs14 white"
							action="#{bean.alterar(bean.entidade)}" styleClass="BlueButton"
							update=":#{p:component('formularioMensagens')}, :panelGroupDetalhe, :panelGroupPersistir, :fieldSetConsulta"
							rendered="#{bean.entidade.id != null}" ajax="false" />
						<p:commandButton id="btn_fechar_persistir"
							value="#{msg['Fechar']}" icon="fa fa-close Fs14 white"
							action="#{bean.fecharCadastro()}" styleClass="RedButton"
							update=":#{p:component('formularioMensagens')}, :panelGroupPersistir, :fieldSetConsulta"
							ajax="false" />
					</div>
				</h:form>
			</p:fieldset>
			<p:spacer height="20" />
		</h:panelGroup>

		<h:panelGroup id="panelGroupDetalhe">
			<div class="Container100 Responsive100">
				<p:fieldset id="fieldSetEntidadeDetalhe" legend="#{msg['Detalhar']}"
					styleClass="layout-portlets-box" toggleable="true"
					toggleSpeed="500" collapsed="false" widgetVar="fieldsetDetalhar"
					rendered="#{bean.detalharVisivel}">
					<h:form id="formularioEntidadeDetalheDetalhar" prependId="false">
						<p:panelGrid id="panelGridGeradorCamposDetalhe" columns="2"
							cellpadding="0" cellspacing="10" layout="grid">

							<h:outputLabel value="#{msg['Nome']}: " />
							<h:outputLabel value="#{bean.entidade.nomeFantasia}"
								styleClass="black" />

						</p:panelGrid>
					</h:form>
					<div class="EmptyBox30" />
					<div
						class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
						<p:commandButton id="btn_fechar_detalhe"
							icon="ui-icon-close fa fa-close Fs14 white"
							value="#{msg['Fechar']}" actionListener="#{bean.fecharDetalhe()}"
							styleClass="RedButton"
							update=":panelGroupDetalhe, :fieldSetConsulta" />
					</div>
				</p:fieldset>
			</div>
			<p:spacer height="20" />
		</h:panelGroup>
	</ui:define>
</ui:composition>
