<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ps="http://primefaces.org/spark"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/paginas/template/template.xhtml">

	<ui:param name="bean" value="#{faltasRelatorio}" />

		<div id="tituloPagina">
			<div class="layout-portlets-box">
				<p:outputLabel value="#{msg['Relatorio']} / #{msg['Faltas']}" />
			</div>
			<br />
		</div>
		
	<ui:define name="content">
		<h:panelGroup id="panelGroupPersistir">
			<p:fieldset id="fieldSetEntidadePersistir"
				styleClass="layout-portlets-box" legend="#{msg['Relatorio']}"
				toggleable="true" toggleSpeed="500" collapsed="false"
				widgetVar="fieldsetPersistir"
				rendered="#{usuarioBean.possuiPermissao('ROLE_PESSOA_RELATORIO_CONSULTAR')}">
					<h:form id="formularioEntidadePersistir" prependId="false" target="_blank"
						enctype="multipart/form-data">
						<div
							class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
							<p:panelGrid id="panelGridGeradorCamposPersistir" columns="2"
								cellpadding="0" cellspacing="10" layout="grid">
								
								<h:outputLabel value="#{msg['Paciente']}: " for="nome"/>
								<p:autoComplete id="nome" 
									value="#{bean.entidade.pessoa}"
									var="pessoa"
									itemLabel="#{pessoa.nome}"
									itemValue="#{pessoa}" 
									completeMethod="#{bean.completeText}" 
									converter="#{pessoaConverter}" />

								<h:outputText value="#{msg['Data']}:" />
								<p:row>
									<p:calendar id="filter" value="#{bean.primeiraData}" size="12"
										mask="99/99/9999" styleClass="TexAllRight"
										pattern="dd/MM/yyyy" locale="pt" navigator="true" />
									<h:outputText value="#{msg['Ate']}" /> 
									<p:calendar id="filterSegundo" value="#{bean.segundaData}"
										size="12" mask="99/99/9999" styleClass="TexAllRight" 
										pattern="dd/MM/yyyy" locale="pt" navigator="true" />
								</p:row>
						</p:panelGrid>
						</div>
						<div class="EmptyBox30" />
	
						<div
							class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
							<p:commandButton id="btn_fechar_persistir_cadastrar" value="#{msg['Imprimir']}"
								icon="fa fa-file-pdf-o Fs14 white" 
								action="#{bean.gerarRelatorio(bean.entidade)}" ajax="false" />
						</div>
					</h:form>
				</p:fieldset>
			<p:spacer height="20" />
		</h:panelGroup>
	</ui:define>
</ui:composition>