<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ps="http://primefaces.org/spark"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/paginas/template/template.xhtml">

	<ui:param name="bean" value="#{fisioterapiaBean}" />

	<ui:define name="content">
		<div id="tituloPagina">
			<div class="layout-portlets-box">
				<p:outputLabel value="#{msg['Avaliacao']} / #{msg['Fisioterapia']}" />
			</div>
			<br />
		</div>
		<div class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
			<p:fieldset id="fieldSetConsulta" styleClass="layout-portlets-box"
				legend="#{msg['Consultar']}" toggleable="true" toggleSpeed="500"
				widgetVar="consulta" rendered="#{usuarioBean.possuiPermissao('ROLE_FISIOTERAPIA_CONSULTAR')}">
				<p:toolbar>
					<f:facet name="left">
						<h:panelGrid columns="2"
							styleClass="DispTableCell{ display:table-cell; vertical-align:middle;}">
							<h:panelGroup>
								<p:commandButton actionListener="#{bean.novo()}"
									rendered="#{usuarioBean.possuiPermissao('ROLE_FISIOTERAPIA_INSERIR')}"
									update=":panelGroupPersistir" value="#{msg['Novo']}" />
							</h:panelGroup>
						</h:panelGrid>
					</f:facet>
					<f:facet name="right">
						<h:form id="formBuscar">
							<h:panelGrid columns="2"
								styleClass="DispTableCell{ display:table-cell; vertical-align:middle;}">
								<h:outputText value="#{msg['Buscar']}" />
								<p:inputText id="filter" value="#{bean.filtro}" size="10"
									styleClass="TexAllRight" placeholder="#{msg['Paciente']}">
									<p:ajax event="keyup" listener="#{bean.filtro()}"
										update="entidadeTabela" />
								</p:inputText>
							</h:panelGrid>
						</h:form>
					</f:facet>
				</p:toolbar>
				<br />

				<p:dataTable id="entidadeTabela" title="entidadeTabela"
					name="consultaLazy" var="entidade" value="#{bean.listFiltrado}"
					paginator="true" rows="5"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					rowsPerPageTemplate="5,10,15,50,100" lazy="true"
					paginatorAlwaysVisible="true"
					emptyMessage="Nenhum registro encontrado"
					rowStyleClass="#{empty linha or linha mod 2 ne 0 ? 'even-row' : 'odd-row'}"
					rowIndexVar="linha" styleClass="Fs10" reflow="true">

					<p:column headerText="#{msg['Nome']}:">
						<h:outputText value="#{entidade.pessoa.nome}" />
					</p:column>

					<p:column styleClass="Wid10 TexAlCenter"
						style="background-color:#F0F0F0;">
						<p:commandButton id="btnDetalhe"
							actionListener="#{bean.setSelecionar(entidade)}"
							update=":#{p:component('formularioMensagens')}, :panelGroupDetalhe"
							icon="fa fa-file-text-o Fs14 white" />
					</p:column>
					<p:column styleClass="Wid10 TexAlCenter"
						style="background-color:#F0F0F0;">
						<p:commandButton id="btnAlterar"
							rendered="#{usuarioBean.possuiPermissao('ROLE_FISIOTERAPIA_ALTERAR')}"
							actionListener="#{bean.setSelecionarAlterar(entidade)}"
							update=":#{p:component('formularioMensagens')}, :panelGroupPersistir"
							styleClass="BlueButton" icon="fa fa-edit Fs14 white" />
					</p:column>
					<p:column styleClass="Wid10 TexAlCenter"
						style="background-color:#F0F0F0;">
						<p:commandButton id="btnExcluir"
							rendered="#{usuarioBean.possuiPermissao('ROLE_FISIOTERAPIA_EXCLUIR')}"
							actionListener="#{bean.excluir(entidade)}"
							update=":#{p:component('formularioMensagens')}, :fieldSetConsulta"
							styleClass="RedButton" icon="fa fa-trash Fs14 white" />
					</p:column>
				</p:dataTable>
			</p:fieldset>
		</div>

		<br />

		<h:panelGroup id="panelGroupPersistir">
			<p:fieldset id="fieldSetEntidadePersistir"
				styleClass="layout-portlets-box"
				legend="#{msg['Cadastro']} / #{msg['Alterar']}" toggleable="true"
				toggleSpeed="500" collapsed="false" widgetVar="fieldsetPersistir"
				rendered="#{bean.cadastrarVisivel}">
				<h:form id="formularioEntidadePersistir" prependId="false"
					enctype="multipart/form-data">

					<div
						class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
						<p:panelGrid id="panelGridGeradorCamposPersistir" columns="2"
							cellpadding="0" cellspacing="10" layout="grid">

							<h:outputLabel value="#{msg['Paciente']}: " />
							<p:selectOneMenu value="#{bean.entidade.pessoa}" effect="fade"
								id="Pessoa" converter="#{bean.pessoaConversor}" filter="true"
								style="width: 9em;">
								<f:selectItem itemLabel="#{msg['Selecione']}"
									itemValue="#{null}" />
								<f:selectItems value="#{bean.listaPessoas}" var="item"
									itemLabel="#{item.labelCampo}" itemValue="#{item.objetoCampo}" />
								<p:ajax event="change" update="formularioEntidadePersistir"
									listener="#{bean.setDadosPessoas()}" />
							</p:selectOneMenu>

							<h:outputLabel value="#{msg['Nascimento']}: " />
							<p:inputText value="#{bean.entidade.pessoa.dataNascimento}"
								disabled="true">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</p:inputText>

							<h:outputLabel value="#{msg['Celular']}: " />
							<p:inputText value="#{bean.entidade.pessoa.telefoneCelular}"
								disabled="true" />

							<h:outputLabel value="#{msg['Profissao']}: " />
							<p:inputText value="#{bean.entidade.pessoa.profissao.descricao}"
								disabled="true" />

							<h:outputLabel value="#{msg['Indicacao']}: " />
							<p:inputText value="#{bean.entidade.indicacao}" a:autoFocus="#{bean.focus}"/>

							<h:outputLabel value="#{msg['Diagnostico_Medico']}: " />
							<p:inputTextarea value="#{bean.entidade.diagnosticoMedico}" autoResize="false" />

							<h:outputLabel
								value="#{msg['Objetivo']} / #{msg['Atividades']}: " />
							<p:inputTextarea value="#{bean.entidade.objetivo}"  autoResize="false"/>

							<h:outputLabel value="#{msg['QP']}: " />
							<p:inputTextarea value="#{bean.entidade.queixaPrincipal}" autoResize="false"/>

							<h:outputLabel value="#{msg['HDA']}: " />
							<p:inputTextarea value="#{bean.entidade.historiaDoencaAtual}" autoResize="false"/>

							<h:outputLabel value="#{msg['Medicamento']}: " />
							<p:inputTextarea value="#{bean.entidade.medicamento}" autoResize="false"/>

						</p:panelGrid>
					</div>

					<div class="EmptyBox30" />
					<div
						class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
						<p:panelGrid id="panelGridGeradorTesteClinicos" columns="2"
							cellpadding="0" cellspacing="10" layout="grid">
							<h:outputLabel value="#{msg['Testes_clinicos_e_funcionais']}" />
								
							<p:inputTextarea value="#{bean.entidade.testeClinicosFuncionais}" 
								autoResize="false"/>

						</p:panelGrid>
					</div>

					<div class="EmptyBox30" />
					<div
						class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
						<p:panelGrid id="panelGridGeradorProcedimentoNescessario"
							columns="2" cellpadding="0" cellspacing="10" layout="grid">

							<h:outputLabel value="#{msg['Procedimentos_necessarios']}:" />
							<p:inputTextarea value="#{bean.entidade.procedimentoNescessario}"
								autoResize="false" />
						</p:panelGrid>
					</div>

					<div class="EmptyBox30" />
					<div
						class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
						<p:commandButton id="btn_fechar_persistir_cadastrar"
							value="#{msg['Cadastrar']}"
							icon="ui-icon-disk fa fa-save Fs14 white"
							action="#{bean.cadastrar(bean.entidade)}"
							update=":#{p:component('formularioMensagens')}, :panelGroupDetalhe, :panelGroupPersistir, :fieldSetConsulta"
							rendered="#{bean.entidade.id == null}" ajax="false" />
						<p:commandButton id="btn_fechar_persistir_alterar"
							value="#{msg['Alterar']}"
							icon="ui-icon-edit fa fa-edit Fs14 white"
							action="#{bean.alterar(bean.entidade)}" styleClass="BlueButton"
							update=":#{p:component('formularioMensagens')}, :panelGroupDetalhe, :panelGroupPersistir, :fieldSetConsulta"
							rendered="#{bean.entidade.id != null}" ajax="false" />
						<p:commandButton id="btn_fechar_persistir"
							value="#{msg['Fechar']}"
							icon="fa fa-close Fs14 white"
							action="#{bean.fecharCadastro()}"  styleClass="RedButton"
							update=":#{p:component('formularioMensagens')}, :panelGroupPersistir, :fieldSetConsulta"
							ajax="false" />
					</div>
				</h:form>
			</p:fieldset>
			<p:spacer height="20" />
		</h:panelGroup>

		<h:panelGroup id="panelGroupDetalhe">
			<div class="Container100 Responsive100">
				<p:fieldset id="fieldSetEntidadeDetalhe" legend="#{msg['Detalhar']}"
					styleClass="layout-portlets-box" toggleable="true"
					toggleSpeed="500" collapsed="false" widgetVar="fieldsetDetalhar"
					rendered="#{bean.detalharVisivel}">
					<h:form id="formularioEntidadeDetalheDetalhar" prependId="false">
						<p:panelGrid id="panelGridGeradorCamposDetalhe" columns="2"
							cellpadding="0" cellspacing="10"  layout="grid">

							<h:outputLabel value="#{msg['Paciente']}: " />
							<h:outputLabel value="#{bean.entidade.pessoa.nome}" styleClass="black" />

							<h:outputLabel value="#{msg['Nascimento']}: " />
							<h:outputLabel value="#{bean.entidade.pessoa.dataNascimento}" styleClass="black" >
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputLabel>
							
							<h:outputLabel value="#{msg['Celular']}: " />
							<h:outputLabel value="#{bean.entidade.pessoa.telefoneCelular}" styleClass="black" />
							
							<h:outputLabel value="#{msg['Profissao']}: " />
							<h:outputLabel value="#{bean.entidade.pessoa.profissao.descricao}" styleClass="black" />
							
							<h:outputLabel value="#{msg['Indicacao']}: " />
							<h:outputLabel value="#{bean.entidade.indicacao}" styleClass="black" />

							<h:outputLabel value="#{msg['Diagnostico_Medico']}: " />
							<h:outputLabel value="#{bean.entidade.diagnosticoMedico}" styleClass="black" />
							<h:outputLabel
								value="#{msg['Objetivo']} / #{msg['Atividades']}: " />
							<h:outputLabel value="#{bean.entidade.objetivo}" styleClass="black" />

							<h:outputLabel value="#{msg['QP']}: " />
							<h:outputLabel value="#{bean.entidade.queixaPrincipal}" styleClass="black" />

							<h:outputLabel value="#{msg['HDA']}: " />
							<h:outputLabel value="#{bean.entidade.historiaDoencaAtual}" styleClass="black" />

							<h:outputLabel value="#{msg['Medicamento']}: " />
							<h:outputLabel value="#{bean.entidade.medicamento}" styleClass="black" />
							
							<h:outputLabel value="#{msg['Testes_clinicos_e_funcionais']}: " />
							<h:outputLabel value="#{bean.entidade.testeClinicosFuncionais}" styleClass="black" />
							
							<h:outputLabel value="#{msg['Procedimentos_necessarios']}: " />
							<h:outputLabel value="#{bean.entidade.procedimentoNescessario}" styleClass="black" />
						</p:panelGrid>
					</h:form>
					<div class="EmptyBox30" />
					<div
						class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
						<p:commandButton id="btn_fechar_detalhe"
							icon="ui-icon-close fa fa-close Fs14 white"
							value="#{msg['Fechar']}" actionListener="#{bean.fecharDetalhe()}"
							styleClass="RedButton"
							update=":panelGroupDetalhe, :fieldSetConsulta" />
					</div>
				</p:fieldset>
			</div>
			<p:spacer height="20" />
		</h:panelGroup>
	</ui:define>
</ui:composition>
