<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ps="http://primefaces.org/spark"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/paginas/template/template.xhtml">

	<ui:param name="bean" value="#{fluxoCaixaBean}" />

	<ui:define name="content">
		<div id="tituloPagina">
			<div class="layout-portlets-box">
				<p:outputLabel value="#{msg['Financeiro']} / #{msg['Fluxo_de_Caixa']}" />
			</div>
			<br />
		</div>
		
		<div class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
			<h:panelGroup id="panelGroupPesquisar" rendered="#{usuarioBean.possuiPermissao('ROLE_FLUXO_DE_CAIXA_CONSULTAR')}">
				<p:fieldset id="fieldSetPesquisar" styleClass="layout-portlets-box"
					legend="#{msg['Pesquisar']}" toggleable="true" toggleSpeed="500"
					widgetVar="pesquisar" rendered="#{bean.pesquisarVisivel}">
					<h:form id="formBuscar">
						<div
							class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
							<p:panelGrid id="panelGridGeradorCamposPersistir" columns="1"
								cellpadding="0" cellspacing="10" layout="grid">
								<div class="EmptyBox10" />
								<h:outputText value="#{msg['Data']}:" />
								<p:row>
									<p:calendar id="filter" value="#{bean.primeiraData}" size="12"
										mask="99/99/9999" styleClass="TexAllRight"
										pattern="dd/MM/yyyy" locale="pt" navigator="true" />
									<h:outputText value="#{msg['Ate']}" />
									<p:calendar id="filterSegundo" value="#{bean.segundaData}"
										size="12" mask="99/99/9999" styleClass="TexAllRight"
										pattern="dd/MM/yyyy" locale="pt" navigator="true" />
								</p:row>
								<div class="EmptyBox10" />
							</p:panelGrid>
							<div class="EmptyBox30" />
							<p:toolbar>
								<f:facet name="left">
									<h:panelGrid columns="2" styleClass="DispTableCell{ display:table-cell; vertical-align:middle;}">
										<p:commandButton id="btn_pesquisar" update=":entidadeTabela, :panelGroupPesquisar, :fieldSetPesquisar" 
											actionListener="#{bean.filtro()}"
											icon="fa fa-search white" />
										<p:commandButton id="btn_fechar_detalhe"
											icon="ui-icon-close fa fa-close Fs14 white"
											actionListener="#{bean.fecharPesquisa()}" styleClass="RedButton"
											update=":panelGroupPesquisar, :fieldSetPesquisar" />
									</h:panelGrid>
								</f:facet>
							</p:toolbar>
						</div>
					</h:form>
				</p:fieldset>
			</h:panelGroup>
			
			<p:fieldset id="fieldSetConsulta" styleClass="layout-portlets-box"
				legend="#{msg['Consultar']}" toggleable="true" toggleSpeed="500"
				widgetVar="consulta" rendered="#{usuarioBean.possuiPermissao('ROLE_FLUXO_DE_CAIXA_CONSULTAR')}">
				<p:toolbar>
					<f:facet name="left">
						<h:panelGrid columns="2" styleClass="DispTableCell{ display:table-cell; vertical-align:middle;}">
							<h:panelGroup>
								<p:commandButton actionListener="#{bean.novo()}"
									rendered="#{usuarioBean.possuiPermissao('ROLE_FLUXO_DE_CAIXA_INSERIR')}"
									update=":panelGroupPersistir" value="#{msg['Novo']}" />
							</h:panelGroup>
						</h:panelGrid>
					</f:facet>
					<f:facet name="right">
						<h:panelGrid columns="2"
							styleClass="DispTableCell{ display:table-cell; vertical-align:middle;}">
							<h:panelGrid columns="6"
								styleClass="DispTableCell{ display:table-cell; vertical-align:middle;}">
								<p:commandButton update=":panelGroupPesquisar"
									actionListener="#{bean.abrirPesquisa()}"
									icon="fa fa-search white" />
							</h:panelGrid>
						</h:panelGrid>
					</f:facet>
				</p:toolbar>
				<br />
				<p:dataTable id="entidadeTabela" title="entidadeTabela"
					name="consultaLazy" var="entidade" value="#{bean.listFiltrado == null ? bean.consulta : bean.listFiltrado}"
					paginator="true" rows="5"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					rowsPerPageTemplate="5,10,15,50,100" lazy="true"
					paginatorAlwaysVisible="true"
					emptyMessage="Nenhum registro encontrado"
					rowStyleClass="#{empty linha or linha mod 2 ne 0 ? 'even-row' : 'odd-row'}"
					rowIndexVar="linha" styleClass="Fs10" reflow="true">
	
					<p:column>
						<h:graphicImage
							styleClass="TextAllCenter DispNone"
							rendered="#{entidade.tipoLancamento == 'Receita'}">
							<i class="fa fa-arrow-circle-up green Fs28" />
							<h:outputText value="  #{msg['Receita']}"
							rendered="#{entidade.tipoLancamento == 'Receita'}" />
						</h:graphicImage>
						<h:graphicImage value=""
							styleClass="TextAllCenter DispNone"
							rendered="#{entidade.tipoLancamento == 'Despesa'}">
								<i class="fa fa-arrow-circle-down red Fs28"/>
							<h:outputText value="  #{msg['Despesa']}"
							rendered="#{entidade.tipoLancamento == 'Despesa'}" />
						</h:graphicImage>
					</p:column>

					<p:column headerText="#{msg['Paciente']}: ">
						<h:outputText value="#{entidade.pessoa.nome}" />
					</p:column>

					<!-- <p:column headerText="#{msg['Tipo_de_Lancamento']}:">
						<h:outputText value="#{msg['Receita']}"
							rendered="#{entidade.tipoLancamento == 'Receita'}" />
						<h:outputText value="#{msg['Despesa']}"
							rendered="#{entidade.tipoLancamento == 'Despesa'}" />
					</p:column> -->
	
					<p:column headerText="#{msg['Data_de_Lancamento']}:">
						<h:outputText value="#{entidade.dataLancamento}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
					</p:column>
					
					<p:column headerText="#{msg['Especialidade']}:">
						<h:outputText value="#{entidade.especialidade.descricao}"/>
					</p:column>

					<p:column headerText="#{msg['Responsavel']}:">
						<h:outputText value="#{entidade.usuario.pessoa.nome}"/>
					</p:column>
	
					<p:column headerText="#{msg['Valor']}:">
						<h:outputText value="#{msg['Sifrao']} #{entidade.valor}"
							styleClass="red" rendered="#{entidade.tipoLancamento == 'Despesa'}">
							<f:convertNumber pattern="#,##0.00" />
						</h:outputText>
						<h:outputText value="#{msg['Sifrao']} #{entidade.valor}" rendered="#{entidade.tipoLancamento == 'Receita'}"
							styleClass="green">
							<f:convertNumber pattern="#,##0.00" />
						</h:outputText>
					</p:column>
	
					<p:columnGroup type="footer">
						<p:row>
							<p:column colspan="5" styleClass="TexAlRight"
								footerText="#{msg['Total']}:"/>
							<p:column footerText="#{msg['Sifrao']} #{bean.valorTotal}"/>
						</p:row>
					</p:columnGroup>
	
					<p:column styleClass="TexAlCenter Wid10"
						style="background-color:#F0F0F0;">
						<p:commandButton id="btnDetalhe"
							actionListener="#{bean.setSelecionar(entidade)}"
							update=":#{p:component('formularioMensagens')}, :panelGroupDetalhe"
							icon="fa fa-file-text-o Fs14 white" />
					</p:column>
					<p:column styleClass="TexAlCenter Wid10"
						style="background-color:#F0F0F0;">
						<p:commandButton id="btnAlterar"
							rendered="#{usuarioBean.possuiPermissao('ROLE_FLUXO_DE_CAIXA_ALTERAR')}"
							actionListener="#{bean.setSelecionarAlterar(entidade)}"
							update=":#{p:component('formularioMensagens')}, :panelGroupPersistir"
							styleClass="BlueButton" icon="fa fa-edit Fs14 white" />
					</p:column>
					<p:column styleClass="TexAlCenter Wid10"
						style="background-color:#F0F0F0;">
						<p:commandButton id="btnExcluir"
							rendered="#{usuarioBean.possuiPermissao('ROLE_FLUXO_DE_CAIXA_EXCLUIR')}"
							actionListener="#{bean.excluir(entidade)}"
							update=":#{p:component('formularioMensagens')}, :fieldSetConsulta"
							styleClass="RedButton" icon="fa fa-trash Fs14 white"/>
					</p:column>
				</p:dataTable>
			</p:fieldset>
		</div>

	<!-- 	<div>
			<p:fieldset id="fieldSetCharBar" styleClass="layout-portlets-box"
				legend="#{msg['Gafrico']}" toggleable="true" toggleSpeed="500"
				widgetVar="charBar"
				rendered="#{usuarioBean.possuiPermissao('ROLE_FLUXO_DE_CAIXA_CONSULTAR')}">

				<h:panelGrid columns="2" columnClasses="left,right"
					style="width:100%">
					<p:chart type="bar" model="#{dashboardBean.fluxoCaixa}"
						style="width:100%;" />
				</h:panelGrid>

			</p:fieldset>
		</div>  -->

		<br />

		<h:panelGroup id="panelGroupPersistir">
				<p:fieldset id="fieldSetEntidadePersistir"
					styleClass="layout-portlets-box"
					legend="#{msg['Cadastrar']} / #{msg['Alterar']}" toggleable="true"
					toggleSpeed="500" collapsed="false" widgetVar="fieldsetPersistir"
					rendered="#{bean.cadastrarVisivel}">
					<h:form id="formularioEntidadePersistir" prependId="false"
						enctype="multipart/form-data">
					<div
						class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
						<p:panelGrid id="panelGridGeradorCamposPersistir" columns="2"
							cellpadding="0" cellspacing="10" layout="grid">
							
							<h:outputLabel value="#{msg['Tipo_de_Lancamento']}: " />
							<p:selectOneMenu value="#{bean.entidade.tipoLancamento}"
								effect="fade" style="width: 9em;">
								<f:selectItem itemLabel="Selecione" itemValue="#{null}" />
								<f:selectItems value="#{bean.tipoLancamentoValues}" />
								<p:ajax event="change" update="formularioEntidadePersistir"
									listener="#{bean.ocultarCampos()}" />
							</p:selectOneMenu>
							
							<h:outputLabel value="#{msg['Paciente']}: " rendered="#{bean.ocultaPaciente}" />
							<p:selectOneMenu value="#{bean.entidade.pessoa}" effect="fade"
								id="Pessoa" converter="#{bean.pessoaConversor}" filter="true"
								style="width: 9em;"
								rendered="#{bean.ocultaPaciente}">
								<f:selectItem itemLabel="#{msg['Selecione']}"
									itemValue="#{null}" />
								<f:selectItems value="#{bean.listaPessoas}" var="item"
									itemLabel="#{item.labelCampo}" itemValue="#{item.objetoCampo}" />
							</p:selectOneMenu>
							
							<h:outputLabel value="#{msg['Numero_do_recibo']}: " rendered="#{bean.ocultaNumeroRecibo}" />
							<p:inputText value="#{bean.entidade.numeroRecibo}" rendered="#{bean.ocultaNumeroRecibo}" a:autoFocus="#{bean.focus}"/>

							<h:outputLabel value="#{msg['Forma_de_Pagamento']}: " />
							<p:selectOneMenu value="#{bean.entidade.formaPagamento}"
								effect="fade" id="FormaPagamento"
								style="width: 9em;"
								converter="#{bean.formaPagamentoConversor}"
								filterMatchMode="startsWith" filter="true">
								<f:selectItem itemLabel="#{msg['Selecione']}"
									itemValue="#{null}" />
								<f:selectItems value="#{bean.listaFormaPagamento}" var="item"
									itemLabel="#{item.labelCampo}" itemValue="#{item.objetoCampo}" />
								<p:ajax listener="#{bean.habilitarParcela()}" update="idParcela" />
							</p:selectOneMenu>
							
							<h:outputLabel value="#{msg['Quantidade_Parcelas']}: " />
							<p:inputText id="idParcela"  value="#{bean.entidade.quantidadeParcela}" disabled="#{bean.ocultaParcela}"/>

							<h:outputLabel value="#{msg['Data_de_Lancamento']}: " />
							<p:calendar value="#{bean.entidade.dataLancamento}" pattern="dd/MM/yyyy" disabled="true"/>

							<h:outputLabel value="#{msg['Especialidade']}:" />
							<p:selectOneMenu value="#{bean.entidade.especialidade}"
								effect="fade" id="Especialidade"
								style="width: 9em;"
								converter="#{bean.especialidadeConversor}"
								filterMatchMode="startsWith" filter="true">
								<f:selectItem itemLabel="#{msg['Selecione']}"
									itemValue="#{null}" />
								<f:selectItems value="#{bean.listaEspecialidade}" var="item"
									itemLabel="#{item.labelCampo}" itemValue="#{item.objetoCampo}" />
							</p:selectOneMenu>

							<h:outputLabel value="#{msg['Descricao']}: " />
							<p:inputTextarea value="#{bean.entidade.descricao}" autoResize="false"/>

							<h:outputLabel value="#{msg['Valor']}: " />
							<p:spinner value="#{bean.entidade.valor}" size="20"
								stepFactor="0.25" min="1" prefix="#{msg['Sifrao']}">
							</p:spinner>

						</p:panelGrid>
					</div>
					<div class="EmptyBox30" />
					<div
						class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
						<p:commandButton id="btn_fechar_persistir_cadastrar"
							value="#{msg['Cadastrar']}"
							icon="ui-icon-disk fa fa-save Fs14 white"
							action="#{bean.cadastrar(bean.entidade)}"
							update=":#{p:component('formularioMensagens')}, :panelGroupDetalhe, :panelGroupPersistir, :fieldSetConsulta"
							rendered="#{bean.entidade.id == null}" ajax="false" />
						<p:commandButton id="btn_fechar_persistir_alterar"
							value="#{msg['Alterar']}"
							icon="ui-icon-edit fa fa-edit Fs14 white"
							action="#{bean.alterar(bean.entidade)}" styleClass="BlueButton"
							update=":#{p:component('formularioMensagens')}, :panelGroupDetalhe, :panelGroupPersistir, :fieldSetConsulta"
							rendered="#{bean.entidade.id != null}" ajax="false" />
						<p:commandButton id="btn_fechar_persistir"
							value="#{msg['Fechar']}"
							icon="fa fa-close Fs14 white"
							action="#{bean.fecharCadastro()}"  styleClass="RedButton"
							update=":#{p:component('formularioMensagens')}, :panelGroupPersistir, :fieldSetConsulta"
							ajax="false" />
					</div>
				</h:form>
				</p:fieldset>
			<p:spacer height="20" />
		</h:panelGroup>

		<h:panelGroup id="panelGroupDetalhe">
			<div class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
				<p:fieldset id="fieldSetEntidadeDetalhe" legend="#{msg['Detalhar']}"
					styleClass="layout-portlets-box" toggleable="true"
					toggleSpeed="500" collapsed="false" widgetVar="fieldsetDetalhar"
					rendered="#{bean.detalharVisivel}">
					<h:form id="formularioEntidadeDetalheDetalhar" prependId="false">
						<p:panelGrid id="panelGridGeradorCamposDetalhe" columns="2"
							cellpadding="0" cellspacing="10" layout="grid">
							
							<h:outputLabel value="#{msg['Nome']}: " />
							<h:outputLabel value="#{bean.entidade.pessoa.nomeCompleto}" 
								styleClass="black" />
								
							<h:outputLabel value="#{msg['Numero_do_recibo']}: " />
							<h:outputLabel value="#{bean.entidade.numeroRecibo}" 
								styleClass="black" />
								
							<h:outputLabel value="#{msg['Forma_de_Pagamento']}: " />
							<h:outputLabel value="#{bean.entidade.formaPagamento.descricao}"
								styleClass="black" />

							<h:outputLabel value="#{msg['Tipo_de_Lancamento']}: " />
							<h:outputLabel value="#{bean.entidade.tipoLancamento.value}"
								styleClass="black" />

							<h:outputLabel value="#{msg['Data_de_Lancamento']}: " />
							<h:outputLabel value="#{bean.entidade.dataLancamento}" styleClass="black">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputLabel>
							
							<h:outputLabel value="#{msg['Especialidade']}: " />
							<h:outputLabel value="#{bean.entidade.especialidade.descricao}"
								styleClass="black" />

							<h:outputLabel value="#{msg['Descricao']}: " />
							<h:outputLabel value="#{bean.entidade.descricao}"
								styleClass="black" />

							<h:outputLabel value="#{msg['Valor']}: " />
							<h:outputLabel value="#{msg['Sifrao']} #{bean.entidade.valor}"
								 styleClass="black">
								 <f:convertNumber pattern="#,##0.00" />
							</h:outputLabel>

							<h:outputLabel value="#{msg['Responsavel']}: " />
							<h:outputLabel value="#{bean.entidade.usuario.pessoa.nome}" 
								styleClass="black" />
						</p:panelGrid>
					</h:form>
					<div class="EmptyBox30"/>
					<div class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
							<p:commandButton id="btn_fechar_detalhe"
								icon="ui-icon-close fa fa-close Fs14 white"
								value="#{msg['Fechar']}"
								actionListener="#{bean.fecharDetalhe()}" styleClass="RedButton"
								update=":panelGroupDetalhe, :fieldSetConsulta" />
					</div>
				</p:fieldset>
			</div>
			<p:spacer height="20" />
		</h:panelGroup>
	</ui:define>
</ui:composition>
