<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ps="http://primefaces.org/spark"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/paginas/template/template.xhtml">
	
	<ui:param name="bean" value="#{dashBoard}"/>

	<ui:define name="content">
		<!-- <div class="ui-panel ui-widget ui-widget-content ui-corner-all">  -->
		<p:fieldset id="fieldSet" styleClass="layout-portlets-box"
			emptyMessage="Nenhum registro encontrado"
			legend="#{msg['estatistica_mes']}" toggleable="false" toggleSpeed="500">
			<div class="ui-panel-content ui-widget-content">
				<div class="ui-g knobs">
					<div class="ui-g-12 ui-lg-3 ui-md-6">
						<div class="knob-title" style="margin-bottom: 15px;">#{msg['Novos_Pacientes']}</div>
						<div style="display: inline; width: 150px; height: 150px;">
							<p:knob disabled="true" value="#{dashboardBean.cadastroPacienteMes()}" backgroundColor="#33AFDE"/>
						</div>
					</div>
					<div class="ui-g-12 ui-lg-3 ui-md-6">
						<div class="knob-title" style="margin-bottom: 15px;">
							<h:outputLabel id="idConsulta" value="#{msg['Consultas']}" />
						</div>
						<div style="display: inline; width: 150px; height: 150px;">
							<p:knob id="idKnob" disabled="true" max="1000" value="#{dashboardBean.consultaMes()}" backgroundColor="#33AFDE"/>
						     <p:overlayPanel id="idPanelConsulta" for="idConsulta" showEffect="blind" 
						                    dismissable="false" showCloseIcon="true">
								 <p:dataTable id="idTipoConsulta" var="tp" value="#{dashboardBean.tipoConsultas()}" 
								 			  reflow="true"
								 			  emptyMessage="Nenhum registro encontrado"
								 			  style="width:300px;">
								 	 <p:column headerText="#{msg['Especialidade']}">
							            <h:outputText value="#{tp.nome}" />
							        </p:column>
							        <p:column headerText="#{msg['Quantidade']}">
							            <h:outputText value="#{tp.contador}" />
							        </p:column>
								 </p:dataTable>						                   
						    </p:overlayPanel>   
						</div>
					</div>
					<div class="ui-g-12 ui-lg-3 ui-md-6">
						<div class="knob-title" style="margin-bottom: 15px;">
							<h:outputLabel id="idFalta" value="#{msg['Faltas']}" />
						</div>
						<div style="display: inline; width: 150px; height: 150px;">
							<p:knob disabled="true" value="#{dashboardBean.countFalt()}" backgroundColor="#33AFDE"/>
							<p:overlayPanel id="idPanelFalta" for="idFalta" showEffect="blind" 
						                    dismissable="false" showCloseIcon="true">
								  <p:dataTable value="#{dashboardBean.faltaMes()}" var="agenda"
				                	emptyMessage="Nenhum registro encontrado" reflow="true"
				                	paginator="true"
				                	rows="5"
				                	style="width:500px;">
								    <p:column headerText="#{msg['Nome']}">
								        <h:outputText value="#{agenda.pessoa.nome}" />
								    </p:column>
								      <p:column headerText="#{msg['Data']}">
								        <h:outputText value="#{agenda.dataInicio}">
								        	  <f:convertDateTime pattern="dd/MM/yyyy" />
								        </h:outputText>
								    </p:column>
								</p:dataTable>					                   
						    </p:overlayPanel>   
						</div>
					</div>
					<div class="ui-g-12 ui-lg-3 ui-md-6">
						<div class="knob-title" style="margin-bottom: 15px;">#{msg['Evolucao']}</div>
						<div style="display: inline; width: 150px; height: 150px;">
							<p:knob disabled="true" value="#{dashboardBean.cadastroEvolucaoMes()}" backgroundColor="#33AFDE"/>
						</div>
					</div>
				</div>
			</div>
		</p:fieldset>
		<div class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
			<h:form id="formFluxo">
				<!-- 	<h:graphicImage name="images/LOGO.png" library="spark-layout" 
					style="max-width: 662px; /* Máximo da largura da imagem */
						   width: 100%;
						   max-height: 500px; /* Máximo da altura da imagem */
						   min-height: auto; /* Mínimo da altura, por padrão “auto” */
						   background-size: 100%;
						   background-repeat: no-repeat;"/>   -->
				  	<p:fieldset id="fieldSetCharBar" styleClass="layout-portlets-box"
							legend="#{msg['Fluxo_de_Caixa']}" toggleable="false" toggleSpeed="500"
							widgetVar="charBar"
							rendered="#{usuarioBean.possuiPermissao('ROLE_FLUXO_DE_CAIXA_CONSULTAR')}">
						<div class="Container90">
							<p:panelGrid columns="1" />
						</div>
						<div class="Container10">
							<p:panelGrid columns="1">
				              <p:selectOneMenu id="Sexo" value="#{dashboardBean.ano}" 
				              effect="fade" styleClass="Wid30 - Responsive30" >
								<!-- <f:selectItems value="#{dashboardBean.listaAno}" /> -->
									<f:selectItem itemLabel="2016" itemValue="2016" />
            						    <f:selectItem itemLabel="2017" itemValue="2017" />
            						    <f:selectItem itemLabel="2018" itemValue="2018" />
            						    <f:selectItem itemLabel="2019" itemValue="2019" />
            						    <f:selectItem itemLabel="2020" itemValue="2020" />
					            <p:ajax listener="#{dashboardBean.recebeAno}" update="fieldSetCharBar" />
							  </p:selectOneMenu>
							</p:panelGrid>
						</div>
						<h:panelGrid columns="2" columnClasses="left,right"
								style="width:100%">
								<p:chart type="bar" model="#{dashboardBean.fluxoCaixa}"
									style="width:100%;" />
						</h:panelGrid>
					</p:fieldset>
				</h:form>
			<div class="Container100 MarTop20 TexAlLeft">
				<p:fieldset id="fieldSetAniversario" styleClass="layout-portlets-box"
						legend="#{msg['Aniversariantes_do_dia']}" toggleable="false" toggleSpeed="500"
						emptyMessage="Nenhum registro encontrado">
					<p:dataTable value="#{dashboardBean.aniversariateMes()}" var="pessoa"
						paginator="true" rows="20"
						paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
						rowsPerPageTemplate="20,40,60,80,100" lazy="true"
						paginatorAlwaysVisible="true"
						emptyMessage="Nenhum registro encontrado"
						rowStyleClass="#{empty linha or linha mod 2 ne 0 ? 'even-row' : 'odd-row'}"
						rowIndexVar="linha" styleClass="Fs10" reflow="true">
						<p:column headerText="#{msg['Nome']}">
					        <h:outputText value="#{pessoa.nomeCompleto}" />
					    </p:column>
					     <p:column headerText="#{msg['Dia']}">
					        <h:outputText value="#{pessoa.dataNascimento}">
					        	  <f:convertDateTime pattern="dd" />
					        </h:outputText>
					    </p:column>
					     <p:column headerText="#{msg['Email']}">
					        <h:outputText value="#{pessoa.email}" />
					    </p:column>
					</p:dataTable>
	             </p:fieldset>
			</div>
		<!-- 	<div class="Container100 MarTop20 TexAlLeft">
				<p:fieldset id="fieldSetFaltou" styleClass="layout-portlets-box"
						emptyMessage="Nenhum registro encontrado"
						legend="#{msg['Faltou_no_mes']}" toggleable="false" toggleSpeed="500">
	                <p:dataTable value="#{dashboardBean.faltaMes()}" var="agenda"
	                	emptyMessage="Nenhum registro encontrado" >
					    <p:column headerText="#{msg['Nome']}">
					        <h:outputText value="#{agenda.pessoa.nomeCompleto}" />
					    </p:column>
					      <p:column headerText="#{msg['Data']}">
					        <h:outputText value="#{agenda.dataInicio}">
					        	  <f:convertDateTime pattern="dd/MM/yyyy" />
					        </h:outputText>
					    </p:column>
					</p:dataTable>
	             </p:fieldset>
			</div>   -->
			<!--   <p:outputLabel value="Versão: 0.0.1"  styleClass="TexAlCenter" /> -->
			<div class="EmptyBox10"></div>
			<div class="EmptyBox50"></div>
		</div> 
	</ui:define>
	
</ui:composition>