<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html">

  <h:head>
   <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<title>JQuery integration</title>
	<script src="http://code.jquery.com/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
	<h:outputStylesheet library="scheduler-libary" name="codebase/dhtmlxscheduler.css"/>
	<style type="text/css" media="screen">
		html, body {
			margin: 0px;
			padding: 0px;
			height: 100%;
			overflow: hidden;
		}
		
		.dhx_cal_event div.dhx_footer,
		.dhx_cal_event.past_event div.dhx_footer,
		.dhx_cal_event.event_english div.dhx_footer,
		.dhx_cal_event.event_math div.dhx_footer,
		.dhx_cal_event.event_science div.dhx_footer{
			background-color: transparent !important;
		}
		.dhx_cal_event .dhx_body{
			-webkit-transition: opacity 0.1s;
			transition: opacity 0.1s;
			opacity: 0.7;
		}
		.dhx_cal_event .dhx_title{
			line-height: 12px;
		}
		.dhx_cal_event_line:hover,
		.dhx_cal_event:hover .dhx_body,
		.dhx_cal_event.selected .dhx_body,
		.dhx_cal_event.dhx_cal_select_menu .dhx_body{
			opacity: 1;
		}
		
		.dhx_cal_event.event_Jeymison_Morais div, .dhx_cal_event_line.event_Jeymison_Morais{
			background-color: orange !important;
			border-color: #a36800 !important;
		}
		.dhx_cal_event_clear.event_Jeymison_Morais{
			color:orange !important;
		}
		
		.dhx_cal_event.event_Abaete_Macena_Filho div, .dhx_cal_event_line.event_Abaete_Macena_Filho{
			background-color: #36BD14 !important;
			border-color: #698490 !important;
		}
		.dhx_cal_event_clear.event_Abaete_Macena_Filho{
			color:#36BD14 !important;
		}	
		
		.dhx_cal_event.event_Monique_Oliveira div, .dhx_cal_event_line.event_Monique_Oliveira{
			background-color: #FC5BD5 !important;
			border-color: #839595 !important;
		}
		.dhx_cal_event_clear.event_Monique_Oliveira{
			color:#B82594 !important;
		}
		
		.dhx_cal_event.event_Bruno_Lucena div, .dhx_cal_event_line.event_Bruno_Lucena{
			background-color: #b48def !important;
			border-color: #703ebc !important;
		}
		.dhx_cal_event_clear.event_Bruno_Lucena{
			color:#976cd9 !important;
		}
		
		.dhx_cal_event.event_Guilherme_Lyra div, .dhx_cal_event_line.event_Guilherme_Lyra{
			background-color: #ee9494 !important;
			border-color: #d26262 !important;
		}
		.dhx_cal_event_clear.event_Guilherme_Lyra{
			color:#be1919 !important;
		}

	</style>
  </h:head>
  <h:body>
    <div class="myscheduler" style='width:100%; height:100%;'></div>
    <h:outputScript library="scheduler-libary" name="js/agenda.js" />
	<h:outputScript library="scheduler-libary" name="codebase/locale/locale_pt.js" />
	<h:outputScript library="scheduler-libary" name="codebase/dhtmlxscheduler.js" />
   </h:body>
</html>