<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ps="http://primefaces.org/spark"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/paginas/template/template.xhtml">

	<ui:param name="bean" value="#{medicoBean}" />

	<ui:define name="content">
		<div id="tituloPagina">
			<div class="layout-portlets-box">
				<p:outputLabel value="#{msg['Cadastro']} / #{msg['Medicos']}" />
			</div>
			<br />
		</div>
		<div class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
			<p:fieldset id="fieldSetConsulta" styleClass="layout-portlets-box"
				legend="#{msg['Consultar']}" toggleable="true" toggleSpeed="500"
				widgetVar="consulta">
				<h:form id="formBuscar">
					<p:toolbar>
						<f:facet name="left">
							<h:panelGrid columns="2"
								styleClass="DispTableCell{ display:table-cell; vertical-align:middle;}">
								<h:panelGroup>
									<p:commandButton actionListener="#{bean.novo()}"
										update=":panelGroupPersistir" value="#{msg['Novo']}" />
								</h:panelGroup>
							</h:panelGrid>
						</f:facet>
						<f:facet name="right">
							<h:panelGrid columns="2"
								styleClass="DispTableCell{ display:table-cell; vertical-align:middle;}">
								<h:outputText value="#{msg['Buscar']}" />
								<p:inputText id="filter" value="#{bean.filtro}" size="10"
									styleClass="TexAllRight" placeholder="#{msg['Nome']}">
									<p:ajax event="keyup" listener="#{bean.filtro()}"
										update="entidadeTabela" />
								</p:inputText>
							</h:panelGrid>
						</f:facet>
					</p:toolbar>
					<br />

					<p:dataTable id="entidadeTabela" title="entidadeTabela"
						name="consultaLazy" var="entidade" value="#{bean.listFiltrado}"
						paginator="true" rows="5"
						paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
						rowsPerPageTemplate="5,10,15,50,100" lazy="true"
						paginatorAlwaysVisible="true"
						emptyMessage="Nenhum registro encontrado"
						rowStyleClass="#{empty linha or linha mod 2 ne 0 ? 'even-row' : 'odd-row'}"
						rowIndexVar="linha" styleClass="Fs10" reflow="true">

						<f:facet name="header">
							<p:commandLink actionListener="#{bean.gerarRelatorio('PDF')}"
								target="_new" ajax="false">
								<p:graphicImage value="/imagens/pdf.ico" width="30" height="30" />
							</p:commandLink>
							<p:commandLink actionListener="#{bean.gerarRelatorio('EXCEL')}"
								target="_new" ajax="false">
								<p:graphicImage value="/imagens/xls.ico" width="30" height="30" />
							</p:commandLink>
							<p:commandLink actionListener="#{bean.gerarRelatorio('CSV')}"
								target="_new" ajax="false">
								<p:graphicImage value="/imagens/cvs.png" width="30" height="30" />
							</p:commandLink>
						</f:facet>

						<p:column headerText="#{msg['Nome']}:">
							<h:outputText value="#{entidade.nome}" />
						</p:column>

						<p:column headerText="#{msg['Especialidade']}:">
							<h:outputText value="#{entidade.especialidade.descricao}" />
						</p:column>

						<p:column headerText="#{msg['Telefone']}:">
							<h:outputText value="#{entidade.telefone}" />
						</p:column>

						<p:column styleClass="Wid10 TexAlCenter"
							style="background-color:#F0F0F0;">
							<p:commandButton id="btnDetalhe"
								actionListener="#{bean.setSelecionar(entidade)}"
								update=":#{p:component('formularioMensagens')}, :panelGroupDetalhe"
								icon="fa fa-file-text-o Fs14 white" />
						</p:column>
						<p:column styleClass="Wid10 TexAlCenter"
							style="background-color:#F0F0F0;">
							<p:commandButton id="btnAlterar"
								actionListener="#{bean.setSelecionarAlterar(entidade)}"
								update=":#{p:component('formularioMensagens')}, :panelGroupPersistir"
								styleClass="BlueButton" icon="fa fa-edit Fs14 white" />
						</p:column>
						<p:column styleClass="Wid10 TexAlCenter"
							style="background-color:#F0F0F0;">
							<p:commandButton id="btnExcluir"
								actionListener="#{bean.excluir(entidade)}"
								update=":#{p:component('formularioMensagens')}, :fieldSetConsulta"
								styleClass="RedButton" icon="fa fa-trash Fs14 white" />
						</p:column>
					</p:dataTable>
				</h:form>
			</p:fieldset>
		</div>

		<br />

		<h:panelGroup id="panelGroupPersistir">
			<p:fieldset id="fieldSetEntidadePersistir"
				styleClass="layout-portlets-box"
				legend="#{msg['Cadastro']} / #{msg['Alterar']}" toggleable="true"
				toggleSpeed="500" collapsed="false" widgetVar="fieldsetPersistir"
				rendered="#{bean.cadastrarVisivel}">
				<h:form id="formularioEntidadePersistir" prependId="false"
					enctype="multipart/form-data">
					<div
						class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
						<p:panelGrid id="panelGridGeradorCamposPersistir" columns="2"
							cellpadding="0" cellspacing="10" layout="grid">

							<h:outputLabel value="#{msg['Nome']}: " />
							<p:inputText value="#{bean.entidade.nome}"
								a:autoFocus="#{bean.focus}" />

							<h:outputLabel value="#{msg['Especialidade']}:" />
							<p:selectOneMenu value="#{bean.entidade.especialidade}"
								filter="true" effect="fade" id="Especialidade"
								converter="#{bean.especialidadeConversor}"
								filterMatchMode="startsWith">
								<f:selectItem itemLabel="#{msg['Selecione']}"
									itemValue="#{null}" />
								<f:selectItems value="#{bean.listaEspecialidade}" var="item"
									itemLabel="#{item.labelCampo}" itemValue="#{item.objetoCampo}" />
							</p:selectOneMenu>

							<h:outputLabel value="#{msg['Telefone']}: " />
							<p:inputMask value="#{bean.entidade.telefone}"
								mask="(99)99999-9999" />

							<h:outputLabel value="#{msg['Email']}: " />
							<p:inputText value="#{bean.entidade.email}" />

						</p:panelGrid>
					</div>
					<div class="EmptyBox30" />
					<div
						class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
						<p:commandButton id="btn_fechar_persistir_cadastrar"
							value="#{msg['Cadastrar']}"
							icon="ui-icon-disk fa fa-save Fs14 white"
							action="#{bean.cadastrar(bean.entidade)}"
							update=":#{p:component('formularioMensagens')}, :panelGroupDetalhe, :panelGroupPersistir, :fieldSetConsulta"
							rendered="#{bean.entidade.id == null}" ajax="false" />
						<p:commandButton id="btn_fechar_persistir_alterar"
							value="#{msg['Alterar']}"
							icon="ui-icon-edit fa fa-edit Fs14 white"
							action="#{bean.alterar(bean.entidade)}" styleClass="BlueButton"
							update=":#{p:component('formularioMensagens')}, :panelGroupDetalhe, :panelGroupPersistir, :fieldSetConsulta"
							rendered="#{bean.entidade.id != null}" ajax="false" />
					</div>
				</h:form>
			</p:fieldset>
			<p:spacer height="20" />
		</h:panelGroup>

		<h:panelGroup id="panelGroupDetalhe">
			<div class="Container100 Responsive100">
				<p:fieldset id="fieldSetEntidadeDetalhe" legend="#{msg['Detalhar']}"
					styleClass="layout-portlets-box" toggleable="true"
					toggleSpeed="500" collapsed="false" widgetVar="fieldsetDetalhar"
					rendered="#{bean.detalharVisivel}">
					<h:form id="formularioEntidadeDetalheDetalhar" prependId="false">
						<p:panelGrid id="panelGridGeradorCamposDetalhe" columns="2"
							cellpadding="0" cellspacing="10" layout="grid">

							<h:outputLabel value="#{msg['Nome']}: " />
							<h:outputLabel value="#{bean.entidade.nome}" styleClass="black" />

							<h:outputLabel value="#{msg['Especialidade']}: " />
							<h:outputLabel value="#{bean.entidade.especialidade.descricao}" styleClass="black" />
							
							<h:outputLabel value="#{msg['Telefone']}: " />
							<h:outputLabel value="#{bean.entidade.telefone}" styleClass="black" />
							
							<h:outputLabel value="#{msg['Email']}: " />
							<h:outputLabel value="#{bean.entidade.email}" styleClass="black" />
						</p:panelGrid>
					</h:form>
					<div class="EmptyBox30" />
					<div
						class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
						<p:commandButton id="btn_fechar_detalhe"
							icon="ui-icon-close fa fa-close Fs14 white"
							value="#{msg['Fechar']}" actionListener="#{bean.fecharDetalhe()}"
							styleClass="RedButton"
							update=":panelGroupDetalhe, :fieldSetConsulta" />
					</div>
				</p:fieldset>
			</div>
			<p:spacer height="20" />
		</h:panelGroup>
	</ui:define>
</ui:composition>
