<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ps="http://primefaces.org/spark"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/paginas/template/template.xhtml">

	<ui:param name="bean" value="#{pessoaRelatorio}" />

	<ui:define name="content">
		<div id="tituloPagina">
			<div class="layout-portlets-box">
				<p:outputLabel value="#{msg['Relatorio']} / #{msg['Paciente']}" />
			</div>
			<br />
		</div>

		<h:panelGroup id="panelGroupPersistir">
			<p:fieldset id="fieldSetEntidadePersistir"
				styleClass="layout-portlets-box" legend="#{msg['Relatorio']}"
				toggleable="true" toggleSpeed="500" collapsed="false"
				widgetVar="fieldsetPersistir"
				rendered="#{usuarioBean.possuiPermissao('ROLE_PESSOA_RELATORIO_CONSULTAR')}">
					<h:form id="formularioEntidadePersistir" prependId="false" target="_blank"
						enctype="multipart/form-data">
						<div
							class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
							<p:panelGrid id="panelGridGeradorCamposPersistir" columns="2"
								cellpadding="0" cellspacing="10" layout="grid">

								<h:outputLabel value="#{msg['Nome']}: " for="nome"/>
								<p:autoComplete id="nome" value="#{bean.entidade.nome}" completeMethod="#{bean.completeText}"/>
								
								<h:outputLabel value="#{msg['Sexo']}: " />
								<p:selectOneMenu id="Sexo" value="#{bean.entidade.sexo}"
									effect="fade" styleClass="Wid30 - Responsive30">
									<f:selectItem itemLabel="Selecione" itemValue="#{null}" />
									<f:selectItems value="#{bean.sexoValues}" />
								</p:selectOneMenu>

								<h:outputLabel value="#{msg['Nascimento']}: " />
								<p:calendar value="#{bean.entidade.dataNascimento}" locale="pt"
									navigator="true" pattern="dd/MM/yyyy" />

								<h:outputLabel value="#{msg['Profissao']}:" />
								<p:selectOneMenu value="#{bean.entidade.profissao}"
									effect="fade" id="Profissoes" styleClass="Wid30 - Responsive30"
									converter="#{bean.profissoesConversor}"
									filterMatchMode="startsWith" filter="true">
									<f:selectItem itemLabel="#{msg['Selecione']}"
										itemValue="#{null}" />
									<f:selectItems value="#{bean.listaProfissoes}" var="item"
										itemLabel="#{item.labelCampo}" itemValue="#{item.objetoCampo}" />
								</p:selectOneMenu>
						</p:panelGrid>
						</div>
						<div class="EmptyBox30" />
	
						<div
							class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
							<p:commandButton id="btn_fechar_persistir_cadastrar" value="#{msg['Imprimir']}"
								icon="fa fa-file-pdf-o Fs14 white" 
								action="#{bean.gerarRelatorio(bean.entidade)}" ajax="false" />
						</div>
					</h:form>
				</p:fieldset>
			<p:spacer height="20" />
		</h:panelGroup>
	</ui:define>
</ui:composition>
