<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ps="http://primefaces.org/spark"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/paginas/template/template.xhtml">

	<ui:param name="bean" value="#{pessoaBean}" />

	<ui:define name="content">
		<div id="tituloPagina">
			<div class="layout-portlets-box">
				<p:outputLabel value="#{msg['Cadastro']} / #{msg['Paciente']}" />
			</div>
			<br />
		</div>
		<div class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
			<p:fieldset id="fieldSetConsulta" styleClass="layout-portlets-box"
				legend="#{msg['Consultar']}" toggleable="true" toggleSpeed="500"
				widgetVar="consulta"
				rendered="#{usuarioBean.possuiPermissao('ROLE_PESSOA_CONSULTAR')}">
				<h:form id="formBuscar">
					<p:toolbar>
						<f:facet name="left">
							<h:panelGrid columns="2"
								styleClass="DispTableCell{ display:table-cell; vertical-align:middle;}">
								<h:panelGroup>
									<p:commandButton actionListener="#{bean.novo()}"
										rendered="#{usuarioBean.possuiPermissao('ROLE_PESSOA_INSERIR')}"
										update=":panelGroupPersistir" value="#{msg['Novo']}" />
								</h:panelGroup>
							</h:panelGrid>
						</f:facet>
						<f:facet name="right">
							<h:panelGrid columns="2"
								styleClass="DispTableCell{ display:table-cell; vertical-align:middle;}">
								<h:outputText value="#{msg['Buscar']}" />
								<p:inputText id="filter" value="#{bean.filtro}" size="10"
									styleClass="TexAllRight" placeholder="#{msg['Nome']}">
									<p:ajax event="keyup" listener="#{bean.filtro()}"
										update="entidadeTabela" />
								</p:inputText>
							</h:panelGrid>
						</f:facet>
					</p:toolbar>

					<br />

					<p:dataTable id="entidadeTabela" title="entidadeTabela"
						name="consultaLazy" var="entidade" value="#{bean.listFiltrado}"
						paginator="true" rows="5"
						paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
						rowsPerPageTemplate="5,10,15,50,100" lazy="true"
						paginatorAlwaysVisible="true"
						emptyMessage="Nenhum registro encontrado"
						rowStyleClass="#{empty linha or linha mod 2 ne 0 ? 'even-row' : 'odd-row'}"
						rowIndexVar="linha" styleClass="Fs10" reflow="true">

						<f:facet name="header">
							<p:commandLink actionListener="#{bean.gerarRelatorio('PDF')}"
								target="_new" ajax="false">
								<p:graphicImage value="/imagens/pdf.ico" width="30" height="30" />
							</p:commandLink>
							<p:commandLink actionListener="#{bean.gerarRelatorio('EXCEL')}"
								target="_new" ajax="false">
								<p:graphicImage value="/imagens/xls.ico" width="30" height="30" />
							</p:commandLink>
							<p:commandLink actionListener="#{bean.gerarRelatorio('CSV')}"
								target="_new" ajax="false">
								<p:graphicImage value="/imagens/cvs.png" width="30" height="30" />
							</p:commandLink>
						</f:facet>

						<p:column headerText="#{msg['Nome']}:">
							<h:outputText value="#{entidade.nome}" />
						</p:column>

						<p:column headerText="#{msg['Celular']}:">
							<h:outputText value="#{entidade.telefoneCelular}" />
						</p:column>

						<p:column styleClass="Wid10 TexAlCenter"
							style="background-color:#F0F0F0;">
							<p:commandButton id="btnDetalhe"
								actionListener="#{bean.setSelecionar(entidade)}"
								update=":#{p:component('formularioMensagens')}, :panelGroupDetalhe"
								icon="fa fa-file-text-o Fs14 white" />
						</p:column>
						<p:column styleClass="Wid10 TexAlCenter"
							style="background-color:#F0F0F0;">
							<p:commandButton id="btnAlterar"
								rendered="#{usuarioBean.possuiPermissao('ROLE_PESSOA_ALTERAR')}"
								actionListener="#{bean.setSelecionarAlterar(entidade)}"
								update=":#{p:component('formularioMensagens')}, :panelGroupPersistir"
								styleClass="BlueButton" icon="fa fa-edit Fs14 white" />
						</p:column>
						<p:column styleClass="Wid10 TexAlCenter"
							style="background-color:#F0F0F0;">
							<p:commandButton id="btnExcluir"
								rendered="#{usuarioBean.possuiPermissao('ROLE_PESSOA_EXCLUIR')}"
								actionListener="#{bean.excluir(entidade)}"
								update=":#{p:component('formularioMensagens')}, :fieldSetConsulta"
								styleClass="RedButton" icon="fa fa-trash Fs14 white" />
						</p:column>
					</p:dataTable>
				</h:form>
			</p:fieldset>
		</div>

		<br />

		<h:panelGroup id="panelGroupPersistir">
			<p:fieldset id="fieldSetEntidadePersistir"
				styleClass="layout-portlets-box"
				legend="#{msg['Cadastrar']} / #{msg['Alterar']}" toggleable="true"
				toggleSpeed="500" collapsed="false" widgetVar="fieldsetPersistir"
				rendered="#{bean.cadastrarVisivel}">
				<h:form id="formularioEntidadePersistir" prependId="false"
					enctype="multipart/form-data">

					<div
						class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
						<p:panelGrid id="panelGridGeradorCamposPersistir" columns="2"
							cellpadding="0" cellspacing="10" layout="grid">

							<h:outputLabel value="#{msg['Tipo_Pessoa']}: " />
							<p:selectOneMenu value="#{bean.entidade.tipoPessoa}"
								effect="fade" id="tipoPessoa" disabled="true"
								style="width: 9em;">
								<f:selectItems value="#{bean.tipoPessoaValues}" />
							</p:selectOneMenu>

							<h:outputLabel value="#{msg['Nome']}: " />
							<p:inputText value="#{bean.entidade.nome}"
								a:autoFocus="#{bean.focus}" />

							<h:outputLabel value="#{msg['Nome_completo']}: " />
							<p:inputText value="#{bean.entidade.nomeCompleto}" />

							<h:outputLabel value="#{msg['Nascimento']}: " />
							<p:calendar value="#{bean.entidade.dataNascimento}" locale="pt"
								navigator="true" pattern="dd/MM/yyyy" />

							<h:outputLabel value="#{msg['CPF']}: " />
							<p:inputMask value="#{bean.entidade.cpf}" mask="999.999.999-99" />

							<h:outputLabel value="#{msg['RG']}: " />
							<p:inputText value="#{bean.entidade.rg}" />

							<h:outputLabel value="#{msg['Sexo']}: " />
							<p:selectOneMenu id="Sexo" value="#{bean.entidade.sexo}"
								effect="fade" styleClass="Wid30 - Responsive30">
								<f:selectItem itemLabel="Selecione" itemValue="#{null}" />
								<f:selectItems value="#{bean.sexoValues}" />
							</p:selectOneMenu>

							<h:outputLabel value="#{msg['Celular']}: " />
							<p:inputMask value="#{bean.entidade.telefoneCelular}"
								mask="(99)99999-9999" />

							<h:outputLabel value="#{msg['Telefone']}: " />
							<p:inputMask value="#{bean.entidade.telefone}"
								mask="(99)99999-9999" />

							<h:outputLabel value="#{msg['Email']}: " />
							<p:inputText value="#{bean.entidade.email}" />

							<h:outputLabel value="#{msg['Profissao']}:" />
							<p:selectOneMenu value="#{bean.entidade.profissao}" effect="fade"
								id="Profissoes" styleClass="Wid30 - Responsive30"
								converter="#{bean.profissoesConversor}"
								filterMatchMode="startsWith" filter="true">
								<f:selectItem itemLabel="#{msg['Selecione']}"
									itemValue="#{null}" />
								<f:selectItems value="#{bean.listaProfissoes}" var="item"
									itemLabel="#{item.labelCampo}" itemValue="#{item.objetoCampo}" />
							</p:selectOneMenu>

							<h:outputLabel value="#{msg['Medicos']}:" />
							<p:selectOneMenu value="#{bean.entidade.medico}"
								filter="true" effect="fade" id="Medico"
								converter="#{bean.medicoConverter}"
								filterMatchMode="startsWith">
								<f:selectItem itemLabel="#{msg['Selecione']}"
									itemValue="#{null}" />
								<f:selectItems value="#{bean.listaMedicos}" var="item"
									itemLabel="#{item.labelCampo}" itemValue="#{item.objetoCampo}" />
							</p:selectOneMenu>

							<h:outputLabel value="#{msg['Numero_Calcado']}: " />
							<p:inputText value="#{bean.entidade.numeroCalcado}" />

							<h:outputLabel value="#{msg['Funcionario']} ? " />
							<p:inputSwitch value="#{bean.funcionarioSimNao}" id="Funcionario">
								<p:ajax listener="#{bean.mostrarCampoCrefito()}"
									update="inputCrefito" />
							</p:inputSwitch>

							<h:outputLabel value="#{msg['Crefito']}:" />
							<p:inputText id="inputCrefito" value="#{bean.entidade.crefito}"
								disabled="#{bean.crefito}" />

							<h:outputLabel value="#{msg['Indicacao']}:" />
							<p:inputText value="#{bean.entidade.indicacao}" />


							<h:outputLabel value="Foto: " class="Label" />
							<h:panelGroup id="panelGroupImagem">
								<p:graphicImage value="#{bean.entidade.fotoUrlEndereco}"
									width="150" height="150"
									rendered="#{bean.entidade.fotoUrlEndereco != null}" />
							</h:panelGroup>
							<p:fileUpload fileUploadListener="#{bean.handleFileUpload}"
								mode="advanced" dragDropSupport="true"
								update=":#{p:component('formularioMensagens')}, panelGroupImagem"
								sizeLimit="100000" fileLimit="1"
								allowTypes="/(\.|\/)(gif|jpeg|png)$/" label="Procurar..."
								uploadLabel="Carregar" cancelLabel="Cancelar" auto="true" />
						</p:panelGrid>


					</div>
					<div class="EmptyBox20" />
					<div
						class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
						<p:panelGrid id="panelGridGeradorCamposEndereco" columns="2"
							cellpadding="0" layout="grid">

							<h:outputLabel value="#{msg['CEP']}: " />
							<p:inputMask value="#{bean.entidade.endereco.cep}"
								mask="99999-999">
								<p:ajax listener="#{bean.buscarEnderecoPorCEP}"
									update="panelGridGeradorCamposEndereco" />
							</p:inputMask>

							<h:outputLabel value="#{msg['Endereco']}: " />
							<p:inputText value="#{bean.entidade.endereco.endereco}" />

							<h:outputLabel value="#{msg['Numero']}: " />
							<p:inputText value="#{bean.entidade.endereco.numero}" />

							<h:outputLabel value="#{msg['Complemento']}: " />
							<p:inputText value="#{bean.entidade.endereco.complemento}" />

							<h:outputLabel value="#{msg['Bairro']}: " />
							<p:inputText value="#{bean.entidade.endereco.bairro}" />

							<h:outputLabel value="#{msg['Cidade']}: " />
							<p:inputText value="#{bean.entidade.endereco.cidade}" />

							<h:outputLabel value="#{msg['Estado']}: " />
							<p:selectOneMenu value="#{bean.entidade.endereco.estado}"
								styleClass="Wid30 - Responsive30" filter="true">
								<f:selectItems value="#{bean.listaEstados}" />
							</p:selectOneMenu>


						</p:panelGrid>
					</div>
					<div class="EmptyBox30" />

					<div
						class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
						<p:commandButton id="btn_fechar_persistir_cadastrar"
							value="#{msg['Cadastrar']}"
							icon="ui-icon-disk fa fa-save Fs14 white"
							action="#{bean.cadastrar(bean.entidade)}"
							update=":#{p:component('formularioMensagens')}, :panelGroupDetalhe, :panelGroupPersistir, :fieldSetConsulta"
							rendered="#{bean.entidade.id == null}" ajax="false" />
						<p:commandButton id="btn_fechar_persistir_alterar"
							value="#{msg['Alterar']}"
							icon="ui-icon-edit fa fa-edit Fs14 white"
							action="#{bean.alterar(bean.entidade)}" styleClass="BlueButton"
							update=":#{p:component('formularioMensagens')}, :panelGroupDetalhe, :panelGroupPersistir, :fieldSetConsulta"
							rendered="#{bean.entidade.id != null}" ajax="false" />
						<p:commandButton id="btn_fechar_persistir"
							value="#{msg['Fechar']}" icon="fa fa-close Fs14 white"
							action="#{bean.fecharCadastro()}" styleClass="RedButton"
							update=":#{p:component('formularioMensagens')}, :panelGroupPersistir, :fieldSetConsulta"
							ajax="false" />
					</div>
				</h:form>
			</p:fieldset>
			<p:spacer height="20" />
		</h:panelGroup>

		<h:panelGroup id="panelGroupDetalhe">
			<div
				class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
				<p:fieldset id="fieldSetEntidadeDetalhe" legend="#{msg['Detalhar']}"
					styleClass="layout-portlets-box" toggleable="true"
					toggleSpeed="500" collapsed="false" widgetVar="fieldsetDetalhar"
					rendered="#{bean.detalharVisivel}">
					<h:form id="formularioEntidadeDetalheDetalhar" prependId="false">
						<p:panelGrid id="panelGridGeradorCamposDetalhe" columns="2"
							cellpadding="0" cellspacing="10" layout="grid">

							<h:outputLabel value="#{msg['Nome']}: " />
							<h:outputLabel value="#{bean.entidade.nomeCompleto}"
								styleClass="black" />

							<h:outputLabel value="#{msg['Nascimento']}: " />
							<h:outputLabel value="#{bean.entidade.dataNascimento}"
								styleClass="black">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputLabel>

							<h:outputLabel value="#{msg['CPF']}: " />
							<h:outputLabel value="#{bean.entidade.cpf}" styleClass="black" />

							<h:outputLabel value="#{msg['RG']}: " />
							<h:outputLabel value="#{bean.entidade.rg}" styleClass="black" />

							<h:outputLabel value="#{msg['Sexo']}: " />
							<h:outputLabel value="#{bean.entidade.sexo.descricao}"
								styleClass="black" />

							<h:outputLabel value="#{msg['Celular']}: " />
							<h:outputLabel value="#{bean.entidade.telefoneCelular}"
								styleClass="black" />

							<h:outputLabel value="#{msg['Telefone']}: " />
							<h:outputLabel value="#{bean.entidade.telefone}"
								styleClass="black" />

							<h:outputLabel value="#{msg['Email']}: " />
							<h:outputLabel value="#{bean.entidade.email}" styleClass="black" />

							<h:outputLabel value="#{msg['Profissao']}: " />
							<h:outputLabel value="#{bean.entidade.profissao.descricao}"
								styleClass="black" />
								
							<h:outputLabel value="#{msg['Medicos']}: " />
							<h:outputLabel value="#{bean.entidade.medico.nome}"
								styleClass="black" />

							<h:outputLabel value="#{msg['Numero_Calcado']}: " />
							<h:outputLabel value="#{bean.entidade.numeroCalcado}"
								styleClass="black" />

							<h:outputLabel value="#{msg['Funcionario']}: " />
							<h:outputLabel value="#{bean.entidade.funcionario}"
								styleClass="black" />

							<h:outputLabel value="#{msg['Crefito']}: " />
							<h:outputLabel value="#{bean.entidade.crefito}"
								styleClass="black" />
								
							<h:outputLabel value="#{msg['Indicacao']}: " />
							<h:outputLabel value="#{bean.entidade.indicacao}"
								styleClass="black" />
						</p:panelGrid>

						<div class="EmptyBox20" />

						<p:panelGrid id="panelDetalhesEndereco" columns="2"
							cellpadding="0" cellspacing="10" layout="grid">

							<h:outputLabel value="#{msg['CEP']}: " />
							<h:outputLabel value="#{bean.entidade.endereco.cep}"
								styleClass="black" />

							<h:outputLabel value="#{msg['Endereco']}: " />
							<h:outputLabel value="#{bean.entidade.endereco.endereco}"
								styleClass="black" />

							<h:outputLabel value="#{msg['Numero']}: " />
							<h:outputLabel value="#{bean.entidade.endereco.numero}"
								styleClass="black" />

							<h:outputLabel value="#{msg['Complemento']}: " />
							<h:outputLabel value="#{bean.entidade.endereco.complemento}"
								styleClass="black" />

							<h:outputLabel value="#{msg['Bairro']}: " />
							<h:outputLabel value="#{bean.entidade.endereco.bairro}"
								styleClass="black" />

							<h:outputLabel value="#{msg['Cidade']}: " />
							<h:outputLabel value="#{bean.entidade.endereco.cidade}"
								styleClass="black" />

							<h:outputLabel value="#{msg['Estado']}: " />
							<h:outputLabel value="#{bean.entidade.endereco.estado}"
								styleClass="black" />

						</p:panelGrid>

					</h:form>
					<div class="EmptyBox30" />
					<div
						class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
						<p:commandButton id="btn_fechar_detalhe"
							icon="ui-icon-close fa fa-close Fs14 white"
							value="#{msg['Fechar']}" actionListener="#{bean.fecharDetalhe()}"
							styleClass="RedButton"
							update=":panelGroupDetalhe, :fieldSetConsulta" />
					</div>
				</p:fieldset>
			</div>
			<p:spacer height="20" />
		</h:panelGroup>
	</ui:define>
</ui:composition>
