<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ps="http://primefaces.org/spark"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/paginas/template/template.xhtml">

	<ui:param name="bean" value="#{solicitacaoAgendaBean}" />

	<ui:define name="content">
		<div id="tituloPagina">
			<div class="layout-portlets-box">
				<p:outputLabel
					value="#{msg['Calendario']} / #{msg['Solicitacao_Agenda']}" />
			</div>
			<br />
		</div>
		<div class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
			<p:fieldset id="fieldSetConsulta" styleClass="layout-portlets-box"
				legend="#{msg['Solicitacao']}" toggleable="true" toggleSpeed="500"
				widgetVar="consulta">
				<p:toolbar>
					<f:facet name="left">
						<h:panelGrid columns="2"
							styleClass="DispTableCell{ display:table-cell; vertical-align:middle;}">
							<h:panelGroup>
								<!-- <p:commandButton actionListener="#{bean.novo()}"
										update=":panelGroupPersistir" value="#{msg['Novo']}" />  -->
							</h:panelGroup>
						</h:panelGrid>
					</f:facet>
					<f:facet name="right">
						<h:form id="formBuscar">
							<h:panelGrid columns="2"
								styleClass="DispTableCell{ display:table-cell; vertical-align:middle;}">
								<h:outputText value="#{msg['Buscar']}" />
								<p:inputText id="filter" value="#{bean.filtro}" size="10"
									styleClass="TexAllRight" placeholder="#{msg['Paciente']}">
									<p:ajax event="keyup" listener="#{bean.filtro()}"
										update=":formPanel" />
								</p:inputText>
							</h:panelGrid>
						</h:form>
					</f:facet>
				</p:toolbar>

				<br />

				<h:form id="formPanel">
					<p:dataTable id="entidadeTabela" title="entidadeTabela"
						name="consultaLazy" var="entidade" value="#{bean.listFiltrado}"
						paginator="true" rows="5"
						paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
						rowsPerPageTemplate="5,10,15,50,100" lazy="true"
						paginatorAlwaysVisible="true"
						emptyMessage="Nenhum registro encontrado"
						rowStyleClass="#{empty linha or linha mod 2 ne 0 ? 'even-row' : 'odd-row'}"
						rowIndexVar="linha" styleClass="Fs10" reflow="true">

						<f:facet name="header">
							<p:commandLink actionListener="#{bean.gerarRelatorio('PDF')}"
								target="_new" ajax="false">
								<p:graphicImage value="/imagens/pdf.ico" width="30" height="30" />
							</p:commandLink>
							<p:commandLink actionListener="#{bean.gerarRelatorio('EXCEL')}"
								target="_new" ajax="false">
								<p:graphicImage value="/imagens/xls.ico" width="30" height="30" />
							</p:commandLink>
							<p:commandLink actionListener="#{bean.gerarRelatorio('CSV')}"
								target="_new" ajax="false">
								<p:graphicImage value="/imagens/cvs.png" width="30" height="30" />
							</p:commandLink>
						</f:facet>

						<p:column headerText="#{msg['Paciente']}:">
							<h:outputText value="#{entidade.pessoa.nome}" />
						</p:column>

						<p:column headerText="#{msg['Funcionario']}:">
							<h:outputText value="#{entidade.funcionario.nome}" />
						</p:column>

						<p:column headerText="#{msg['Especialidade']}:">
							<h:outputText value="#{entidade.especialidade.descricao}" />
						</p:column>

						<p:column headerText="#{msg['Data']}:">
							<h:outputText value="#{entidade.dataInicio}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column headerText="#{msg['Horario']}:">
							<h:outputText value="#{entidade.horario.horarioInicio}" /> - <h:outputText
								value="#{entidade.horario.horarioFim}" />
						</p:column>

						<p:column styleClass="Wid10 TexAlCenter"
							style="background-color:#F0F0F0;">
							<p:commandButton id="btnDetalhe"
								actionListener="#{bean.setSelecionar(entidade)}"
								update=":#{p:component('formularioMensagens')}, :panelGroupDetalhe"
								icon="fa fa-file-text-o Fs14 white" styleClass="BlueButton" />
						</p:column>
						<p:column styleClass="Wid10 TexAlCenter"
							style="background-color:#F0F0F0;">
							<p:commandButton id="btnExcluir" styleClass="RedButton"
								update=":#{p:component('formularioMensagens')}, :fieldSetConsulta, :fieldSetConsultaRecusado, :fieldSetConsultaAceito"
								actionListener="#{bean.setSelecionarAlterar(entidade)}"
								icon="fa fa-trash Fs14 white" />
						</p:column>
						<p:column styleClass="Wid10 TexAlCenter"
							style="background-color:#F0F0F0;">
							<p:commandButton id="btnConfirmar"
								actionListener="#{bean.confirmarSolicitacao(entidade)}"
								update=":#{p:component('formularioMensagens')}, :fieldSetConsulta, :fieldSetConsultaRecusado, :fieldSetConsultaAceito"
								icon="fa fa-check Fs14 white" />
						</p:column>
					</p:dataTable>
				</h:form>
			</p:fieldset>
		</div>

		<br />

		<div class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
			<p:fieldset id="fieldSetConsultaAceito"
				styleClass="layout-portlets-box"
				legend="#{msg['Solicitacao_Aceita']}" toggleable="true"
				toggleSpeed="500" widgetVar="Aceito">

				<p:dataTable id="entidadeTabelaAceito" title="entidadeTabela"
					name="consultaLazy" var="entidade" value="#{bean.listaAceito}"
					paginator="true" rows="5"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					rowsPerPageTemplate="5,10,15,50,100" lazy="true"
					paginatorAlwaysVisible="true"
					emptyMessage="Nenhum registro encontrado"
					rowStyleClass="#{empty linha or linha mod 2 ne 0 ? 'even-row' : 'odd-row'}"
					rowIndexVar="linha" styleClass="Fs10" reflow="true">

					<p:column headerText="#{msg['Paciente']}:">
						<h:outputText value="#{entidade.pessoa.nome}" />
					</p:column>

					<p:column headerText="#{msg['Funcionario']}:">
						<h:outputText value="#{entidade.funcionario.nome}" />
					</p:column>

					<p:column headerText="#{msg['Especialidade']}:">
						<h:outputText value="#{entidade.especialidade.descricao}" />
					</p:column>

					<p:column headerText="#{msg['Data']}:">
						<h:outputText value="#{entidade.dataInicio}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
					</p:column>

					<p:column headerText="#{msg['Horario']}:">
						<h:outputText value="#{entidade.horario.horarioInicio}" /> - <h:outputText
							value="#{entidade.horario.horarioFim}" />
					</p:column>

					<p:column styleClass="TexAlCenter"
						style="background-color:#F0F0F0;">
						<p:commandButton id="btnExcluir" value="#{msg['Reabrir']}"
							actionListener="#{bean.reabrirSolicitacao(entidade)}"
							update=":#{p:component('formularioMensagens')}, :formPanel :fieldSetConsultaRecusado :fieldSetConsultaAceito" />
					</p:column>
				</p:dataTable>
			</p:fieldset>
		</div>

		<br />

		<div class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
			<p:fieldset id="fieldSetConsultaRecusado"
				styleClass="layout-portlets-box"
				legend="#{msg['Solicitacao_Recusado']}" toggleable="true"
				toggleSpeed="500" widgetVar="Recusado">

				<p:dataTable id="entidadeTabelaRecusado" title="entidadeTabela"
					name="consultaLazy" var="entidade" value="#{bean.listaRecusado}"
					paginator="true" rows="5"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					rowsPerPageTemplate="5,10,15,50,100" lazy="true"
					paginatorAlwaysVisible="true"
					emptyMessage="Nenhum registro encontrado"
					rowStyleClass="#{empty linha or linha mod 2 ne 0 ? 'even-row' : 'odd-row'}"
					rowIndexVar="linha" styleClass="Fs10" reflow="true">


					<p:column headerText="#{msg['Paciente']}:">
						<h:outputText value="#{entidade.pessoa.nome}" />
					</p:column>

					<p:column headerText="#{msg['Funcionario']}:">
						<h:outputText value="#{entidade.funcionario.nome}" />
					</p:column>

					<p:column headerText="#{msg['Especialidade']}:">
						<h:outputText value="#{entidade.especialidade.descricao}" />
					</p:column>

					<p:column headerText="#{msg['Data']}:">
						<h:outputText value="#{entidade.dataInicio}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
					</p:column>

					<p:column headerText="#{msg['Horario']}:">
						<h:outputText value="#{entidade.horario.horarioInicio}" /> - <h:outputText
							value="#{entidade.horario.horarioFim}" />
					</p:column>

					<p:column styleClass="TexAlCenter"
						style="background-color:#F0F0F0;">
						<p:commandButton id="btnExcluir" value="#{msg['Reabrir']}"
							actionListener="#{bean.reabrirSolicitacao(entidade)}"
							update=":#{p:component('formularioMensagens')}, :formPanel :fieldSetConsultaRecusado :fieldSetConsultaAceito" />
					</p:column>
				</p:dataTable>
			</p:fieldset>
		</div>

		<br />

		<h:panelGroup id="panelGroupPersistir" />

		<br />

		<h:panelGroup id="panelGroupDetalhe">
			<div class="Container100 Responsive100">
				<p:fieldset id="fieldSetEntidadeDetalhe" legend="#{msg['Detalhar']}"
					styleClass="layout-portlets-box" toggleable="true"
					toggleSpeed="500" collapsed="false" widgetVar="fieldsetDetalhar"
					rendered="#{bean.detalharVisivel}">
					<h:form id="formularioEntidadeDetalheDetalhar" prependId="false">
						<p:panelGrid id="panelGridGeradorCamposDetalhe" columns="2"
							cellpadding="0" cellspacing="10" layout="grid">

							<h:outputLabel value="#{msg['Paciente']}: " />
							<h:outputLabel value="#{bean.entidade.pessoa.nome}"
								styleClass="black" />

							<h:outputLabel value="#{msg['Funcionario']}: " />
							<h:outputLabel value="#{bean.entidade.funcionario.nome}"
								styleClass="black" />

							<h:outputLabel value="#{msg['Especialidade']}: " />
							<h:outputLabel value="#{bean.entidade.especialidade.descricao}"
								styleClass="black" />

							<h:outputLabel value="#{msg['Horario']}: " />
							<h:outputLabel
								value="#{bean.entidade.horario.horarioInicio} - #{bean.entidade.horario.horarioFim}"
								styleClass="black" />
						</p:panelGrid>
					</h:form>
					<div class="EmptyBox30" />
					<div
						class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
						<p:commandButton id="btn_fechar_detalhe"
							icon="ui-icon-close fa fa-close Fs14 white"
							value="#{msg['Fechar']}" actionListener="#{bean.fecharDetalhe()}"
							styleClass="RedButton"
							update=":panelGroupDetalhe, :fieldSetConsulta" />
					</div>
				</p:fieldset>
			</div>
			<p:spacer height="20" />
		</h:panelGroup>
	</ui:define>
</ui:composition>
