<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/paginas/template/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ps="http://primefaces.org/spark"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">

	<ui:param name="bean" value="#{usuarioBean}" />

	<ui:define name="content">
		<div id="tituloPagina">
			<div class="layout-portlets-box">
				<p:outputLabel value="#{msg['Cadastro']} / #{msg['Usuario']}" />
			</div>
			<br /><br />
		</div>
		<div class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
			<p:fieldset id="fieldSetConsulta" styleClass="layout-portlets-box"
				legend="#{msg['Consultar']}" toggleable="true" toggleSpeed="500"
				widgetVar="consulta" rendered="#{usuarioBean.possuiPermissao('ROLE_USUARIO_CONSULTAR')}">
				<h:form id="formBuscar">
					<p:toolbar>
						<f:facet name="left">
							<h:panelGrid columns="2" styleClass="DispTableCell{ display:table-cell; vertical-align:middle;}" rendered="#{usuarioBean.possuiPermissao('ROLE_USUARIO_INSERIR')}">
								<h:panelGroup>
									<p:commandButton actionListener="#{bean.novo()}"
										rendered="#{usuarioBean.possuiPermissao('ROLE_USUARIO_INSERIR')}"
										update=":panelGroupPersistir" value="#{msg['Novo']}" />
								</h:panelGroup>
							</h:panelGrid>
						</f:facet>
						<f:facet name="right">
								<h:panelGrid columns="2" styleClass="DispTableCell{ display:table-cell; vertical-align:middle;}">
									<h:outputText value="#{msg['Buscar']}"/>
									<p:inputText id="filter" value="#{bean.filtro}" size="10"
										styleClass="TexAllRight" placeholder="Login">
										<p:ajax event="keyup" listener="#{bean.filtro()}"
											update="entidadeTabela" />
									</p:inputText>
								</h:panelGrid>
						</f:facet>
					</p:toolbar>
					<br />
					<p:dataTable id="entidadeTabela" title="entidadeTabela"
						name="consultaLazy" var="entidade" value="#{bean.listFiltrado}"
						paginator="true" rows="5"
						paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
						rowsPerPageTemplate="5,10,15,50,100" lazy="true"
						paginatorAlwaysVisible="false"
						emptyMessage="Nenhum registro encontrado"
						rowStyleClass="#{empty linha or linha mod 2 ne 0 ? 'even-row' : 'odd-row'}"
						rowIndexVar="linha" styleClass="Fs10" reflow="true">
						
						<f:facet name="header">
								<p:commandLink actionListener="#{bean.gerarRelatorio('PDF')}" target="_new" ajax="false">
									<p:graphicImage value="/imagens/pdf.ico" width="30" height="30"/>
								</p:commandLink>
								<p:commandLink actionListener="#{bean.gerarRelatorio('EXCEL')}" target="_new" ajax="false">
									<p:graphicImage value="/imagens/xls.ico" width="30" height="30"/>
								</p:commandLink>
								<p:commandLink actionListener="#{bean.gerarRelatorio('CSV')}" target="_new" ajax="false">
									<p:graphicImage value="/imagens/cvs.png" width="30" height="30"/>
								</p:commandLink> 
						</f:facet>
		
						<p:column headerText="#{msg['Nome']}:">
							<h:outputText value="#{entidade.pessoa.nome}"/>
						</p:column>
		
						<p:column headerText="#{msg['Login']}:">
							<h:outputText value="#{entidade.login}"/>
						</p:column>
		
						<p:column headerText="#{msg['Ultimo_Acesso']}:">
							<h:outputText value="#{entidade.ultimoAcesso}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
		
						<p:column styleClass="Wid10 TexAlCenter"
							style="background-color:#F0F0F0;">
							<p:commandButton id="btnDetalhe"
							    actionListener="#{bean.setSelecionar(entidade)}"
								update=":#{p:component('formularioMensagens')}, :panelGroupDetalhe"
								icon="fa fa-file-text-o Fs14 white" />
						</p:column>
						<p:column styleClass="Wid10 TexAlCenter"
							style="background-color:#F0F0F0;">
							<p:commandButton id="btnAlterar"
								rendered="#{usuarioBean.possuiPermissao('ROLE_USUARIO_ALTERAR')}"
								actionListener="#{bean.setSelecionarAlterar(entidade)}"
								update=":#{p:component('formularioMensagens')}, :panelGroupPersistir"
								styleClass="BlueButton" icon="fa fa-edit Fs14 white" />
						</p:column>
						<p:column styleClass="Wid10 TexAlCenter"
							style="background-color:#F0F0F0;">
							<p:commandButton id="btnExcluir" 
								rendered="#{usuarioBean.possuiPermissao('ROLE_USUARIO_EXCLUIR')}"
								actionListener="#{bean.excluir(entidade)}"
								update=":#{p:component('formularioMensagens')}, :fieldSetConsulta"
								styleClass="RedButton" icon="fa fa-trash-o Fs14 white" />
						</p:column>
		
					</p:dataTable>
				</h:form>
			</p:fieldset>
		</div>
		
		<br />

		<h:panelGroup id="panelGroupPersistir">
				<p:fieldset id="fieldSetEntidadePersistir"
					legend="#{msg['Cadastrar']} / #{msg['Alterar']}" toggleable="true" toggleSpeed="500"
					collapsed="false" widgetVar="fieldsetPersistir"
					rendered="#{bean.cadastrarVisivel}"
					styleClass="layout-portlets-box">

					<h:form id="formularioEntidadePersistir" prependId="false"
						enctype="multipart/form-data">
					
					<div class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
						<p:panelGrid id="panelGridGeradorCamposPersistir" columns="1"
							cellpadding="0" cellspacing="10" layout="grid">
							
							<h:outputLabel value="#{msg['Usuario']}: " />
							<p:selectOneMenu value="#{bean.entidade.pessoa}" effect="fade"
								id="Pessoa" converter="#{bean.pessoaConversor}" filter="true"
								style="width: 9em;">
								<f:selectItem itemLabel="#{msg['Selecione']}"
									itemValue="#{null}" />
								<f:selectItems value="#{bean.listaPessoas}" var="item"
									itemLabel="#{item.labelCampo}" itemValue="#{item.objetoCampo}" />
							</p:selectOneMenu>

							<h:outputLabel value="#{msg['Login']}: " />
							<p:inputText value="#{bean.entidade.login}" a:autoFocus="#{bean.focus}"/>
							
							<p:fieldset id="fieldSetAssociarPerfis"
									legend="#{msg['Associar_Perfis_ao_Usuario']}:">

									<p:pickList id="pojoPickList"
										value="#{bean.listaPerfisDoUsuario}" var="perfil"
										effect="bounce" itemValue="#{perfil}"
										itemLabel="#{perfil.descricao}"
										responsive="true"
										converter="#{bean.perfilConversor}" showSourceControls="true"
										showTargetControls="true" showSourceFilter="true"
										showTargetFilter="true" filterMatchMode="contains">

										<f:facet name="sourceCaption">#{msg['Disponiveis']}</f:facet>
										<f:facet name="targetCaption">#{msg['Selecionado']}</f:facet>

										<p:column width="100">  
								            #{perfil.descricao}  
								        </p:column>
									</p:pickList>
								</p:fieldset>

						</p:panelGrid>
					</div>
					
					<div class="EmptyBox30" />
					<div
						class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
						<p:commandButton id="btn_fechar_persistir_cadastrar"
							value="#{msg['Cadastrar']}"
							icon="ui-icon-disk fa fa-save Fs14 white"
							action="#{bean.cadastrar(bean.entidade)}"
							update=":#{p:component('formularioMensagens')}, :panelGroupDetalhe, :panelGroupPersistir, :fieldSetConsulta"
							rendered="#{bean.entidade.id == null}" ajax="false" />
						<p:commandButton id="btn_fechar_persistir_alterar"
							value="#{msg['Alterar']}"
							icon="ui-icon-edit fa fa-edit Fs14 white"
							action="#{bean.alterar(bean.entidade)}" styleClass="BlueButton"
							update=":#{p:component('formularioMensagens')}, :panelGroupDetalhe, :panelGroupPersistir, :fieldSetConsulta"
							rendered="#{bean.entidade.id != null}" ajax="false" />
						<p:commandButton id="btn_fechar_persistir"
							value="#{msg['Fechar']}"
							icon="fa fa-close Fs14 white"
							action="#{bean.fecharCadastro()}"  styleClass="RedButton"
							update=":#{p:component('formularioMensagens')}, :panelGroupPersistir, :fieldSetConsulta"
							ajax="false" />
					</div>
				</h:form>
				</p:fieldset>
				<p:spacer height="20" />
		</h:panelGroup>

		<h:panelGroup id="panelGroupDetalhe">
			<div class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">	
				<p:fieldset id="fieldSetEntidadeDetalhe" legend="#{msg['Detalhar']}"
					toggleable="true" toggleSpeed="500" collapsed="false"
					widgetVar="fieldsetDetalhar" rendered="#{bean.detalharVisivel}"
					styleClass="layout-portlets-box">
					<h:form id="formularioEntidadeDetalhe" prependId="false">
						<p:panelGrid id="panelGridGeradorCamposDetalhe" columns="2"
							cellpadding="0" cellspacing="10" styleClass="Wid100 - Responsive" layout="grid">

							<h:outputLabel value="#{msg['Nome']}: " />
							<h:outputText value="#{bean.entidade.pessoa.nome}"
								styleClass="black" />

							<h:outputLabel value="#{msg['Login']}: " />
							<h:outputText value="#{bean.entidade.login}" styleClass="black" />

							<h:outputLabel value="#{msg['Ultimo_Acesso']}: " />
							<h:outputText value="#{bean.entidade.ultimoAcesso}"
								styleClass="black">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>

						</p:panelGrid>
						<div class="EmptyBox30" />
						<div
							class="EmptyBox100{ display:block; width:100%; overflow:hidden;}">
							<p:commandButton id="btn_fechar_detalhe"
								icon="ui-icon-close fa fa-close Fs14 white"
								value="#{msg['Fechar']}"
								actionListener="#{bean.fecharDetalhe()}" styleClass="RedButton"
								update=":panelGroupDetalhe, :fieldSetConsulta" />
						</div>
					</h:form>
				</p:fieldset>
				<p:spacer height="20" />
			</div>
		</h:panelGroup>
	</ui:define>
</ui:composition>
