<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/paginas/template/layout_login.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:componentes="http://java.sun.com/jsf/composite/componentes">
	
	<ui:define name="content">
			<div class="Container90 Fnone MarAuto TexAlCenter">
				<h:form id="loginForm" prependId="false">
				  <div class="EmptyBox20"></div>
					<div class="EmptyBox20"></div>
					<p:inputText id="j_username"  placeholder="#{msg['Usuario']}" styleClass="Container80 Fnone MarAuto Fs18" required="true"/>
					<h:message for="j_username" display="text" style="color:red" message="O login é obrigatório"/>
					<div class="EmptyBox10"></div>
					<p:password  id="j_password"  placeholder="#{msg['Senha']}" styleClass="Container80 Fnone MarAuto Fs18" feedback="false" required="true"/>
					<div class="EmptyBox20"></div>
					<h:message for="j_password" display="text" style="color:red" message="A senha é obrigatória"/>
                    <div class="EmptyBox30"></div>
						<p:commandButton value="#{msg['Entrar']}" type="submit" 
							action="#{loginBean.doLogin}" 
							actionListener="#{themeView.change('blue')}"
							ajax="false"/>
					<div class="EmptyBox10"></div>
                    <div class="Seperator"></div>
                    <div class="EmptyBox10"></div>
                    </h:form>
                    <h:form id="formRecuperarSenha">
	                <p:commandButton  value="#{msg['Esqueceu_a_senha']}" styleClass="Fs16 RedButton" href="dashboard.xhtml"  onclick="PF('dlg1').show();"/>
					<p:dialog header="#{msg['Esqueceu_a_senha']}" widgetVar="dlg1" modal="true" height="200">
						<h:panelGrid columns="1" style="padding: 3px">
							<h:outputLabel value="#{msg['Digite_seu_email']}: "/>
							<p:inputText id="turkishFeedback"  value="#{recuperarSenha.email}"/>
							<h:outputLabel value="#{msg['Empresa']}: " />
							<p:selectOneMenu value="#{recuperarSenha.empresa}" effect="fade"
								id="Empresa" converter="#{recuperarSenha.empresaConversor}" filter="true"
								style="width: 9em;">
								<f:selectItem itemLabel="#{msg['Selecione']}"
									itemValue="#{null}" />
								<f:selectItems value="#{recuperarSenha.listaEmpresas}" var="item"
									itemLabel="#{item.labelCampo}" itemValue="#{item.objetoCampo}" />
							</p:selectOneMenu>
							<p:commandButton value="#{msg['Recuperar']}"
								icon="ui-icon-disk fa fa-save Fs14 white"
								actionListener="#{recuperarSenha.esqueceuSenha()}"
								oncomplete="PF('dlg1').hide();"
								update="formularioMensagens"/>
						</h:panelGrid>
					</p:dialog>
					<div class="EmptyBox50"></div>
	            </h:form>
			</div>
	</ui:define>
</ui:composition>




