<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>Cinemática Esportiva</title>

        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

        <style>
            #menu-button{height:25px; width:25px; float:left; display:block; text-align:center; cursor:pointer; margin-left:21px; margin-top:9px;}
            #menu-button i{color:#3B3D3F; font-size:20px; margin:0px auto 0px auto; vertical-align:middle;}
            #menu-button:hover i, #menu-button:active i, #menu-button:focus i{color:rgba(0,0,0,0.6);}
            #menubody{width:270px; height:auto; background-color:#fff; position:absolute; overflow:hidden; border-radius:5px; margin-top:30px; display:none;
                      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
                      -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
                      -moz-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);}
            #menubody.active{display:block;}
            #menubody li{display:block; padding:0px;}
            #menubody li a{display:block; padding:15px 20px; color:#3B3D3F; font-size:14px;}
            #menubody li a:hover, #menubody li a:active, #menubody li a:focus{background-color:#f2f2f2;}
        </style>
    </h:head>

    <h:body style="margin: 0px; background-color:#fff;" styleClass="BlueBody PopupMenu">

        <div id='menu' class="Responsive100 PosFixed  FontRalewaySemiBold ShadowGray" style="z-index:999; background-color:rgba(255,255,255,0.9); width:100%;">
            <div class="EmptyBox20"></div>
            <div class="Wid90 OvHidden MarAuto">
                <a href="#"><h:graphicImage name="images/LOGO.png" styleClass="Fleft" library="spark-layout" id="logo" class="Fleft" 
        	   style="margin:auto auto 0px auto;"/></a>

                <a id="menu-button"><i class="fa fa-bars"></i></a>
                <ul class="" style="padding:0px;" id="menubody">
                    <li class=""><a href="#spark-highlight" class="">Home</a></li>
                  <!--   <li class=""><a href="#spark-cardsArea" class=""> How It Works</a></li>
                    <li class=""><a href="#spark-infoArea" class=""> Try Now !</a></li>
                    <li class=""><a href="#spark-pricingtables" class="">Pricing Tables</a></li>
                    <li class=""><a href="#spark-features" class="">Features</a></li>
                    <li class=""><a href="#spark-customers" class="">Customers</a></li>  -->
                    <li class=""><a href="login.xhtml" class="">Sistema</a></li>
                    <li class=""><a href="#spark-contact" class="">Contato</a></li> 
                </ul>
            </div>
            <div class="EmptyBox20"></div>
        </div>
        
        <div class="Container100" id="spark-highlight" style="padding:3rem 0px; background-color: #5FCF80;" />
        <!-- 

        <div class="Container100" id="spark-highlight" style="padding:10rem 0px; background-color: #5FCF80;">

            <div class="Wid90 OvHidden MarAuto">
                <div class="Container100">
                    <div class="EmptyBox90"></div>
                    <h1 class=" FontRalewaySemiBold Fs50 white TexAlCenter">YOUR APPLICATION SLOGAN COMES HERE</h1>
                    <div class="EmptyBox20"></div>
                    <span class="DispBlock Fs24 FontRalewayRegular white TexAlCenter">“ You can use this page as a promotion page template for your application.<br/>
                        So your web application and promotion website of application will work in complete harmony. ”</span>
                    <div class="EmptyBox40"></div>
                    <div class="Wid50 MarAuto ui-fluid Responsive100">
                        <div class="Container50 Responsive100"><div class="ContainerIndent"><p:commandButton value="Create Free Account" styleClass="RedButton Fs18"/></div></div>
                        <div class="Container50 Responsive100"><div class="ContainerIndent"><p:commandButton value="Learn More" styleClass="BlueButton Fs18"/></div></div>
                    </div>

                    <div class="EmptyBox20 ShowOnMobile"></div>
                    <div class="EmptyBox120 ShowOnDesktop"></div>
                </div>
            </div>
        </div> -->

        <!-- -->

      <!--  <div class="Container100 " id="spark-cardsArea" style="background-color:#F0F2F5; padding:0px 3rem; box-sizing:border-box;">

            <div class="EmptyBox80"></div>

            <h1 class="FontRalewayMedium Fs30 gray TexAlCenter">How It Works ?</h1>
            <div class="EmptyBox30"></div>

            <div class="Wid90 OvHidden MarAuto">
                <div class="Container100">

                    <div class="Container50 Responsive50">
                        <div class="ContainerIndent">
                            <i class="fa fa-tachometer blue Fs60 DispBlock Fleft"></i>
                            <div class="Container10 Responsive50"><div class="ContainerIndent"></div></div>
                            <div class="Container70 Responsive50">
                                <h2 class="black FontRalewayRegular Fs30">1. Store Stats</h2>
                                <div class="EmptyBox10"></div>
                                <h3 class="navyblue FontRalewayRegular Fs20">Monitor the app ecosystem and your competitors.</h3>
                                <div class="EmptyBox20"></div>
                                <span class="navyblue Fs14 FontRalewayRegular">Vitae potenti ante praesent a dui eget nibh eu quam accumsan porttitor tincidunt 
                                    ultrices vel auctor aenean placerat viverra ac vel parturient tristique malesuada hac 
                                    conubia sed tincidunt.Quisque a imperdiet suspendisse parturient adipiscing justo sem a 
                                    in eros eros luctus a turpis urna sapien ullamcorper vulputate at mi.Dis vestibulum vel 
                                    lectus sed vestibulum consectetur vivamus a feugiat pharetra fames ullamcorper adipiscing 
                                    condimentum tempor egestas at at lacus.</span>
                                <div class="EmptyBox30"></div>
                                <div class="Container50 Responsive50 ui-fluid"><div class="ContainerIndent"><p:commandButton value="Learn More" styleClass="GreenButton Fleft"/></div></div>
                                <div class="Container50 Responsive50 ui-fluid"><div class="ContainerIndent"><p:commandButton value="Try Now" styleClass="CyanButton Fleft"/></div></div>
                            </div>
                            <div class="EmptyBox30"></div>
                        </div>
                    </div>

                    <div class="Container50 Responsive50">
                        <div class="ContainerIndent">
                            <i class="fa fa-server blue Fs60 DispBlock Fleft"></i>
                            <div class="Container10 Responsive50"><div class="ContainerIndent"></div></div>
                            <div class="Container70 Responsive50">
                                <h2 class="black FontRalewayRegular Fs30">2. Server Stats Pro</h2>
                                <div class="EmptyBox10"></div>
                                <h3 class="navyblue FontRalewayRegular Fs20">Monitor the app ecosystem and your competitors.</h3>
                                <div class="EmptyBox20"></div>
                                <span class="navyblue Fs14 FontRalewayRegular">Vitae potenti ante praesent a dui eget nibh eu quam accumsan porttitor tincidunt 
                                    ultrices vel auctor aenean placerat viverra ac vel parturient tristique malesuada hac 
                                    conubia sed tincidunt.Quisque a imperdiet suspendisse parturient adipiscing justo sem a 
                                    in eros eros luctus a turpis urna sapien ullamcorper vulputate at mi.Dis vestibulum vel 
                                    lectus sed vestibulum consectetur vivamus a feugiat pharetra fames ullamcorper adipiscing 
                                    condimentum tempor egestas at at lacus.</span>
                                <div class="EmptyBox30"></div>
                                <div class="Container50 Responsive50 ui-fluid"><div class="ContainerIndent"><p:commandButton value="Learn More" styleClass="GreenButton Fleft"/></div></div>
                                <div class="Container50 Responsive50 ui-fluid"><div class="ContainerIndent"><p:commandButton value="Try Now" styleClass="CyanButton Fleft"/></div></div>
                            </div>
                            <div class="EmptyBox30"></div>
                        </div>
                    </div>

                    <div class="Container50 Responsive50">
                        <div class="ContainerIndent">
                            <i class="fa fa-gamepad blue Fs60 DispBlock Fleft"></i>
                            <div class="Container10 Responsive50"><div class="ContainerIndent"></div></div>
                            <div class="Container70 Responsive50">
                                <h2 class="black FontRalewayRegular Fs30">3. Store Statistics</h2>
                                <div class="EmptyBox10"></div>
                                <h3 class="navyblue FontRalewayRegular Fs20">Monitor the app ecosystem and your competitors.</h3>
                                <div class="EmptyBox20"></div>
                                <span class="navyblue Fs14 FontRalewayRegular">Vitae potenti ante praesent a dui eget nibh eu quam accumsan porttitor tincidunt 
                                    ultrices vel auctor aenean placerat viverra ac vel parturient tristique malesuada hac 
                                    conubia sed tincidunt.Quisque a imperdiet suspendisse parturient adipiscing justo sem a 
                                    in eros eros luctus a turpis urna sapien ullamcorper vulputate at mi.Dis vestibulum vel 
                                    lectus sed vestibulum consectetur vivamus a feugiat pharetra fames ullamcorper adipiscing 
                                    condimentum tempor egestas at at lacus.</span>
                                <div class="EmptyBox30"></div>
                                <div class="Container50 Responsive50 ui-fluid"><div class="ContainerIndent"><p:commandButton value="Learn More" styleClass="GreenButton Fleft"/></div></div>
                                <div class="Container50 Responsive50 ui-fluid"><div class="ContainerIndent"><p:commandButton value="Try Now" styleClass="CyanButton Fleft"/></div></div>
                            </div>
                            <div class="EmptyBox30"></div>
                        </div>
                    </div>

                    <div class="Container50 Responsive50">
                        <div class="ContainerIndent">
                            <i class="fa fa-user-secret blue Fs60 DispBlock Fleft"></i>
                            <div class="Container10 Responsive50"><div class="ContainerIndent"></div></div>
                            <div class="Container70 Responsive50">
                                <h2 class="black FontRalewayRegular Fs30">4. Usage Datas</h2>
                                <div class="EmptyBox10"></div>
                                <h3 class="navyblue FontRalewayRegular Fs20">Monitor the app ecosystem and your competitors.</h3>
                                <div class="EmptyBox20"></div>
                                <span class="navyblue Fs14 FontRalewayRegular">Vitae potenti ante praesent a dui eget nibh eu quam accumsan porttitor tincidunt 
                                    ultrices vel auctor aenean placerat viverra ac vel parturient tristique malesuada hac 
                                    conubia sed tincidunt.Quisque a imperdiet suspendisse parturient adipiscing justo sem a 
                                    in eros eros luctus a turpis urna sapien ullamcorper vulputate at mi.Dis vestibulum vel 
                                    lectus sed vestibulum consectetur vivamus a feugiat pharetra fames ullamcorper adipiscing 
                                    condimentum tempor egestas at at lacus.</span>
                                <div class="EmptyBox30"></div>
                                <div class="Container50 Responsive50 ui-fluid"><div class="ContainerIndent"><p:commandButton value="Learn More" styleClass="GreenButton Fleft"/></div></div>
                                <div class="Container50 Responsive50 ui-fluid"><div class="ContainerIndent"><p:commandButton value="Try Now" styleClass="CyanButton Fleft"/></div></div>
                            </div>
                            <div class="EmptyBox30"></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="EmptyBox50"></div>

        </div>
 -->
        <!-- 

        <div class="Container100 greenback" id="spark-infoArea" style="padding:0px 3rem; box-sizing:border-box; background-color:#2AA79C;">

            <div class="EmptyBox80"></div>

            <h1 class="FontRalewayMedium Fs30 white TexAlCenter">Try Now !</h1>
            <div class="EmptyBox30"></div>

            <div class="Wid90 OvHidden MarAuto">
                <div class="Container100">

                    <div class="Wid70 WidAutoOnMobile MarAuto white Fs20 TexAlCenter FontRalewayRegular">Create your free account to get access to historical ranks and reviews<br/>
                        To check out just top charts and daily ranks, go to Store Stats now !
                        <div class="EmptyBox20"></div>
                        <p:commandButton value="Create Free Account Now" styleClass="OrangeButton"/>
                    </div>

                </div>
            </div>

            <div class="EmptyBox50"></div>

        </div>
-->
        <!--

        <div class="Container100 " id="spark-pricingtables" style="background-color:#94A7B7; padding:0px 3rem; box-sizing:border-box;">

            <div class="EmptyBox80"></div>

            <h1 class="FontRalewayMedium Fs30 white TexAlCenter">Pricing Tables</h1>
            <div class="EmptyBox30"></div>

            <div class="Wid90 MarAuto Responsive100  ">

                <div class="Container25 TexAlCenter Responsive50 ">
                    <div class="ContainerIndent">
                        <div class="layout-portlets-box  GreenBorderedBox">
                            <div class="EmptyBox20"></div>
                            <div class="Container100 FontDosisSemibold navyblue" style="font-size:1.4rem;">Standard</div>
                            <div class="Seperator"></div>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            <div class="Container100 FontRalewayRegular navyblue" style="font-size:3rem;">$2<span class="Fs30 leaden">/mo*</span></div>
                            <div class="Container100 FontRalewayRegular leaden Fs16">Basic customer support for<br/> small business</div>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            <div class="Seperator"></div>
                            <div class="Container100 FontRalewayRegular leaden Fs16">$25 for monthly</div>
                            <div class="EmptyBox20"></div>
                            <div class="Container100 ui-fluid"> <p:button value="Get Started" styleClass="GreenButton Fleft"/> </div>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                        </div>
                    </div>
                </div>

                <div class="Container25 TexAlCenter Responsive50 ">
                    <div class="ContainerIndent">
                        <div class="layout-portlets-box  OrangeBorderedBox">
                            <div class="EmptyBox20"></div>
                            <div class="Container100 FontDosisSemibold orange" style="font-size:1.4rem;">Pro</div>
                            <div class="Seperator"></div>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            <div class="Container100 FontRalewayRegular navyblue" style="font-size:3rem;">$3<span class="Fs30 leaden">/mo*</span></div>
                            <div class="Container100 FontRalewayRegular leaden Fs16">All-in-one customer support<br/> for small business</div>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            <div class="Seperator"></div>
                            <div class="Container100 FontRalewayRegular leaden Fs16">$35 for monthly</div>
                            <div class="EmptyBox20"></div>
                            <div class="Container100 ui-fluid"> <p:button value="Get Started" styleClass="OrangeButton Fleft"/> </div>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                        </div>
                    </div>
                </div>

                <div class="Container25 TexAlCenter Responsive50 ">
                    <div class="ContainerIndent">
                        <div class="layout-portlets-box  GreenBorderedBox">
                            <div class="EmptyBox20"></div>
                            <div class="Container100 FontDosisSemibold navyblue" style="font-size:1.4rem;">Business</div>
                            <div class="Seperator"></div>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            <div class="Container100 FontRalewayRegular navyblue" style="font-size:3rem;">$15<span class="Fs30 leaden">/mo*</span></div>
                            <div class="Container100 FontRalewayRegular leaden Fs16">Business class customer <br/>support + One to one help</div>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            <div class="Seperator"></div>
                            <div class="Container100 FontRalewayRegular leaden Fs16">$155 for monthly</div>
                            <div class="EmptyBox20"></div>
                            <div class="Container100 ui-fluid"> <p:button value="Get Started" styleClass="GreenButton Fleft"/> </div>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                        </div>
                    </div>
                </div>

                <div class="Container25 TexAlCenter Responsive50 ">
                    <div class="ContainerIndent">
                        <div class="layout-portlets-box  GreenBorderedBox">
                            <div class="EmptyBox20"></div>
                            <div class="Container100 FontDosisSemibold navyblue" style="font-size:1.4rem;">Business Plus</div>
                            <div class="Seperator"></div>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            <div class="Container100 FontRalewayRegular navyblue" style="font-size:3rem;">$50<span class="Fs30 leaden">/mo*</span></div>
                            <div class="Container100 FontRalewayRegular leaden Fs16">Business class customer <br/>support + One to one help</div>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            <div class="Seperator"></div>
                            <div class="Container100 FontRalewayRegular leaden Fs16">$555 for monthly</div>
                            <div class="EmptyBox20"></div>
                            <div class="Container100 ui-fluid"> <p:button value="Get Started" styleClass="GreenButton Fleft"/> </div>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="EmptyBox50"></div>

        </div>
 -->
        <!-- 

        <div class="Container100 " id="spark-features" style="padding:0px 3rem; box-sizing:border-box; background-color:#fff;">

            <div class="EmptyBox80"></div>

            <h1 class="FontRalewayMedium Fs30 gray TexAlCenter">Features</h1>
            <div class="EmptyBox30"></div>

            <div class="Wid90 MarAuto">

                <div class="Container20 Responsive TexAlCenter">
                    <div class="ContainerIndent">
                        <div class="Container100">
                            <i class="fa fa-desktop blue Wid100" style="font-size:4rem;"></i>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            <div class="FontRalewayRegular green" style="font-size:1.6rem;">HTML5 &amp; CSS3</div>
                            <div class="Wid100 OvHidden" style="height:1rem;"></div>
                            <div class="FontRalewayRegular navyblue Fs14">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
                            <div class="Wid100 OvHidden" style="height:3rem;"></div>
                        </div>
                    </div>
                </div>

                <div class="Container20 Responsive TexAlCenter">
                    <div class="ContainerIndent">
                        <div class="Container100">
                            <i class="fa fa-university blue Wid100" style="font-size:4rem;"></i>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            <div class="FontRalewayRegular green" style="font-size:1.6rem;">Cross-Browser</div>
                            <div class="Wid100 OvHidden" style="height:1rem;"></div>
                            <div class="FontRalewayRegular navyblue Fs14">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
                            <div class="Wid100 OvHidden" style="height:3rem;"></div>
                        </div>
                    </div>
                </div>

                <div class="Container20 Responsive TexAlCenter">
                    <div class="ContainerIndent">
                        <div class="Container100">
                            <i class="fa fa-mobile-phone blue Wid100" style="font-size:4rem;"></i>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            <div class="FontRalewayRegular green" style="font-size:1.6rem;">Responsive</div>
                            <div class="Wid100 OvHidden" style="height:1rem;"></div>
                            <div class="FontRalewayRegular navyblue Fs14">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
                            <div class="Wid100 OvHidden" style="height:3rem;"></div>
                        </div>
                    </div>
                </div>

                <div class="Container20 Responsive TexAlCenter">
                    <div class="ContainerIndent">
                        <div class="Container100">
                            <i class="fa fa-hand-o-up blue Wid100" style="font-size:4rem;"></i>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            <div class="FontRalewayRegular green" style="font-size:1.6rem;">Handcrafted</div>
                            <div class="Wid100 OvHidden" style="height:1rem;"></div>
                            <div class="FontRalewayRegular navyblue Fs14">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
                            <div class="Wid100 OvHidden" style="height:3rem;"></div>
                        </div>
                    </div>
                </div>

                <div class="Container20 Responsive TexAlCenter">
                    <div class="ContainerIndent">
                        <div class="Container100">
                            <i class="fa fa-cogs blue Wid100" style="font-size:4rem;"></i>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            <div class="FontRalewayRegular green" style="font-size:1.6rem;">Rock-Solid</div>
                            <div class="Wid100 OvHidden" style="height:1rem;"></div>
                            <div class="FontRalewayRegular navyblue Fs14">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
                            <div class="Wid100 OvHidden" style="height:3rem;"></div>
                        </div>
                    </div>
                </div>

                <div class="Container20 Responsive TexAlCenter">
                    <div class="ContainerIndent">
                        <div class="Container100">
                            <i class="fa fa-desktop blue Wid100" style="font-size:4rem;"></i>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            <div class="FontRalewayRegular green" style="font-size:1.6rem;">HTML5 &amp; CSS3</div>
                            <div class="Wid100 OvHidden" style="height:1rem;"></div>
                            <div class="FontRalewayRegular navyblue Fs14">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
                            <div class="Wid100 OvHidden" style="height:3rem;"></div>
                        </div>
                    </div>
                </div>

                <div class="Container20 Responsive TexAlCenter">
                    <div class="ContainerIndent">
                        <div class="Container100">
                            <i class="fa fa-university blue Wid100" style="font-size:4rem;"></i>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            <div class="FontRalewayRegular green" style="font-size:1.6rem;">Cross-Browser</div>
                            <div class="Wid100 OvHidden" style="height:1rem;"></div>
                            <div class="FontRalewayRegular navyblue Fs14">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
                            <div class="Wid100 OvHidden" style="height:3rem;"></div>
                        </div>
                    </div>
                </div>

                <div class="Container20 Responsive TexAlCenter">
                    <div class="ContainerIndent">
                        <div class="Container100">
                            <i class="fa fa-mobile-phone blue Wid100" style="font-size:4rem;"></i>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            <div class="FontRalewayRegular green" style="font-size:1.6rem;">Responsive</div>
                            <div class="Wid100 OvHidden" style="height:1rem;"></div>
                            <div class="FontRalewayRegular navyblue Fs14">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
                            <div class="Wid100 OvHidden" style="height:3rem;"></div>
                        </div>
                    </div>
                </div>

                <div class="Container20 Responsive TexAlCenter">
                    <div class="ContainerIndent">
                        <div class="Container100">
                            <i class="fa fa-hand-o-up blue Wid100" style="font-size:4rem;"></i>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            <div class="FontRalewayRegular green" style="font-size:1.6rem;">Handcrafted</div>
                            <div class="Wid100 OvHidden" style="height:1rem;"></div>
                            <div class="FontRalewayRegular navyblue Fs14">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
                            <div class="Wid100 OvHidden" style="height:3rem;"></div>
                        </div>
                    </div>
                </div>

                <div class="Container20 Responsive TexAlCenter">
                    <div class="ContainerIndent">
                        <div class="Container100">
                            <i class="fa fa-cogs blue Wid100" style="font-size:4rem;"></i>
                            <div class="Wid100 OvHidden" style="height:2rem;"></div>
                            <div class="FontRalewayRegular green" style="font-size:1.6rem;">Rock-Solid</div>
                            <div class="Wid100 OvHidden" style="height:1rem;"></div>
                            <div class="FontRalewayRegular navyblue Fs14">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
                            <div class="Wid100 OvHidden" style="height:3rem;"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="EmptyBox50"></div>

        </div>
-->
        <!--

        <div class="Container100 " id="spark-customers" style="background-color:#F0F2F5; padding:0px 3rem; box-sizing:border-box;">

            <div class="EmptyBox80"></div>

            <h1 class="FontRalewayMedium Fs30 gray TexAlCenter">Hundreds Of Thousands Of Customers Trust Us !</h1>
            <div class="EmptyBox30"></div>
            <div class="Wid80 MarAuto">

                <div class="Container33 Responsive50">
                    <div class="ContainerIndent">
                        <div class="Container100 TexAlCenter">
                            <div class="EmptyBox20"></div>
                            <h:graphicImage name="images/avatar1.svg" library="spark-layout" style="width:150px; height:150px;"/>
                            <div class="EmptyBox20"></div>
                            <span class="DispBlock navyblue FontRalewayRegular">"We realized Spark was a great tool that would give us more insights
                                on both a strategic and technical level, so we could make more intelligent business decisions."</span>
                            <div class="EmptyBox20"></div>
                            <span class="FontRalewayMedium DispBlock gray">—Luke Skywalker, Vice President of Operations</span>
                        </div>
                    </div>
                </div>
                <div class="Container33 Responsive50">
                    <div class="ContainerIndent">
                        <div class="Container100 TexAlCenter">
                            <div class="EmptyBox20"></div>
                            <h:graphicImage name="images/avatar2.svg" library="spark-layout" style="width:150px; height:150px;"/>
                            <div class="EmptyBox20"></div>
                            <span class="DispBlock navyblue FontRalewayRegular">"We realized Spark was a great tool that would give us more insights
                                on both a strategic and technical level, so we could make more intelligent business decisions."</span>
                            <div class="EmptyBox20"></div>
                            <span class="FontRalewayMedium DispBlock gray">—Luke Skywalker, Vice President of Operations</span>
                        </div>
                    </div>
                </div>
                <div class="Container33 Responsive50">
                    <div class="ContainerIndent">
                        <div class="Container100 TexAlCenter">
                            <div class="EmptyBox20"></div>
                            <h:graphicImage name="images/avatar1.svg" library="spark-layout" style="width:150px; height:150px;"/>
                            <div class="EmptyBox20"></div>
                            <span class="DispBlock navyblue FontRalewayRegular">"We realized Spark was a great tool that would give us more insights
                                on both a strategic and technical level, so we could make more intelligent business decisions."</span>
                            <div class="EmptyBox20"></div>
                            <span class="FontRalewayMedium DispBlock gray">—Luke Skywalker, Vice President of Operations</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="EmptyBox80"></div>

        </div>
 -->
        <!-- -->

        <div class="Container100" id="spark-contact">

            <p:gmap center="-9.6511692, -35.7118343" zoom="18" type="ROADMAP" style="width:100%;height:600px;"  model="#{pageBean.simpleModel}"/>

            <div class="Wid100 PosRelative MarAuto OvHidden" style="background-color:#fff;">
                <div class="Container100 TexAlCenter">
                    <div class="Wid100 OvHidden" style="height:2rem;"></div>
                    <!-- <div class="Wid100 MarAuto DispBlock OvHidden FontRalewayMedium gray" style="font-size:2.0rem;">Estamos Aqui !</div>  -->
                    <div class="Wid100 OvHidden" style="height:0.5rem;"></div>
                    <div class="Wid100 MarAuto DispBlock OvHidden FontRalewayRegular Fs20 gray">Av. Dr. Antônio Gomes de Barros, 1186. Jatiúca, Maceió - AL</div>
                    <div class="Wid100 OvHidden" style="height:1rem;"></div>
                    <div class="Wid100 MarAuto DispBlock OvHidden FontRalewayMedium gray" style="font-size:1.0rem;">(82) 3235-5176</div>
                    <div class="Wid100 OvHidden" style="height:2rem;"></div>
                </div>
            </div>

        </div>

        <!-- FOOTER -->
        <div class="Container100" style="background-color:#3B3D3F; box-sizing:border-box;">
            <div class="Container100" style="border-bottom:solid 1px #5B616B;" id="footerlinks">
                <div class="ContainerIndent OvHidden" style="padding:10px; box-sizing:border-box;">
                    <a href="#" class="DispInlBlock FontRalewayRegular white Fs14 Fleft "></a>
                    <span class="DispInlBlock Fleft Fs14 white" style="padding:0px 10px;"></span>
                    <a href="#" class="DispInlBlock FontRalewayRegular white Fs14 Fleft "></a>
                    <span class="DispInlBlock Fleft Fs14 white" style="padding:0px 10px;"></span>
                    <a href="#" class="DispInlBlock FontRalewayRegular white Fs14 Fleft "></a>
                    <span class="DispInlBlock Fleft Fs14 white" style="padding:0px 10px;"></span>
                    <a href="#" class="DispInlBlock FontRalewayRegular white Fs14 Fleft "></a>

                    <div class="EmptyBox10 ShowOnMobile"></div>
                    <span class="DispInlBlock FontRalewayRegular white Fs14 Fright  TexAlRight FloatNoneOnMobile"></span>
                </div>
            </div>

            <div class="Container100">
                <div class="ContainerIndent OvHidden" style="padding:10px; box-sizing:border-box;">
                    <a href="#"><h:graphicImage name="images/LOGO.png" styleClass="Fleft" library="spark-layout" id="logo" class="Fleft" /></a>
                    <span class="DispInlBlock FontRalewayRegular white Fs12 Fright  TexAlRight"><br/> contato@cinematicafisioesaude.com.br
                        <br/><br/> Copyright © 2016 <i class="icon-primitive-dot Fs10 white"></i>Todos os direitos reservados.</span>
                </div>
            </div>

            <div class="EmptyBox30"></div>
        </div>

        <h:outputStylesheet name="css/core-layout.css" library="spark-layout" />
        <h:outputStylesheet name="css/font-awesome.css" library="spark-layout" />
        <h:outputStylesheet name="css/animate.css" library="spark-layout" />
        <h:outputStylesheet name="css/spark-layout.css" library="spark-layout" />
        
        <script>
            // FNC for detecting for click outside of any elements ============== 
            $.fn.clickOff = function (callback, selfDestroy) {
                var clicked = false;
                var parent = this;
                var destroy = selfDestroy || true;

                parent.click(function () {
                    clicked = true;
                });

                $(document).click(function (event) {
                    if (!clicked) {
                        callback(parent, event);
                    }
                    if (destroy) {
                    }
                    ;
                    clicked = false;
                });
            };
			
            var menubtn = $(document.getElementById("menu-button")),
                    menubody = $(document.getElementById("menubody")),
                    menuContainer = $(document.getElementById("menu")),
                    menustatus = true,
                    menuButtonClick = false;

            menubtn.on("click", function () {
                menuButtonClick = true;

                if (menustatus) {
                    menubody.addClass('active');
                    menustatus = false;
                } else {
                    menubody.removeClass('active');
                    menustatus = true;
                }
            });

            menubody.clickOff(function (e) {
                if (menuButtonClick) {
                    menuButtonClick = false;
                }
                else {
                    menubody.removeClass('active');
                    menustatus = true;
                }
            });
        </script>
    </h:body>

</html>